@{
    ViewBag.Title = "Partner Management";
    Layout = "~/Views/SharedWeb/vmp.cshtml";
}
@section css{
    <link rel="stylesheet" href="http://design.maa-aahwanam.com/panagea/css/customstyles1.css">

}

<div class="col-md-10">
    <div class="row">
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <h5 class="card-title">Business Details</h5>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Business Name">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Website URL">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Business Phone No">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Business Email">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Business Flat no">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Business Locality">
                            </div>
                            <div class="form-group col-md-12">

                                <input type="text" class="form-control" id="inputtext" placeholder="Fax Number">
                            </div>
                        </div>


                    </form>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <h5 class="card-title">Contact Person Details</h5>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Designation">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Mobile Number">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">

                                <input type="text" class="form-control" id="inputtext" placeholder="Email">
                            </div>

                        </div>


                    </form>
                    <a href="#" class="btn btn-primary" id="btn-primary">Submit</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <h5 class="card-title">Bank Details</h5>
                    <form>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="PAN Number">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="GSTIN">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Bank Name">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="Bank Branch Name">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="A/C Holder Name">
                            </div>
                            <div class="form-group col-md-6">

                                <input type="text" class="form-control" id="inputtext" placeholder="IFSC CODE">
                            </div>
                            <div class="form-group col-md-12">

                                <input type="text" class="form-control" id="inputtext" placeholder="Account Number">
                            </div>
                        </div>


                    </form>
                    <a href="#" class="btn btn-primary">Submit</a>
                </div>
            </div>
        </div>
    </div>
</div>