@{
    ViewBag.Title = "Partner Management";
    Layout = "~/Views/SharedWeb/vmp.cshtml";
}
@section css{
    <link href="~/newdesignstyles/css/reseller.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    @*<link href="~/newdesignstyles/MDB-Free_4.5.12/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
    @*<link href="~/newdesignstyles/MDB-Free_4.5.12/css/mdb.min.css" rel="stylesheet" />*@
}




<div class="col-md-10">
    <div class="row">
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Business Details</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm" id="btnbusiness">Save</button>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="hidden" id="PartnerID" name="PartnerID" value="" />
                                <input type="hidden" id="VendorId" name="VendorId" value="@ViewBag.masterid" />
                                <input type="text" id="BusinessName" class="form-control input-sm">
                                <label for="BusinessName">Business Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Email" class="form-control input-group-sm">
                                <label for="Email">Email</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="PhoneNumber" class="form-control mr-sm-3">
                                <label for="PhoneNumber">Phone Number</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Address" class="form-control mr-sm-3">
                                <label for="Address">Address</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="City" class="form-control mr-sm-3">
                                <label for="City">City</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="State" class="form-control mr-sm-3">
                                <label for="State">State</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Country" class="form-control mr-sm-3">
                                <label for="Country">Country</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="faxnumber" class="form-control mr-sm-3">
                                <label for="faxnumber">Fax Number</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="url" class="form-control mr-sm-3">
                                <label for="url">Website Url</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Contact Details</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="firstName" class="form-control mr-sm-3">
                                <label for="firstName">First Name</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="lastname" class="form-control mr-sm-3">
                                <label for="lastname">Last Name</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Designation" class="form-control mr-sm-3">
                                <label for="Designation">Designation</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="mobileno" class="form-control mr-sm-3">
                                <label for="mobileno">Phone Number</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="email" class="form-control mr-sm-3">
                                <label for="email">Email</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div id="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">Bank Details</h5>
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-primary btn-sm">Save</button>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="panno" class="form-control mr-sm-3">
                                <label for="panno">PAN Number</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="Gst" class="form-control mr-sm-3">
                                <label for="Gst">GSTIN</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="bankname" class="form-control mr-sm-3">
                                <label for="bankname">Bank Name</label>

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="bankbranchname" class="form-control mr-sm-3">
                                <label for="bankbranchname">Bank Branch Name</label>

                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="accholdername" class="form-control mr-sm-3">
                                <label for="accholdername">A/C Holder Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="ifsccode" class="form-control mr-sm-3">
                                <label for="ifsccode">IFSC CODE</label>


                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="md-form form-sm mt-0">
                                <input type="text" id="accountno" class="form-control mr-sm-3">
                                <label for="accountno">Account Number</label>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        @*<div class="">*@
            <div class=" white-wrapper row mx-0">
                <div class="col-md-12 col-sm-6">
                    <table class="table table" id="table-text">
                        <thead>
                            <tr>
                                <th id="head-section">Service Name</th>
                                <th id="head-section">Package Name</th>
                                <th id="head-section">
                                    Sale Price
                                    <table id="prices">
                                        <tbody>
                                            <tr>
                                                <th>Normal</th>
                                                <th>Peak</th>
                                                <th>Holiday</th>
                                                <th>Choice</th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </th>
                                <th id="head-section">Expiry</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        @*</div>*@
        @foreach (var item in ViewBag.package)
        {
            <div class="accordion mt-2">
                <div class="row">
                    <div class="col-xs-6 col-md-2 col-sm-3">
                        <span>Packages Price</span>
                    </div>
                    <div class="col-xs-3 col-md-3 col-sm-3">
                        <span id="span-package-1">@item.PackageName</span>
                    </div>
                    <div class="col-xs-6  col-md-5 col-sm-3">
                        <table id="prices-accordion">
                            <tbody>
                                <tr>
                                    <td>₹@item.normaldays</td>
                                    <td>₹@item.peakdays</td>
                                    <td>₹@item.holidays </td>
                                    <td>₹@item.choicedays </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="type" id="radio1" value="commission" checked> commission <br>
                                        <input type="radio" name="type" id="radio2" value="slab/Flat rate"> slab/Flat rate
                                    </td>
                                    <td>
                                        <input type="radio" name="type" id="radio1" value="commission" checked> commission <br>
                                        <input type="radio" name="type" id="radio2" value="slab/Flat rate"> slab/Flat rate
                                    </td>
                                    <td>
                                        <input type="radio" name="type" id="radio1" value="commission" checked> commission <br>
                                        <input type="radio" name="type" id="radio2" value="slab/Flat rate"> slab/Flat rate
                                    </td>
                                    <td>
                                        <input type="radio" name="type" id="radio1" value="commission" checked> commission <br>
                                        <input type="radio" name="type" id="radio2" value="slab/Flat rate"> slab/Flat rate
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="text" class="price" value="10%"></td>
                                    <td><input type="text" class="price" value="10%"></td>
                                    <td><input type="text" class="price" value="10%"></td>
                                    <td><input type="text" class="price" value="10%"></td>
                                </tr>

                            </tbody>
                        </table>
                        <button class="btn btn-primary btn-sm" style="float:right">Save</button>

                    </div>
                        <div class="col-xs-6  col-md-2 col-sm-3">
                            <input type="text" style="width:80%" />
</div>
                    </div>
                </div>
    }

</div>
</div>


<!-- JQuery -->
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/popper.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>*@
<!-- Bootstrap core JavaScript -->
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/bootstrap.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>*@
<!-- MDB core JavaScript -->
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/mdb.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>*@




<script>
    $('#btnbusiness').click(function () {
        var vendorid = $('#VendorId').val();
        var partner = {
            VendorId: $('#VendorId').val(),
            VendorType: $('#BusinessName').val(),
            url: $('#url').val(),
            phoneno: $('#PhoneNumber').val(),
            emailid: $('#Email').val(),
            address1: $('#Address').val(),
            address2: $('#City').val(),

        }
        $.ajax({
            url: '/ReSellerManagement/Index',
            type: 'POST',
            data: JSON.stringify({ partner: partner }),
            contentType: 'application/json',
            success: function (data) {
                if (data != null) {
                    alert("save is successfully");
                }
                else { alert("save is failed"); }
            },
            error: function (data) {
                alert("save is failed");
            }
        })
    })
</script>
