@{
    ViewBag.Title = "Partner Management";
    Layout = "~/Views/SharedWeb/vmp.cshtml";
}
@section css{
    <link href="~/newdesignstyles/css/reseller.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    @*<link href="~/newdesignstyles/MDB-Free_4.5.12/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/css/mdb.min.css" rel="stylesheet">
    @*<link href="~/newdesignstyles/MDB-Free_4.5.12/css/mdb.min.css" rel="stylesheet" />*@
}




    <div class="col-md-10">
        <input type="hidden" id="partid" name="partid" class="partid" value="" />
        <input type="hidden" id="VendorId" name="VendorId" value="@ViewBag.masterid" />
      



      


        <div class="container-fluid">
            @*<div class="">*@
            <div class=" white-wrapper row mx-0">
                @*<div class="accordion mt-2" style="backgrou: #1515a782">
                    <div class="row">
                        <div class="col-xs-6 col-md-2 col-sm-3" id="package">
                            @*<input type="hidden" name="packageid" id="packageid" value="@item.PackageID">
                            <span>Service Name</span>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3">
                            <span id="span-package-1">Package Name</span>
                        </div>
                        <div class="col-xs-6  col-md-5 col-sm-3">
                            Sale Price
                            <table id="prices-accordion">
                                <tbody>

                                    <tr>
                                        @*<td>₹@item.normaldays</td>
                                <td>₹@item.peakdays</td>
                                <td>₹@item.holidays </td>
                                <td>₹@item.choicedays </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Normal
                                        </td>
                                        <td>
                                            peaks day
                                        </td>
                                        <td>
                                            holiday
                                        </td>
                                        <td>
                                            choise day
                                        </td>
                                    </tr>


                                </tbody>
                            </table>

                        </div>
                        <div class="col-xs-6  col-md-2 col-sm-3">
                            expiry
                        </div>
                    </div>
                </div>*@

                <div class="col-md-12 col-sm-6">
            <table class="table table" id="table-text">
                <thead>
                    <tr>
                        <th id="head-section">Service Name</th>
                        <th id="head-section">Package Name</th>
                        <th id="head-section">
                            Sale Price
                            <table id="prices">
                                <tbody>
                                    <tr>
                                        <th>Normal</th>
                                        <th>Peak</th>
                                        <th>Holiday</th>
                                        <th>Choice</th>
                                    </tr>
                                </tbody>
                            </table>
                        </th>
                        <th id="head-section">Expiry</th>
                    </tr>
                </thead>

            </table>
        </div>
            </div>
            @*</div>*@
            @foreach (var item in ViewBag.package)
            {
                <div class="accordion mt-2">
                    <div class="row">
                        <div class="col-xs-6 col-md-2 col-sm-3" id="package">
                            <input type="hidden" name="packageid" id="packageid" value="@item.PackageID">
                            <span>Packages Price</span>
                        </div>
                        <div class="col-xs-3 col-md-3 col-sm-3">
                            <span id="span-package-1">@item.PackageName</span>
                        </div>
                        <div class="col-xs-6  col-md-5 col-sm-3">
                            <table id="prices-accordion">
                                <tbody>
                                    <tr>
                                        <td>₹@item.normaldays</td>
                                        <td>₹@item.peakdays</td>
                                        <td>₹@item.holidays </td>
                                        <td>₹@item.choicedays </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="radio" name="normal" id="radio1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="normal" id="radio2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="peakday" id="radio1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="peakday" id="radio2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="holidays" id="radio1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="holidays" id="radio2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                        <td>
                                            <input type="radio" name="choicedays" id="radio1" value="commission" checked><label> commission </label>
                                            <input type="radio" name="choicedays" id="radio2" value="slab/Flat rate"> <label>slab/Flat rate</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><input type="text" class="price" value="10%"></td>
                                        <td><input type="text" class="price" value="10%"></td>
                                        <td><input type="text" class="price" value="10%"></td>
                                        <td><input type="text" class="price" value="10%"></td>
                                    </tr>

                                </tbody>
                            </table>
                            <center>
                                <button class="btn btn-primary btn-sm savepackage">Save</button>
                            </center>
                        </div>
                        <div class="col-xs-6  col-md-2 col-sm-3">
                            <input type="text" style="width:80%;margin-left: 16%;" />
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>


<!-- JQuery -->
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/jquery-3.3.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/popper.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>*@
<!-- Bootstrap core JavaScript -->
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/bootstrap.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>*@
<!-- MDB core JavaScript -->
<script src="~/newdesignstyles/MDB-Free_4.5.12/js/mdb.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.11/js/mdb.min.js"></script>*@




<script>
    $('.btnbusiness').click(function () {
        var val = $(this).val();
        var vendorid = $('#VendorId').val();
        var partid = $('#partid').val();
        var partner = {
            PartnerID: $('#partid').val(),
            VendorId: $('#VendorId').val(),
            partnername: $('#BusinessName').val(),
            url: $('#url').val(),
            phoneno: $('#PhoneNumber').val(),
            emailid: $('#Email').val(),
            address1: $('#Address').val(),
            city: $('#City').val(),
            state: $('#State').val(),
            country: $('#Country').val(),
            cpfname: $('#firstName').val(),
            cplname: $('#lastname').val(),
            cpdesig: $('#Designation').val(),
            cpphoneno: $('#mobileno').val(),
            cpemailid: $('#email').val(),
            PAN: $('#panno').val(),
            GST: $('#Gst').val(),
            bankname: $('#bankname').val(),
            bankbranch: $('#bankbranchname').val(),
            AccountHolderName: $('#accholdername').val(),
            IFSC: $('#ifsccode').val(),
            AccountNumber: $('#accountno').val(),
            //state: $('State').val(),
        }
        $.ajax({
            url: '/ReSellerManagement/Index?command=' + val + '&&partid=' + partid,
            type: 'POST',
            data: JSON.stringify({ partner: partner }),
            contentType: 'application/json',
            success: function (data) {
                if (data != null) {
                    alert("save is successfully");
                    alert(data.PartnerID);
                 //   $('#PartnerID').val(data.PartnerID);
                    $('#partid').val(data.PartnerID);
                   // $("#Businessname").val(data.partnername);
                   //// $("#firstname").val(result.firstname);
                   // //$("#lastname").val(result.lastname);
                   // $("#Email").val(data.emailid);
                   // $("#PhoneNumber").val(data.phoneno);
                   // $("#Address").val(data.address1);
                   //// $("#adress2").val(result.adress2);
                   // $("#City").val(data.city);
                   // $("#State").val(data.state);
                   // $("#Country").val(data.country);
                   // //$("#pincode").val(result.pincode);
                   // //$("#Status").val(result.Status);
                }
                else { alert("save is failed"); }
            },
            error: function (data) {
                alert("save is failed");
            }
        })
    })

    $('.savepackage').click(function () {
       
        var packageid = $(this).parents("div#package").children('#packageid').val();
        alert(packageid);
    });
   
</script>
