
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Partner Resgistration</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/x-icon">

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">


    <!-- SPECIFIC CSS -->
    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom2.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">
    <link href="~/newdesign/css/alertify.css" rel="stylesheet" />
    <style>
        .modal {
            position: relative;
        }
    </style>

</head>
<body>

    <div id="page">

        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="/home">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">
                </a>
            </div>

            <ul id="top_menu"></ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
            </nav>
        </header>
        <!-- /header -->

        <main>
            <section>

                <img src="http://design.maa-aahwanam.com/panagea/images/team1.jpg" class="img-fluid" alt="Responsive image" style="width:1351px;height:584px;"> <h6 class="h6-image">List Your Business & Grow 10X</h6>
                <p style="margin-left: 345px;margin-top: -5px;color: #fff;font-size: 12px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut laboreet doloremagna aliqua<br>. Ut enim ad minim veniam consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
                <a href="#0" class="btn_2 add_top_30">
                    Let's Get Started
                </a>
                </img>
                <div class="col-md-6-1">
                    <div class="uk-column-1-2" style="margin-left:-169px;margin-top:-141px;">
                        <img src="http://design.maa-aahwanam.com/panagea/images/globe.png" style="margin-left:34px;"></img><p>
                            <br>GLOBAL EXPOSURE<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="http://design.maa-aahwanam.com/panagea/images/analytics.png" style="margin-left:34px;"></img><p>
                            <br>&emsp;ANALYTICS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="http://design.maa-aahwanam.com/panagea/images/growth.png" style="margin-left:34px;"></img><p>
                            <br>GROW BUSINESS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>


                    </div>
                    <div class="uk-column-1-2" style="margin-left:121px;margin-top:-436px;">
                        <img src="http://design.maa-aahwanam.com/panagea/images/payments.png" style="margin-left:34px;"></img><p>
                            <br>HASSLE FREE PAYMENTS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="http://design.maa-aahwanam.com/panagea/images/dashboard.png" style="margin-left:34px;"></img><p>
                            <br>POWERFUL DASHBOARD<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="http://design.maa-aahwanam.com/panagea/images/globe.png" style="margin-left:34px;"></img><p>
                            <br>EASY CONVERSATIONS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>


                    </div>
                    <div class="uk-column-1-2" style="margin-left:400px;margin-top:-440px;">
                        <img src="http://design.maa-aahwanam.com/panagea/images/cms.png" style="margin-left:34px;"></img><p>
                            <br>&emsp;&emsp;&emsp;CMS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="http://design.maa-aahwanam.com/panagea/images/conversation.png" style="margin-left:34px;"></img><p>
                            <br>EASY CONVERSATIONS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>
                        <img src="http://design.maa-aahwanam.com/panagea/images/globe.png" style="margin-left:34px;"></img><p>
                            <br>EASY CONVERSATIONS<br><br>Lorem ipsum dolor sit amet,<br>
                            consectetur adipiscing elit.
                        </p>


                    </div>
                    <div class="col-md-2-12">
                        <h6 class="h6-in-2" style="color:black;text-transform:uppercase">Register</h6>
                        <p style="margin-left: 107px;margin-top: -17px;">Already Got account?<a href="#" class="ui first">Login</a></p>
                        <div class="ui equal width form">
                            <div class="ui equal width form">
                                <div class="fields">
                                    <div class="eight field">
                                        <label></label>
                                        <input type="text" id="vname" name="vname" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="businessname" name="businessname" placeholder="Business Name">
                                </div>
                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="mobile" name="mobile" placeholder="Mobile">
                                </div>

                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="email" name="email" placeholder="Email Address">
                                </div>
                                
                                <a style="cursor:pointer;color:white" class="btn_3" id="btnregister">
                                    Register

                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>

        </main>
        <!--/main-->
        <div class="ui first coupled modal">
            <div class="header">
Welcome             </div>
            <div class="image content">
                
                <div class="description">
                    <p>Go ahead and fill out you business information</p>
                    <div class="businesstype"> <input type="checkbox" id="business" name="business" value="Individual"/><label>Individual</label><input type="checkbox" id="business" name="business" value="Business"/><label>Business</label> </div>
                        <label>Category of business</label>
                        <p><select class="form-control" id="serviceselection1" name="serviceselection1" style="height:40px">
    <option disabled selected>Select Service Type</option>
    <option value="Venue">Venue</option>
    <option value="Catering">Catering</option>
    <option value="Photography">Photography</option>
    <option value="Decorator">Decorator</option>
    <option value="Other">Others</option>
</select>  </p>
                </div>
            </div>
            <div class="actions">
                <div class="ui primary button" id="btnregister1">Proceed</div>
            </div>
        </div>
        <div class="ui small second coupled modal">
            <div class="header">
               Almost Done!!!
            </div>
            <div class="content">
                <div class="description">
                    <p>Please check you email and click on the activation link to activate and login to your account</p>
                </div>
            </div>
            <div class="actions">
                <div class="ui approve button">
                    <i class="checkmark icon"></i>
                    All Done
                </div>
            </div>
        </div>
    </div>
    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <script src="~/newdesign/js/alertify.js"></script>
    <script>
        $('.coupled.modal').modal({
            allowMultiple: false

        });
        // attach events to buttons
       // $('.second.modal').modal('attach events', '.first.modal .button');
        $('#btnregister1').click(function () {
            $('.first.modal').modal('hide');
            var businesstype = '';
            var vname = $('#vname').val();
            var businessname = $('#businessname').val();
            var mobile = $('#mobile').val();
            var email = $('#email').val();
            var serviceselection = $('#serviceselection1').find(":selected").text();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phonepattern = /^[0-9]{10}$/;
            var emailaddressVal = $("#email").val();
            if ($(".businesstype input[type='checkbox']").is(':checked')) {

                var favorite = [];
                $.each($("input[name='business']:checked"), function () {
                    favorite.push($(this).val());
                    businesstype = favorite.join(", ");
                })
            }
            else {
                alert("Please select businesstype");
            }
           
            if (serviceselection == 'Select Service Type') {
                alert('select services');
            }
            else if (businesstype == '') {
                alert('select business type');
            }
            else {
                $.ajax({
                    url: '/partnerresgister/vendorreg?vname=' + vname + '&&businessname=' + businessname + '&&mobile=' + mobile + '&&email=' + email + '&&businesstype=' + businesstype + '&&serviceselection=' + serviceselection,
                    type: 'post',
                    contentType: 'application-json',
                    success: function (data) {
                        //Firing event if File Upload is completed!
                        if (data == 'success') {
                            //alertmsg("Upload Completed");
                            $('.second.modal').modal('show');
                        }
                        else if (data == 'ks') {

                            alert('E-Mail ID Already Registered!!! Try Logging with your Password');
                        }
                        else if (data == 'success1') {
                            alert('Registration Failed');
                        }
                    },

                    error: function (data) {
                        alert('error');
                        //alertify.alertmsg("error");
                    }
                });

            }
        });
        // show first now
        $('#btnregister').click(function () {

            var businesstype = '';
            var vname = $('#vname').val();
            var businessname = $('#businessname').val();
            var mobile = $('#mobile').val();
            var email = $('#email').val();
           // var serviceselection = $('#serviceselection1').find(":selected").text();
            var emailReg = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
            var phonepattern = /^[0-9]{10}$/;
            var emailaddressVal = $("#email").val();
            if (mobile == '') {
                alert("Please Enter PhoneNumber");
                $("#txtphone").focus();
            }
            else if (!phonepattern.test(mobile)) {
                alert("Please Enter valid 10 digit Phonenumber");
                $("#mobile").focus();
            }
            else if (mobile == '') {
                alert("Please Enter Name");
                $("#mobile").focus();
            }
            else if (emailaddressVal == '') {
                alert("Please Enter Email Address");

                $("#email").focus();
            }
            else if (!emailReg.test(emailaddressVal)) {
                alert("Please Enter a valid Email Address");
                $("#email").focus();
            }

            else {
                $('.first.modal').modal('show');

            }

        });


    </script>
</body>
</html>