<div class="w-100 px-4 py-3">
    <div class="row mx-0">
        <h3 class="noteWorthybold">
            More Deals
            <div class="blackBorder"></div>
        </h3>
    </div>
    <div class="row mx-0 mt-4">
        <div class="row block w-100">
            @if (ViewBag.deal != "" && ViewBag.deal != null)
            {

                foreach (var deal in ViewBag.deal)
                {
                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">

                        @if (@deal.image == null)
                        {

                            <img src="~/noimages.png" class="img-fluid" alt="Top Venue">
                        }
                        else
                        {
                            <img src="~/vendorimages/@deal.image" class="img-fluid" alt="Top Venue">
                        }
                    </div>
                    <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                        <p class="mb-0">@deal.BusinessName</p>
                        <div class="w-100">
                            <p class="productMinPrice mb-0 themeColor d-block"> <span>@deal.cost</span> <small>k</small> </p>
                            <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                        </div>
                        <div class="row mx-0 d-block float-right">
                            <a href="#" class="mb-0 themeColor">Profile</a>
                        </div>
                    </div>

                }
            }
        </div>
    </div>
    <div class="row mx-0 my-4">
        <div class="mx-auto d-inline-flex">
            <span class="themeBgColorPrimary btnSecondary text-white">
                <i class="fa fa-plus mr-1" aria-hidden="true"></i>More
            </span>
        </div>
    </div>
</div>

