
@{
    ViewBag.Title = "Store Front";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="inner-page-banner">
            <img src="~/newdesign/images/inner-page-banner.jpg" alt="Banner">
            <div class="content">
                <h3 class="margin-top-0 hidden-xs">Discover every prospect</h3>
                <p class="hidden-xs">Come, partner with VenueMax to explore infinite opportunities to promote your business with our state-of-art technology.</p>
                <a href="/VendorSignUp1">Join Now</a>
            </div>
        </div>
    </div>
</div>
<div class="container vendor-row margin-top-100 margin-bottom-100">
    <div class="row">
        <div class="vendor-row-content col-xs-12 visible-xs">
            <h3>Storefront</h3>
            <p>No website? No problem. VenueMax offers completely customizable and responsive Storefront compatible with all kinds of devices. Enrol with us and our team of professional photographers & Videographers shall capture, design and upload pictures and videos to your web page and you can begin accepting online orders.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 vendor-row-fig">
            <figure>
                <img src="~/newdesign/images/store-front.png" alt="Store Front">
                <figcaption>Store Front</figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs vendor-row-content">
            <div class="vendor-content">
                <h3>Storefront</h3>
                <p>No website? No problem. VenueMax offers completely customizable and responsive Storefront compatible with all kinds of devices. Enrol with us and our team of professional photographers & Videographers shall capture, design and upload pictures and videos to your web page and you can begin accepting online orders.</p>
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="vendor-row-content col-xs-12 visible-xs">
            <h3>Bookings</h3>
            <p>We work for you round the clock. The booking calendar shall be open for 2 years. Customers can book the venue 24 x 7, 365 days. “Instant Price Display” allows the customer to book / block the venue without second thought.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs vendor-row-content">
            <div class="vendor-content">
                <h3>Bookings</h3>
                <p>We work for you round the clock. The booking calendar shall be open for 2 years. Customers can book the venue 24 x 7, 365 days. “Instant Price Display” allows the customer to book / block the venue without second thought.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 vendor-row-fig">
            <figure>
                <img src="~/newdesign/images/bookings.png" alt="Store Front">
                <figcaption>Bookings</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="vendor-row-content col-xs-12 visible-xs">
            <h3>Smart Dashboard</h3>
            <p>VenueMax offers dashboard with smart tools. It is a comprehensive platform to monitor overall reports, bookings, financials, calendar and many more. It is dominant and resourceful tool for tracking overall health of your business.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 vendor-row-fig">
            <figure>
                <img src="~/newdesign/images/dashboard.png" alt="Store Front">
                <figcaption>Smart Dashboard</figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs vendor-row-content">
            <div class="vendor-content">
                <h3>Smart Dashboard</h3>
                <p>VenueMax offers dashboard with smart tools. It is a comprehensive platform to monitor overall reports, bookings, financials, calendar and many more. It is dominant and resourceful tool for tracking overall health of your business.</p>
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="vendor-row-content col-xs-12 visible-xs">
            <h3>Promotions</h3>
            <p>We work for you round the clock. The booking calendar shall be open for 2 years. Customers can book the venue 24 x 7, 365 days. “Instant Price Display” allows the customer to book / block the venue without second thought.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs vendor-row-content">
            <div class="vendor-content">
                <h3>Promotions</h3>
                <p>We work for you round the clock. The booking calendar shall be open for 2 years. Customers can book the venue 24 x 7, 365 days. “Instant Price Display” allows the customer to book / block the venue without second thought.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 vendor-row-fig">
            <figure>
                <img src="~/newdesign/images/promotions.png" alt="Store Front">
                <figcaption>Promotions</figcaption>
            </figure>
        </div>
    </div>
    <div class="row">
        <div class="vendor-row-content col-xs-12 visible-xs">
            <h3>Services</h3>
            <p>All at your finger tips. This enables you to track all features from anywhere. Venue Management System and Asset Tracking will ease your operational cost and time thereby decreasing the manual participation. Automated processes will help in spending less man hours.</p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 vendor-row-fig">
            <figure>
                <img src="~/newdesign/images/services.png" alt="Store Front">
                <figcaption>Services</figcaption>
            </figure>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs vendor-row-content">
            <div class="vendor-content">
                <h3>Services</h3>
                <p>All at your finger tips. This enables you to track all features from anywhere. Venue Management System and Asset Tracking will ease your operational cost and time thereby decreasing the manual participation. Automated processes will help in spending less man hours.</p>
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="vendor-row-content col-xs-12 visible-xs">
            <h3>Smart Analytics</h3>
            <p>VenueMax offers advanced real-time statistics and insightful data that helps provide a transparent 360° analysis of your performance to maximize your business potential.</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 hidden-xs vendor-row-content">
            <div class="vendor-content">
                <h3>Smart Analytics</h3>
                <p>VenueMax offers advanced real-time statistics and insightful data that helps provide a transparent 360° analysis of your performance to maximize your business potential.</p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 vendor-row-fig">
            <figure>
                <img src="~/newdesign/images/analytics.png" alt="Store Front">
                <figcaption>Smart Analytics</figcaption>
            </figure>
        </div>
    </div>
</div>
<footer class="container-fluid">
    <div class="row">© Ahwanam 2017. All right reserved.</div>
</footer>
