

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
}

@section css{
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />

    <style>
        body {
            font-family: "Lato", sans-serif;
        }

        .tablink {
            background-color: #fff;
            color: #212529;
            float: left;
            border: 1px;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            font-size: 14px;
            width: 16%;
        }

            .tablink:hover {
                background-color: #fff;
            }

        /* Style the tab content */
        .tabcontent {
            color: white;
            display: none;
            padding: 50px;
            text-align: center;
        }

        #Food Packages {
            background-color: white;
        }

        #Hall Details {
            background-color: white;
        }

        #Description {
            background-color: white;
        }

        #Gallery {
            background-color: white;
        }

        #Check Availability {
            background-color: white;
        }

        #Policies {
            background-color: white;
        }
    </style>

}








<main>

    <hr>
    <div class="bg_color_1">
        <div class="container margin_60_35">
            <div class="row">
                <div class="col-lg-8">
                    <BR><BR><BR><BR>
                    <div class="box_cart">

                        <center>
                            <h2><b>AUTHENTICATE TO PLACE ORDER</b></h2>
                            <a href="#0" class="btn_1 add_top_30">
                                Login&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png">
                            </a>&emsp;&emsp;
                            <b>(OR)&emsp;</b>
                            <a href="#0" class="btn_1 add_top_30">
                                Register&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png">
                            </a>
                        </center>
                        <hr>
                        <!--End step -->



                    </div>

                    <h2>Cart</h2>
                    @if (ViewBag.cartdata != null)
                    {
                        <p>you got4 items in your bag</p>

                        foreach (var item in ViewBag.cartdata)
                        {
                            <div class="room_type first">

                                <div class="row">
                                    <div class="col-md-4">
                                        <img src="http://design.maa-aahwanam.com/panagea/img/gallery/hotel_list_1.jpeg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-md-8-1">
                                        <h2>GREEN PARK&emsp;<a class="ui violet label">HOTEL</a><span><br><p class="p_0"></p></span></h2>
                                        <p>
                                            @item.PackageName 300 guests <br>Date: 12-Oct-2018&emsp;&emsp;&emsp;&emsp; <B>@item.PackagePrice</B>&emsp;&emsp;&emsp;&emsp;&emsp;<a href="#0" class="btn_cart add_top_30">
                                                Selected&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png">
                                            </a><br><br><span><a href="#">EDIT</a></span>


                                        </p>



                                    </div>

                                </div>
                                <!-- /row -->
                            </div>
                            <!-- /rom_type -->
                            <hr>
                        }
                    }
                    else
                    {
                        <p> No items in cart</p>
                    }
                    <!-- /rom_type -->
                    <img src="http://design.maa-aahwanam.com/panagea/images/photography.png"></img>

                    <img src="http://design.maa-aahwanam.com/panagea/images/florist.png"></img>
                    <img src="http://design.maa-aahwanam.com/panagea/images/caterer.png"></img>
                    @*<div class="ui three column grid">
                            <div class="column">
                                <div class="ui fluid card">
                                    <div class="image">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/photography.png">
                                    </div>
                                    <div class="content">
                                        <a class="header sticky">PHOTOGRAPHY</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui fluid card">
                                    <div class="image">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/florist.png">
                                    </div>
                                    <div class="content">
                                        <a class="header sticky">DECORATOR</a>
                                    </div>
                                </div>
                            </div>
                            <div class="column">
                                <div class="ui fluid card">
                                    <div class="image">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/caterer.png">
                                    </div>
                                    <div class="content">
                                        <a class="header sticky">FLORIST</a>
                                    </div>
                                </div>
                            </div>

                        </div>*@
                </div>

                <!-- /col -->


                <aside class="col-lg-4" id="sidebar">



                    <div class="uk-section uk-section-large uk-section-muted">
                        <div class="uk-container">
                            <h3 class="uk-h3">BILLING DETAILS</h3>
                            <hr>
                            <p class="text-center">Enter coupon code and avail discount</p>
                            <div class="uk-form-stacked">
                                <input class="uk-input_cart" id="form-stacked-text" type="text" placeholder="Couponcode">
                                <a href="#0" class="btn_3 add_top_30">APPLY</a>
                            </div>


                            <hr>
                            <div>
                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">TOTAL AMOUNT</h1></label>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">&emsp;&emsp;&emsp;&emsp;$2,39,565</h1></label><br><br>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">DISCOUNT</h1></label>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;0</h1></label><br><br>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">SERVICE CHARGE</h1></label>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;0</h1></label><br><br>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">GST</h1></label>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;$2039</h1></label><br><br>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">NET AMOUNT</h1></label>
                                    <label class="uk-form-label" for="form-stacked-text"><h1 class="uk-h1">&emsp;&emsp;&emsp;&emsp;&emsp;$2,39,565</h1></label><br><br>



                                    <hr>
                                    <center><button type="submit" value="email" name="command" class="btn_1 add_top_30">Proceed to Payment&nbsp;&nbsp;<img src="http://design.maa-aahwanam.com/panagea/images/icons/arrow1.png"></img></button></center><br>
                                    <div class="uk-form-controls">
                                        <center>
                                            <p>
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do

                                                eiusmod tempor incididunt ut.
                                            </p>
                                        </center>
                                    </div>

                                </div>

                            </div>

                            <div>


                            </div>


                            <div>

                            </div>
                        </div>

                        </form>






                    </div>

            </div><br>



        </div>


        </aside>

    </div>
    <!-- /row -->
    </div>
    <!-- /container -->
    </div>
    <!-- /bg_color_1 -->
</main>
<!--/main-->





<div id="toTop"></div><!-- Back to top button -->
@section scripts{
    <!-- UIkit JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
    <!-- COLOR SWITCHER  -->
    <script>
        $(document).ready(function () {
            var pid = window.localStorage.getItem("cartid");
            var guests = window.localStorage.getItem("guests");
           // location.href = '/cart/cookies?pid=' + pid + '&&guest=' + guests;

            $.ajax({
                url: '/cart/cookies?pid=' + pid + '&&guest=' + guests,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                
                     alert(data);

                },
                error: function (data) {
                alert("Error in placing the order.");
            }
            })


        })
    </script>
}