<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/Nbootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/fonts.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/Ncustomstyles.css">

    <!------ Date Picker ---------->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/datepicker.css">

    <!------ Owl Thumb Slider ---------->
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/owl.theme.default.css">
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-light">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/NHomePage">
                <img src="~/newdesign/images/logo.png" alt="Logo" />
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Best Deals <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login/Signup</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vendor/Service Provider</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link themeColor" href="#">Cart(0)</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    <footer class="footerBg text-white py-4 margin-top-50">
        <div class="row mx-0">
            <div class="col-6 col-sm-4 col-md-2 offset-md-1">
                <h4 class="noteWorthybold">
                    Main Links
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">About Us</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Blog</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Celebrations
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Wedding</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Engagement</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Birthday</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Parties</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Corporate</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Baby Functions</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Services
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Venues</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Music &amp; Artists</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Catering</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Event Services</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Other</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    What's Trending
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Photograpy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Makeup Artists</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Decorators</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Pandit</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Bakers</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Banquet Halls</a>
                    </li>
                </ul>
            </div>
            <div class="col-6 col-sm-4 col-md-2">
                <h4 class="noteWorthybold">
                    Support System
                    <div class="whiteBorder"></div>
                </h4>
                <ul class="pl-0">
                    <li>
                        <a href="#" class="text-white">Customer Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Vendor Support</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Faq's</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mx-0 secondFooter">
            <div class="w-100 text-center">
                <ul class="pl-0 mb-0">
                    <li>
                        <a href="#" class="text-white">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Refund Policy</a>
                    </li>
                    <li>
                        <a href="#" class="text-white">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="w-100 text-center">
                <p class="mb-0">Copy Right 2018, All rights reserved.</p>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="~/newdesign/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>

    <!------ Date Picker ---------->
    <script type="text/javascript" src="~/newdesign/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/datepicker.js"></script>

    <!------ Owl Thumb Slider ---------->
    <script type="text/javascript" src="~/newdesign/js/owl.carousel.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
