<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="~/CSSWeb/images/favicon.png" type="image/x-icon">

    <!--CSS SECTION-->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="~/newdesignstyles/css/customstyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    @*<link href="~/newdesignstyles/css/daterangepicker.css" rel="stylesheet">*@
    @RenderSection("css", required: false)
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
                @*<img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">*@
            </a>
        </nav>
        <div class="row">
            <div class="col-md-2 col-sm-6 col-xs-6">
                <div class="profile">
                    <img src="http://design.maa-aahwanam.com/panagea/images/banquet1.jpg" id="profileimage">
                </div>
                <h4 class="h4-1">
                    TAJ BANJARA&nbsp;<a class="ui violet label">HOTEL<br><br><br></a>
                    <a href="#" style="color:#dc3545;">View Profile&nbsp;&nbsp;&nbsp;|&nbsp;</a><a href="#" style="color:#dc3545;">Log Out</a>
                </h4>
                <div class="services">
                    <h6 class="h6-in">Dashboard</h6>
                    <h6 class="h6-in-1">Manage Orders</h6>
                    <h6 class="h6-in-2">services</h6>
                    <h6 class="h6-in-3">Untitled</h6>
                </div>
                <button type="button" id="service">Add Service</button>
            </div>
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
