
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid dealProfile">
    <div class="row innerPagesBg py-2">
        <div class="col-12 col-sm-12 col-md-8 col-lg-8 mb-2 mb-sm-0 mb-md-0">
            <div class="row mx-0 bgWhite p-2">
                <div class="w-100 bannerImg">
                    @if (ViewBag.image != null)
                    {
                        <img src="~/vendorimages/@ViewBag.image" class="img-fluid" alt="@ViewBag.image">
                    }
                    else
                    {
                        <img src="~/newdesign/images/defaultimg.jpg" class="img-fluid" alt="Default Image">
                    }

                </div>
                <div class="row w-100 mx-0 my-15">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 dealProfileName">
                        <div class="w-100 title">@ViewBag.Productinfo.BusinessName</div>
                        <div class="w-100 tags my-15">
                            <div class="d-inline-block p-2 mr-4 greyBg">
                                    <p class="mb-0">300 <span>Guests</span></p>
                                </div>
                                <div class="d-inline-block p-2 mr-4 greyBg">
                                    <p class="mb-0">300 <span>Guests</span></p>
                                </div>
                                <div class="d-inline-block p-2 mr-4 greyBg">
                                    <p class="mb-0">300 <span>Guests</span></p>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2 vendorProfileTotalDescrption">
                <div class="hrResponsiveTabs col-12 col-md-12">
                    <dl class="responsiveTabs bgWhite mb-2">
                        <dt class="active">About Us</dt>
                        <dd>
                            <div class="w-100 vrResponsiveTabs">
                                <p>Descrption</p>
                                <span>Descrption Content</span>
                                <p>Amenities</p>
                                <span>Amenities Content</span>
                                <p>Hall Details</p>
                                <span>Hall Details Content</span>
                                <p>Terms &amp; Conditions</p>
                                <span>Terms and Conditions content</span>
                            </div>
                        </dd>
                        <dt>Packages / Deals</dt>
                        <dd>Packages COntent is here</dd>
                        <!-- <dt>Gallery / Portfolio</dt>
                        <dd>Gallery COntent is here</dd>
                        <dt>Reviews</dt>
                        <dd>Reviews COntent is here</dd>
                        <dt>Address</dt>
                        <dd>Address COntent is here</dd>
                        <dt>Other</dt>
                        <dd>Other COntent is here</dd>-->
                    </dl><div class="responsive-tabs-placeholder bgWhite">
                        <div class="w-100 vrResponsiveTabs">
                            <p>Descrption</p>
                            <span>Descrption Content</span>
                            <p>Amenities</p>
                            <span>Amenities Content</span>
                            <p>Hall Details</p>
                            <span>Hall Details Content</span>
                            <p>Terms &amp; Conditions</p>
                            <span>Terms and Conditions content</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 pl-md-0 topVenus">
            <div class="px-15">
                <div class="row bgWhite mb-3">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Fill the Details
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-4 dealProfileForm">
                            <div class="w-100">
                                <select class="w-100 p-2 ml-auto">
                                    <option>Event type</option>
                                    <option>Wedding</option>
                                    <option>Birthday</option>
                                    <option>Others</option>
                                </select>
                            </div>
                            <div class="w-100 mt-3 noOfPeoples">
                                <div class="form-group mb-0">
                                    <input type="text" class="form-control nexaBold" placeholder="Members">
                                </div>
                            </div>
                            <div class="w-100 mt-3 eventDate">
                                <div class="date-picker">
                                    <div class="input">
                                        <div class="result nexaBold">Occasion Date: <span></span></div>
                                        <button class="themeBgColorSecondary"><i class="fa fa-calendar"></i></button>
                                    </div>
                                    <div class="calendar hasDatepicker" id="dp1522145187717"><div class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all" style="display: block;"><div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all" data-handler="prev" data-event="click" title="Prev"><span class="ui-icon ui-icon-circle-triangle-w">Prev</span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title="Next"><span class="ui-icon ui-icon-circle-triangle-e">Next</span></a><div class="ui-datepicker-title"><span class="ui-datepicker-month">March</span>&nbsp;<span class="ui-datepicker-year">2018</span></div></div><table class="ui-datepicker-calendar"><thead><tr><th scope="col"><span title="Monday">Mo</span></th><th scope="col"><span title="Tuesday">Tu</span></th><th scope="col"><span title="Wednesday">We</span></th><th scope="col"><span title="Thursday">Th</span></th><th scope="col"><span title="Friday">Fr</span></th><th scope="col" class="ui-datepicker-week-end"><span title="Saturday">Sa</span></th><th scope="col" class="ui-datepicker-week-end"><span title="Sunday">Su</span></th></tr></thead><tbody><tr><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">1</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">2</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">3</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">4</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">5</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">6</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">7</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">8</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">9</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">10</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">11</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">12</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">13</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">14</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">15</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">16</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">17</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">18</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">19</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">20</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">21</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">22</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">23</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">24</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">25</a></td></tr><tr><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">26</a></td><td class=" ui-datepicker-days-cell-over ui-datepicker-current-day ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default ui-state-highlight ui-state-active ui-state-hover" href="#">27</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">28</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">29</a></td><td class=" " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">30</a></td><td class=" ui-datepicker-week-end " data-handler="selectDay" data-event="click" data-month="2" data-year="2018"><a class="ui-state-default" href="#">31</a></td><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td></tr></tbody></table></div></div>
                                </div>
                            </div>
                            <div class="w-100 mt-3 slotTime">
                                <div class="w-50 float-left">
                                    <label class="w-100 mb-0">
                                        <input type="checkbox">
                                        <span></span>
                                        <p class="mb-0 d-inline">Morning</p>
                                    </label>
                                </div>
                                <div class="w-50 float-left">
                                    <label class="w-100 mb-0">
                                        <input type="checkbox">
                                        <span></span>
                                        <p class="mb-0 d-inline">Evening</p>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0">
                            <div class="w-100 d-flex my-2">
                                <span class="themeBgColorPrimary btnSecondary text-white text-center w-100">Book Now</span>
                            </div>
                            <div class="w-100 d-flex my-2">
                                <span class="themeBgColorPrimary btnSecondary text-white text-center w-100">
                                    Need any help ?
                                </span>
                            </div>
                        </div>
                        <div class="w-100 mt-3 totalAmount d-inline-block fontSize-16">
                            <div class="float-left">
                                <p class="mb-0">Add to wishlist</p>
                            </div>
                            <div class="float-right themeColor textUnderline">
                                <p class="mb-0">Reviews (<span>100</span>)</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row bgWhite mb-3">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                More Deals
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-4">
                            <div class="row block w-100">
                                <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                    <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                </div>
                                <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                    <p class="mb-0">Taj Banjara</p>
                                    <div class="w-100">
                                        <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                        <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                    </div>
                                    <div class="row mx-0 d-block float-right">
                                        <a href="#" class="mb-0 themeColor">Profile</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row block w-100">
                                <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-5 topVenueBlockImg">
                                    <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue">
                                </div>
                                <div class="col-6 col-sm-6 col-md-12 col-lg-6 col-xl-7 px-xl-0 topVenueDetails">
                                    <p class="mb-0">Taj Banjara</p>
                                    <div class="w-100">
                                        <p class="productMinPrice mb-0 themeColor d-block"> <span>99000</span> <small>k</small> </p>
                                        <p class="productMaxPrice mb-0 greyColor d-block"> ( <span>1,24,000</span> <small>k</small> ) </p>
                                    </div>
                                    <div class="row mx-0 d-block float-right">
                                        <a href="#" class="mb-0 themeColor">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mx-0 my-4">
                            <div class="mx-auto d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">
                                    <i class="fa fa-plus mr-1" aria-hidden="true"></i>More
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="margin-top-50">
        <div class="row mx-0">
            <h3 class="noteWorthybold">
                What's Trending
                <div class="blackBorder"></div>
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="owl-carousel owl-theme mt-3">
                    <a href="#" class="item">
                        <img src="~/newdesign/images/hotels-bg.png" alt="Hotels" />
                        <span class="d-block mt-2 text-center themeFontColor">Hotels</span>
                    </a>
                    <a href="#" class="item">
                        <img src="~/newdesign/images/functionhalls-bg.png" alt="Function Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Function Halls</span>
                    </a>
                    <a href="#" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Banquet Halls</span>
                    </a>
                    <a href="#" class="item">
                        <img src="~/newdesign/images/convention-bg.png" alt="Convention Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Convention Halls</span>
                    </a>
                    <a href="#" class="item">
                        <img src="~/newdesign/images/resort-bg.png" alt="Resort" />
                        <span class="d-block mt-2 text-center themeFontColor">Resort</span>
                    </a>
                    <a href="#" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 text-center themeFontColor">Banquet Halls</span>
                    </a>
                </div>
            </div>
        </div>
    </div>



    @section scripts{
        @*<script type="text/javascript" src="~/newdesign/js/owl.carousel.min.js"></script>*@
        <script>
            $(document).ready(function () {
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    margin: 10,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                })
            })
        </script>
    }
