
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>:: Vendor Sign Up 1 ::</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 logo">
                <img src="~/newdesign/images/logo.png" alt="Logo">
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-4 header-simple-phone">
                <p>Customer Service</p>
                <span class="red"><i class="fa fa-phone" aria-hidden="true"></i> 1800 180 180</span>
            </div>
        </div>
    </div>
    <div class="container border-default">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <h4>Create a Free Maa Aahwanam account</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding-0 header-banner">
                <img src="~/newdesign/images/banner.jpg" alt="Banner Image">
            </div>
        </div>
        <div class="row progress-area text-center">
            <div class="progress-ui">
                <div class="complete"><span>1</span></div>
                <div><span>2</span></div>
                <div><span>3</span></div>
                <div><span>4</span></div>
            </div>
            <div class="progress-content">
                <div>General Information</div>
                <div>Photo Gallery</div>
                <div>Frequently Asked Questions</div>
                <div>Promotions</div>
            </div>
        </div>
        <form>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Log In Information</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="User Name *">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                            <input type="password" class="form-control1" placeholder="Password *">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-lock fa-2x" aria-hidden="true"></i>
                            <input type="password" class="form-control1" placeholder="Confirm Password *">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>You will use this username and password to sign in. Username must contain a minimum of 5 characters. Password must contain a minimum of 6 characters and is case sensitive.</small></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-user" aria-hidden="true"></i> Contact information</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Contact Person *">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Email *">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Telephone">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Mobile Number">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-fax fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Fax">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-globe fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Website">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>Enquiries from couples interested in your services and updates from Ahwanam will be sent to this email address.</small></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Business Information</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <select class="form-control" id="sel1">
                                <option>List One</option>
                                <option>List Two</option>
                                <option>List Three</option>
                                <option>List Four</option>
                            </select>
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <input type="text" class="form-control" placeholder="City/Town *">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <input type="text" class="form-control" placeholder="Postal Code *">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <input type="text" class="form-control" placeholder="Address *">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>You will use this username and password to sign in. Username must contain a minimum of 5 characters. Password must contain a minimum of 6 characters and is case sensitive.</small></p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
                <div class="clear-both"></div>
                <div class="row padding-top-10 margin-bottom">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <i class="fa fa-suitcase fa-2x" aria-hidden="true"></i>
                            <input type="text" class="form-control1" placeholder="Name of your Business">
                        </div>
                        <div class="form-group-1 col-xs-12 col-sm-12 col-md-8 padding-left-0 padding-right-0">
                            <label>Describe your business and services offered (in third person)</label>
                            <textarea class="form-control" rows="10"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-offset-1 hidden-xs">
                        <p class="grey"><small>Add a detailed description of all the services and products that your company offers. This information will be useful to couples.</small></p>
                        <p class="grey">
                            <small>
                                Our team will edit your text to ensure quality and search engine optimization. Please don't add contact information such as email, phone number, website, address, etc.
                            </small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-suitcase" aria-hidden="true"></i> Your Business Category</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <h4>Venues</h4>
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optradio">
                                Option 1
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optradio">
                                Option 2
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="checkbox" name="optradio">
                                Option 3
                            </label>
                        </div>
                    </div>
                    
                    @*<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <h4>Decoration</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 1
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 2
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 3
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 4
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 5
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 6
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 7
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 8
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 9
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 10
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 11
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 12
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 13
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 14
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 15
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <h4>Catering</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 1
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 2
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 3
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 4
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <h4>photography</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 1
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <h4>Entertainment</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 1
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 2
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 3
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
                        <h4>Beauty Services</h4>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 1
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 2
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 3
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 4
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 5
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 6
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 7
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 8
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 9
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 10
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 11
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 12
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 13
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 14
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optradio">
                                Option 15
                            </label>
                        </div>
                    </div>*@
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="grey"><small>By clicking "Next" you are agreeing to our legal terms.</small></p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/VendorSignUp2" class="btn btn-default red-bg white">Next</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
</body>
</html>
