
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/css/uikit.min.css" />

<main style="transform: none;">
    <div class="hero_in cart_section start_bg_zoom">
        <div class="wrapper">
            <div class="container">
                <div class="bs-wizard clearfix">
                    <div class="bs-wizard-step">
                        <div class="text-center bs-wizard-stepnum">Your cart</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="cart-1.html" class="bs-wizard-dot"></a>
                    </div>

                    <div class="bs-wizard-step active">
                        <div class="text-center bs-wizard-stepnum">Payment</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#0" class="bs-wizard-dot"></a>
                    </div>

                    <div class="bs-wizard-step disabled">
                        <div class="text-center bs-wizard-stepnum">Finish!</div>
                        <div class="progress">
                            <div class="progress-bar"></div>
                        </div>
                        <a href="#0" class="bs-wizard-dot"></a>
                    </div>
                </div>
                <!-- End bs-wizard -->
            </div>
        </div>
    </div>
    <!--/hero_in-->

    <div class="bg_color_1" style="transform: none;">
        <div class="container margin_60_35" style="transform: none;">
            <div class="row" style="transform: none;">
                <div class="col-lg-8">
                    <div class="box_cart">
                        <div class="message">
                            <p>Exisitng Customer? <a href="#0">Click here to login</a></p>
                        </div>
                        <div class="uk-position-relative uk-visible-toggle uk-light uk-slideshow" uk-slideshow="min-height: 300; max-height: 600; animation: push">

                            <ul class="uk-slideshow-items" style="height: 410px;">
                                <li class="uk-active uk-transition-active" style="transform: translateX(0px); z-index: 0;">
                                    <img src="http://design.maa-aahwanam.com/panagea/images/decorator.jpg" alt="" uk-cover="" class="uk-cover" style="height: 486px; width: 730px;">
                                </li>
                                <li>
                                    <img src="http://design.maa-aahwanam.com/panagea/images/decorator1.jpg" alt="" uk-cover="" class="uk-cover">
                                </li>
                                <li>
                                    <img src="http://design.maa-aahwanam.com/panagea/images/decorator3.jpg" alt="" uk-cover="" class="uk-cover">
                                </li>
                            </ul>

                            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-previous uk-icon uk-slidenav" href="#" uk-slidenav-previous="" uk-slideshow-item="previous"><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.4" points="12.775,1 1.225,12 12.775,23 "></polyline></svg></a>
                            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-next uk-icon uk-slidenav" href="#" uk-slidenav-next="" uk-slideshow-item="next"><svg width="14" height="24" viewBox="0 0 14 24" xmlns="http://www.w3.org/2000/svg"><polyline fill="none" stroke="#000" stroke-width="1.4" points="1.225,23 12.775,12 1.225,1 "></polyline></svg></a>

                        </div>
                        <h3>RADISSON HOTEL</h3>
                        <hr>
                        <!--End step -->

                        <div class="uk-inline">
                            <button class="uk-button uk-button-default" type="button">Hover</button>
                            <div uk-dropdown="" class="uk-dropdown">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</div>
                        </div>

                        <hr>


                        <div id="policy">
                            <h5>Cancellation policy</h5>
                            <p class="nomargin">Lorem ipsum dolor sit amet, vix <a href="#0">cu justo blandit deleniti</a>, discere omittantur consectetuer per eu. Percipit repudiare similique ad sed, vix ad decore nullam ornatus.</p>
                        </div>
                    </div>
                </div>
                <!-- /col -->

                <aside class="col-lg-4" id="sidebar" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">




                    <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                        <div class="box_detail">
                            <h3>MAIN AMENTIES</h3>




                        </div><div class="box_detail_grid">
                            <form class="uk-form-stacked">

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">guests</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="300">
                                    </div>

                                </div>

                                <div class="uk-margin">
                                    <label class="uk-form-label" for="form-stacked-text">Food Packages</label>
                                    <div class="uk-form-controls">
                                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="Super Veg(₹700/per plate)">
                                    </div>
                                    <h3>₹21000</h3>
                                    <div>
                                        <button class="uk-button uk-button-danger">Book Now<span class="uk-margin-small-right uk-icon" uk-icon="arrow-right"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <polyline fill="none" stroke="#000" points="10 5 15 9.5 10 14"></polyline> <line fill="none" stroke="#000" x1="4" y1="9.5" x2="15" y2="9.5"></line></svg></span></button>
                                    </div>
                                    <br><br>
                                    <button class="uk-button uk-button-danger">cart<span class="uk-margin-small-right uk-icon" uk-icon="cart"><svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"> <circle cx="7.3" cy="17.3" r="1.4"></circle> <circle cx="13.3" cy="17.3" r="1.4"></circle> <polyline fill="none" stroke="#000" points="0 2 3.2 4 5.3 12.5 16 12.5 18 6.5 8 6.5"></polyline></svg></span></button>
                                </div>
                                <div>

                                </div>
                            </form>
                        </div><div class="resize-sensor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all 0s ease 0s; width: 390px; height: 901px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                    </div>
                </aside>
            </div>

        </div>



    </div>
    <!-- /row -->
</main>


@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-rc.10/js/uikit-icons.min.js"></script>
@*<script src="uikit/dist/js/uikit-icons.min.js"></script>*@
    }