
@{
    ViewBag.Title = ":: Ahwanam ::";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid userProfile">
    <div class="row innerPagesBg">
        <div class="col-12 col-sm-5 col-md-4 col-lg-3 sideBar">
            <a class="navbar-brand hidden-xs-down" href="/NHomePage"> <img src="~/newdesign/images/logo.png" alt="Logo"> </a>
            <ul>
                <li> <a href="#">Dashboard</a> </li>
                <li> <a href="#">Profile</a> </li>
                <li> <a href="#">Settings</a> </li>
                <li> <a href="#">Logout</a> </li>
            </ul>
        </div>
        <div class="col-12 col-sm-7 col-md-8 col-lg-9 offset-sm-5 offset-md-4 offset-lg-3">
            <div class="row mx-2 my-4 bgWhite">
                <div class="userTotalInfo p-3 w-100">
                    <div id="userTicketDetails">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Ticket Details
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row my-2">
                            <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                <span class="themeBgColorPrimary btnSecondary text-white">
                                    Current Tickets
                                </span>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                <span class="themeBgColor btnSecondary text-white">
                                    History
                                </span>
                            </div>
                            <div class="col-12 col-sm-4 col-md-4 d-flex mb-2">
                                <span class="themeBgColor btnSecondary text-white">
                                    Wishlist
                                </span>
                            </div>
                        </div>
                        <div class="row mx-0 mt-2 tableData">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S.No</th>
                                        <th>Event/Services</th>
                                        <th>Service List</th>
                                        <th>Budget</th>
                                        <th>Status</th>
                                        <th>Manage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>Mary</td>
                                        <td>Moe</td>
                                        <td>mary@example.com</td>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                    <tr>
                                        <td>July</td>
                                        <td>Dooley</td>
                                        <td>july@example.com</td>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>john@example.com</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="profileDetails">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Profile Details
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="E-Mail">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Number">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <span class="themeBgColorPrimary btnSecondary text-white">
                                Save Changes
                            </span>
                        </div>
                    </div>
                    <div id="profileSettings">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Settings
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="New Password">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="row mx-0 mt-2">
                            <span class="themeBgColorPrimary btnSecondary text-white">
                                Save Changes
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

