
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
}


<main>
    <section class="hero_single version_2">
        <div class="wrapper">
            <div class="container">

                <form>

                    <div align="left">
                        <button class="ui violet button"><img class="imgicon" src="~/newdesignstyles/images/venues.png" />Venues</button>
                        <button class="ui violet button"><img class="imgicon" src="~/newdesignstyles/images/catering.png" />Catering</button>
                    </div>
                    <div class="row no-gutters custom-search-input-2">

                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Hotel, City...">
                                <i class="icon_pin_alt"></i>
                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <input class="form-control" type="text" name="dates" placeholder="When..">
                                <i class="icon_calendar"></i>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="form-group">
                                <input class="form-control" type="panel-dropdown" name="Events" placeholder="When..">
                                <i class="fa fa-list-alt" aria-hidden="true"></i>

                            </div>
                        </div>
                        <div class="col-lg-2">
                            <div class="panel-dropdown">
                                <a href="#">Guests <span class="qtyTotal">1</span></a>
                                <div class="panel-dropdown-content">
                                    <!-- Quantity Buttons -->
                                    <div class="qtyButtons">
                                        <label>Adults</label>
                                        <input type="text" name="qtyInput" value="1">
                                    </div>
                                    <div class="qtyButtons">
                                        <label>Childrens</label>
                                        <input type="text" name="qtyInput" value="0">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <input type="submit" class="btn_search" value="Search">
                        </div>
                    </div>
                    <!-- /row -->
                </form>
            </div>
        </div>
    </section>
    <div classs="container-fluid">
        <div class="col-md-4">
        </div>
    </div>

    <!-- /container -->



    <div class="bg_color_2">



    </div>
    <!-- /bg_color_2 -->
    <!-- /container -->



    <div class="bg_color_1">

        <div class="container margin_60_35">
            <center><h3><b>HOW IT WORKS</b></h3></center><br>
            <div class="row">

                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <div class="numberCircle"><b>1</b></div>
                        <h4>Select a package & Shortlist your venues</h4>

                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <div class="numberCircle"><b>2</b></div>
                        <h4>Fill your basic details to block venue</h4>

                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#0" class="boxed_list">
                        <div class="numberCircle"><b>3</b></div>
                        <h4>Pay the final amount & start celebrations</h4>

                    </a>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /bg_color_1 -->


    <div class="container-fluid margin_80_0">
        <div class="main_title_2">
            <span><em></em></span>
            <h2><b>BEST DEALS FOR YOU</b></h2>
            <p>Get Best Deals Now From Our Website, Checkout.</p>
        </div>
        <div class="container margin_60_35">

            <div class="wrapper-grid">
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid">
                            <figure>

                                <a href="#"><img src="~/newdesignstyles/images/green.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                <small>Upto 30%Off On Luxury Banquet Halls</small>
                            </figure>


                        </div>
                    </div>
                    <!-- /box_grid -->

                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid ">
                            <figure>

                                <a href="#"><img src="~/newdesignstyles/images/banquet.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                <small>Best Deals From $30 / Plate</small>
                            </figure>


                        </div>
                    </div>
                    <!-- /box_grid -->
                    <div class="col-xl-4 col-lg-6 col-md-6">
                        <div class="box_grid">
                            <figure>

                                <a href="#"><img src="~/newdesignstyles/images/convention1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                <small>Best Deals From $30 / Plate</small>
                            </figure>


                        </div>
                    </div>
                    <!-- /box_grid -->
                    <div class="col-sm-6">
                        <div class="box_grid">
                            <figure>

                                <a href="#"><img src="~/newdesignstyles/images/banner1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                            </figure>


                        </div>
                    </div>
                    <!-- /box_grid -->
                    <div class="col-sm-6">
                        <div class="box_grid">
                            <figure>

                                <a href="#"><img src="~/newdesignstyles/images/banner3.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                            </figure>


                        </div>
                    </div>
                    <!-- /box_grid -->






                </div>


                <!-- /row -->

            </div>
            <!-- /wrapper-grid -->



        </div>
        <!-- /container -->
    </div>

</main>
<!-- /main -->


<div class="container-fluid margin_80_0">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Hand Picked Vendors</h2>
        <p>Get Best Deals Now From Our Website, Checkout.</p>
    </div>
    <div class="container margin_60_35">

        <div class="wrapper-grid">
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="#"><img src="~/newdesignstyles/images/green.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                        </figure>
                        <div class="wrapper">
                            <h3><a href="#">GREEN PARK</a></h3>

                            <div class="input">
                                <div class="panel-body">
                                    Veg price per plate
                                    starts from &emsp;&#8377; 399
                                </div>
                                <div class="panel-body">
                                    Veg price per plate
                                    starts from &emsp;&#8377; 399
                                </div>


                            </div>
                            <p align="last">VIEW SPACE&emsp;<i class="fa fa-long-arrow-right"></i> </p>

                        </div>

                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="#l"><img src="~/newdesignstyles/images/banquet.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                        </figure>
                        <div class="wrapper">
                            <h3><a href="#">TAJ DECCAN</a></h3>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Veg price per plate
                                    starts from &emsp;&#8377; 399
                                </div>
                                <div class="panel-body">
                                    Veg price per plate
                                    starts from &emsp;&#8377; 399
                                </div>


                            </div>
                            <p>VIEW SPACE&emsp;<i class="fa fa-long-arrow-right"></i> </p>

                        </div>

                    </div>
                </div>
                <!-- /box_grid -->
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="box_grid">
                        <figure>
                            <a href="#" class="wish_bt"></a>
                            <a href="#"><img src="~/newdesignstyles/images//convention1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                        </figure>
                        <div class="wrapper">
                            <h3><a href="#">RADISSON BLUE</a></h3>
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Veg price per plate
                                    starts from &emsp;&#8377; 399
                                </div>
                                <div class="panel-body">
                                    Veg price per plate
                                    starts from &emsp;&#8377; 399
                                </div>


                            </div>
                            <p>VIEW SPACE&emsp;<i class="fa fa-long-arrow-right"></i> </p>



                        </div>


                    </div>
                </div>
                <!-- /box_grid -->
            </div>
            <!-- /row -->
        </div>
        <!-- /wrapper-grid -->

        <p class="text-center">
            <a href="#" class="btn_1  add_top_30">
                Explore More &emsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </a>
        </p>

    </div>
    <!-- /container -->
</div>
<!-- /container -->



<div class="bg_color_2">



</div>
<!-- /bg_color_2 -->
<!-- /container -->



<div class="bg_color_1">

    <div class="container margin_60_35">
        <center><h3><b>LET’S TALK</b></h3></center><br>
        <div class="center">

            <div class="col-lg-6">
                <h4>Send a message</h4>
                <p>Ex quem dicta delicata usu, zril vocibus maiestatis in qui.</p>
                <div id="message-contact"></div>
                <form method="post" action="assets/contact.php" id="contactform" autocomplete="off">
                    <div class="row">

                        <div class="col-md-6">
                            <div class="form-group">

                                <center><input class="form-control" type="text" id="name_contact" name="name_contact"></center>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input class="form-control" type="text" id="lastname_contact" name="lastname_contact">
                            </div>
                        </div>
                    </div>
                    <!-- /row -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">

                                <input class="form-control" type="email" id="email_contact" name="email_contact">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">

                                <input class="form-control" type="text" id="phone_contact" name="phone_contact">
                            </div>
                        </div>
                    </div>
                    <!-- /row -->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Are you human? 3 + 1 =</label>
                                <input class="form-control" type="text" id="verify_contact" name="verify_contact">
                            </div>
                        </div>
                    </div>
                    <p class="add_top_30"><input type="submit" value="Submit" class="btn_1 " id="submit-contact"></p>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /bg_color_1 -->
        @*</main>*@
<!-- /main -->

