@*@{
        ViewBag.Title = "Index";
        Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
    }*@

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title>:: Ahwanam ::</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="http://design.maa-aahwanam.com/contest/images/favIcn.png" type="image/x-icon">
    @*<img src="~/newdesignstyles/images/favicon.ico" />*@
    <link rel="apple-touch-icon" type="image/x-icon" href="~/newdesignstyles/images/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="~/newdesignstyles/images/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="~/newdesignstyles/images/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="~/newdesignstyles/images/apple-touch-icon-144x144-precomposed.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">

    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">
    @*<link href="http://design.maa-aahwanam.com/panagea/css/icon_fonts/css/all_icons.min.css" rel="stylesheet">*@

    <!-- SPECIFIC CSS -->
    <link href="~/newdesignstyles/css/daterangepicker.css" rel="stylesheet">

    <!-- ALTERNATIVE COLORS CSS -->
    @*<link href="#" id="colors" rel="stylesheet">*@

    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <style>
        .nice-select,.list {
        width:370px;
        }
    </style>
</head>
<body>
    <div id="page">
        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="index-1.html">

                </a>
            </div>
            <ul id="top_menu">
                <li><a href="#" class="cart-menu-btn" title="Cart"><strong>4</strong></a></li>
                <li><a href="#sign-in-dialog" id="sign-in" class="login" title="Sign In">Sign In</a></li>
                <li><a href="#" class="wishlist_bt_top" title="Your wishlist">Your wishlist</a></li>
            </ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul>
                    <li>
                        <span><a href="#0">Services</a></span>
                        <ul>
                            <li><a href="/results?type=Banquet Hall">Banquet Hall</a></li>
                            <li><a href="/results?type=Hotel">Hotel</a></li>
                            <li><a href="/results?type=Resort">Resort</a></li>
                            <li><a href="/results?type=Convention Hall">Convention Hall</a></li>
                            <li><a href="/results?type=Function Hall">Function Hall</a></li>
                            @*<li><a href="/results?type=Catering">Catering</a></li>*@
                            @*<li><a href="/results?type=Photography">Photography</a></li>
                            <li><a href="/results?type=Decorator">Decorator</a></li>
                            <li><a href="/results?type=Mehendi">Mehendi</a></li>
                            <li><a href="/results?type=Pandit">Pandits</a></li>*@
                        </ul>
                    </li>

                    <li>
                        <span><img src="~/newdesignstyles/images/us.png" /></span>
                        <ul>
                            <li><a href="#">INDIA</a></li>
                            <li><a href="#">US</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>

        </header>
        <!-- /header -->
        <main>
            <section class="hero_single version_2">
                <div class="wrapper">
                    <div class="container">

                        <form method="post">

                            @*<div align="left">
                                    <button class="ui violet button"><img class="imgicon" src="~/newdesignstyles/images/venues.png" />Venues</button>
                                    <button class="ui violet button"><img class="imgicon" src="~/newdesignstyles/images/catering.png" />Catering</button>
                                </div>*@
                            <div class="row no-gutters custom-search-input-2">

                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Location" value="Hyderabad" required>
                                        <i class="icon_pin_alt"></i>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <select class="form-control" required id="selectevent">
                                        <option value="" disabled selected>Select Event</option>
                                        <option value="Wedding">Wedding</option>
                                        <option value="Party">Party</option>
                                        <option value="Corporate">Corporate</option>
                                        <option value="Baby Function">Baby Function</option>
                                        <option value="Birthday">Birthday</option>
                                        <option value="Engagement">Engagement</option>
                                    </select>
                                    @*<div class="form-group">
                                        <input class="form-control" type="text" placeholder="What Type of Event?" required>
                                        
                                        <i class="icon-arrow-down"></i>
                                    </div>*@
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input class="form-control" type="number" placeholder="Guests" required>
                                        <i class="icon_calendar"></i>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="form-group">
                                        <input class="form-control" id="datetimepicker1" type="text" name="dates" placeholder="Date?" required>
                                        @*<i class="icon_calendar"></i>*@
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <input type="submit" class="btn_search" value="Search">
                                </div>
                            </div>
                            <!-- /row -->
                        </form>
                    </div>
                </div>
            </section>
            <div classs="container-fluid">
                <div class="col-md-4">
                </div>
            </div>

            <!-- /container -->



            <div class="bg_color_2">

                <div class="ui leaderboard test ad" data-text="">
                    <div class="data boxed_list">
                        <br>
                        <img src="http://design.maa-aahwanam.com/panagea/images/left.png" height="75px" />&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;

                        <img src="http://design.maa-aahwanam.com/panagea/images/1.png" />&emsp;&emsp;&emsp;&emsp;&emsp;
                        <img src="http://design.maa-aahwanam.com/panagea/images/2.png" />&emsp;&emsp;&emsp;&emsp;&emsp;
                        <img src="http://design.maa-aahwanam.com/panagea/images/3.png" />&emsp;&emsp;&emsp;&emsp;&emsp;
                        <img src="http://design.maa-aahwanam.com/panagea/images/4.png" />>&emsp;&emsp;&emsp;&emsp;&emsp;
                        <img src="http://design.maa-aahwanam.com/panagea/images/5.png" />&emsp;&emsp;&emsp;&emsp;&emsp;
                        <img src="http://design.maa-aahwanam.com/panagea/images/6.png" />&emsp;&emsp;&emsp;&emsp;&emsp;

                        <img src="http://design.maa-aahwanam.com/panagea/images/right.png" align="right" height="75px" />
                    </div>

                </div>

            </div>
            <!-- /bg_color_2 -->
            <!-- /container -->



            <div class="bg_color_1">

                <div class="container margin_60_35">
                    <center><h3><b>HOW IT WORKS</b></h3></center><br>
                    <div class="row">

                        <div class="col-md-4">
                            <a href="#0" class="boxed_list">
                                <div class="numberCircle"><b>1</b></div>
                                <h4>Select a package & Shortlist your venues</h4>

                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#0" class="boxed_list">
                                <div class="numberCircle"><b>2</b></div>
                                <h4>Fill your basic details to block venue</h4>

                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="#0" class="boxed_list">
                                <div class="numberCircle"><b>3</b></div>
                                <h4>Pay the final amount & start celebrations</h4>

                            </a>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /bg_color_1 -->


            <div class="container-fluid margin_80_0">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2><b>BEST DEALS FOR YOU</b></h2>
                    <p>Get Best Deals Now From Our Website, Checkout.</p>
                </div>
                <div class="container margin_60_35">

                    <div class="wrapper-grid">
                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/green.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        <small>Upto 30%Off On Luxury Banquet Halls</small>
                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->

                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid ">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/banquet.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        <small>Best Deals From $30 / Plate</small>
                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/convention1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        <small>Best Deals From $30 / Plate</small>
                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->
                            <div class="col-sm-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/banner1.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->
                            <div class="col-sm-6">
                                <div class="box_grid">
                                    <figure>

                                        <a href="#"><img src="~/newdesignstyles/images/banner3.jpg" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>

                                    </figure>


                                </div>
                            </div>
                            <!-- /box_grid -->






                        </div>


                        <!-- /row -->

                    </div>
                    <!-- /wrapper-grid -->



                </div>
                <!-- /container -->
            </div>

        </main>
        <!-- /main -->


        <div class="container-fluid margin_80_0">
            <div class="main_title_2">
                <span><em></em></span>
                <h2>Hand Picked Vendors</h2>
                <p>Get Best Deals Now From Our Website, Checkout.</p>
            </div>
            <div class="container margin_60_35">

                <div class="wrapper-grid">
                    <div class="row">
                        @foreach (var item in ViewBag.venues)
                        {
                            <div class="col-xl-4 col-lg-6 col-md-6">
                                <div class="box_grid">
                                    <figure>
                                        <a href="#0" class="wish_bt"></a>
                                        @if (item.logo != null)
                                        {
                                            <a href="#"><img src="~/vendorimages/@item.logo" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        }
                                        else if (item.image != null)
                                        {
                                            <a href="#"><img src="~/vendorimages/@item.image" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        }
                                        else
                                        {
                                            <a href="#"><img src="~/noimages.png" class="img-fluid" alt="" width="800" height="533"><div class="read_more"><span>Read more</span></div></a>
                                        }

                                    </figure>
                                    <div class="wrapper">
                                        <h3><a href="#"> @item.BusinessName <a class="ui violet label">@item.subtype</a></a></h3>
                                        <div class="panel panel-default">
                                            <div class="ui segment">
                                                <p>
                                                    Veg price per plate
                                                    starts from &emsp;&#8377; <strong>@item.cost1</strong>
                                                </p>
                                                <p>
                                                    Non-Veg price per plate
                                                    starts from &emsp;&#8377; @item.cost2
                                                </p>
                                            </div>
                                        </div><br><br>
                                        <p align="right">VIEW SPACE<i class="fa fa-long-arrow-right"></i> </p>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                    <!-- /row -->
                </div>
                <!-- /wrapper-grid -->

                <p class="text-center">
                    <a href="/results" class="btn_1  add_top_30">
                        Explore More &emsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </a>
                </p>

            </div>
            <!-- /container -->
        </div>
        <!-- /container -->



        <div class="bg_color_2">



        </div>
        <!-- /bg_color_2 -->
        <!-- /container -->



        <div class="bg_color_1">



            <div class="container margin_60_35">
                <div class="main_title_2">
                    <span><em></em></span>
                    <h2>LET'S TALK</h2>
                    <small><p>Get Personalized assistance to help you discover, book sample and supervise your event.</p></small>
                </div>
                <form method="post" action="/Home/SendEmail">


                    <div class="row">
                        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;	<div class="ui equal width form">
                            <div class="fields">
                                <div class="eight field">
                                    <label></label>
                                    <input type="text" id="name" name="name" placeholder="Your name" required>
                                </div>

                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label></label>
                                    <input type="number" id="number" name="number" min="0" placeholder="Mobile" required>
                                </div>

                                <div class="field">
                                    <label></label>
                                    <input type="text" id="city" name="city" placeholder="City" required>
                                </div>
                            </div>
                            <div class="fields">
                                <div class="field">
                                    <label></label>
                                    <input type="text" id="eventtype" name="eventtype" placeholder="Event Type" required>
                                </div>

                                <div class="field">
                                    <label></label>
                                    <input type="text" id="datepicker2" name="datepicker2" placeholder="Date" required>
                                </div>
                            </div>
                        </div>
                        <br>

                    </div>
                    <p class="text-center">
                        <button type="submit" value="email" name="command" class="btn_1 add_top_30">Send Details</button>
                        <a href="/results" class="btn_1  add_top_30">Explore More &emsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                        <br><br>Whatsapp or Call Ahwanam.com +91-7702053510 @*8587045120*@<br><br>(OR)<BR><BR>Are you a Vendor?<a href="#">REGISTER</a>
                    </p>
                </form>
            </div>

        </div>
        <!--/row-->
        <!-- /bg_color_1 -->
        @*</main>*@
        <!-- /main -->
    </div>
    <!--/footer-->

    <div id="toTop"></div><!-- Back to top button -->
    <!-- COMMON SCRIPTS -->
    @*<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>*@
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>

    <!-- DATEPICKER  -->
    <script src="~/newdesignstyles/Scripts/moment.min.js"></script>
    <script src="~/newdesignstyles/Scripts/daterangepicker.js"></script>
    @*<script src="~/newdesign/js/daterangepicker.js"></script>*@
    @*<script src="~/newdesign/js/jquery.datetimepicker.full.js"></script>*@
    <script>
        $('#datetimepicker1,#datepicker2').daterangepicker({
            singleDatePicker: true,
            minDate: new Date(),
            locale: {
                format: 'DD/MM/YYYY'
            }
        });
    </script>

    <!-- INPUT QUANTITY  -->
    @*<script src="~/newdesignstyles/Scripts/input_qty.js"></script>*@

    <!-- COLOR SWITCHER  -->
    @*<script src="~/newdesignstyles/Scripts/switcher.js"></script>
    <div id="style-switcher">
        <h6>Color Switcher <a href="#"><i class="ti-settings"></i></a></h6>
        <div>
            <ul class="colors" id="color1">
                <li><a href="#" class="default" title="Default"></a></li>
                <li><a href="#" class="aqua" title="Aqua"></a></li>
                <li><a href="#" class="green_switcher" title="Green"></a></li>
                <li><a href="#" class="orange" title="Orange"></a></li>
                <li><a href="#" class="blue" title="Blue"></a></li>
            </ul>
        </div>
    </div>*@
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <!-- custom -->
    @*<script type="text/javascript" src="http://design.maa-aahwanam.com/panagea/custom.js"></script>*@
</body>
</html>