
@{
    ViewBag.Title = "::Search Results ::";
    Layout = "~/Views/SharedWeb/UserModuleMasterPage.cshtml";
}
<link href="~/newdesign/css/alertify.css" rel="stylesheet" />
@*<style>
        /* Cosmetic only */
    #easyPaginate {width:300px;}
    #easyPaginate img {display:block;margin-bottom:10px;}
    .easyPaginateNav a {padding:5px;}
    .easyPaginateNav a.current {font-weight:bold;text-decoration:underline;}
    </style>*@
<style>
    .nice-select, .list {
        width: 370px;
    }
</style>



<main>

    @*<section class="hero_in tours">
            <div class="wrapper">
                <div class="container">
                    <h1 class="fadeInUp"><span></span>Available Vendors</h1>
                </div>
            </div>
        </section>*@
    <!--/hero_in-->

    <div class="container margin_60_35">
        <form method="post">
            <div class="col-lg-12">
                <div class="row no-gutters custom-search-input-2 inner">
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Location" value="Hyderabad" required>
                            <i class="icon_pin_alt"></i>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <select class="form-control" required id="selectevent">
                            <option>Select Event</option>
                            <option>Wedding</option>
                            <option>Party</option>
                            <option>Corporate</option>
                            <option>Baby Function</option>
                            <option>Birthday</option>
                            <option>Engagement</option>
                            <option>Other</option>
                        </select>
                        @*<div class="form-group">
                                <input class="form-control" type="text" placeholder="What Type of Event?" required>

                                <i class="icon-arrow-down"></i>
                            </div>*@
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input class="form-control" type="number" placeholder="Guests" required>
                            <i class="icon-group"></i>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <input class="form-control" id="datetimepicker1" type="text" name="dates" placeholder="Date?" required>
                            <i class="icon_calendar"></i>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <input type="submit" class="btn_search" value="Search">
                    </div>
                </div>
                <!-- /row -->
            </div>
        </form>
    </div>



    @*<div class="filters_listing sticky_horizontal">
            <div class="container">
                <ul class="clearfix">
                    <li>
                    </li>
                    <li>
                        <div class="layout_view">
                            <a href="#0" class="active"><i class="icon-th"></i></a>
                            <a href="tours-list-sidebar.html"><i class="icon-th-list"></i></a>
                        </div>
                    </li>
                    <li>
                        <div class="custom-search-input-2 inner-2">
                            <div class="form-group">
                                <input type="text" class="form-control" value="Search By Vendor Name" style="width:300px" /><i class="icon_search" style="background-color: red; width: 36px; color: white;"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

        </div>*@
    <!-- /filters -->
    @*<div class="custom-search-input-2 inner-2" style="width:20%">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Terms...">
                <i class="icon_search"></i>
            </div>
        </div>*@
    <div class="collapse" id="collapseMap">
        <div id="map" class="map"></div>
    </div>
    <!-- End Map -->

    <div class="container margin_60_35">
        <div class="row">
            <aside class="col-lg-3" id="sidebar">
                <div id="filters_col">
                    <a data-toggle="collapse" href="#collapseFilters" aria-expanded="false" aria-controls="collapseFilters" id="filters_col_bt">Filters </a>
                    <div class="collapse show" id="collapseFilters">
                        <div class="filter_type">
                            <h6>Service Types</h6>
                            <p id="selectedservices" style="display:none"></p>
                            <ul class="allservices">
                                <li>
                                    <label>
                                        <input type="checkbox" id="service" class="icheck">Hotel @*<small>(945)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Banquet @*<small>(45)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Resort @*<small>(30)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Convention @*<small>(25)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Function @*<small>(56)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        @*<input type="checkbox" class="icheck" disabled>*@ OYO Banquets @*<small>(25)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        @*<input type="checkbox" class="icheck" disabled>*@ Catering @*<small>(56)</small>*@
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter_type">
                            <h6>Budget</h6>
                            <input type="text" id="range" name="range" value="">
                        </div>
                        <div class="filter_type">
                            <h6>Food Type</h6>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Vegetarian @*<small>(25)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Non-Vegetarian @*<small>(26)</small>*@
                                    </label>
                                </li>
                            </ul>
                        </div>
                        <div class="filter_type">
                            <h6>Amenities</h6>
                            <ul>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">AC @*<small>(25)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Wi-Fi @*<small>(26)</small>*@
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">TV
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <input type="checkbox" class="icheck">Parking Facility
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/collapse -->
                </div>
                <!--/filters col-->
            </aside>
            <!-- /aside -->

            <input type="hidden" id="rcount" value="@ViewBag.count" />
            <div class="col-lg-9">
                <div class="isotope-wrapper" id="presults">
                    @{ Html.RenderAction("Loadmore", "results");}
                    <!-- /row -->
                </div>
                <!-- /isotope-wrapper -->
                @* <p class="text-center"><a href="#0" class="btn_1 rounded add_top_30">Load more</a></p>*@
            </div>

            <!-- /col -->
        </div>
    </div>
    <!-- /container -->

</main>

@section scripts{
    <script src="~/newdesign/js/alertify.js"></script>
    <script>
        //Lazy Loading.......
        var pageIndex = 0;
        var pageCount;
        $(window).scroll(function () {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                GetRecords();
            }
        });
        function GetRecords() {
            pageIndex++;
            var servicetype = 'Venue';
            var selectedservices = $('#selectedservices').text();
            //alert(selectedservices.slice(0, -2));
            //alert(selectedservices.length);
            //if (selectedservices != '') { servicetype = selectedservices.trimEnd(',');}
            $.ajax({
                type: "POST",
                url: "results/LazyLoad?count=" + pageIndex + "&&type=" + servicetype,
                data: $('#rcount').val(),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: OnSuccess,
                failure: function (response) {
                    alert("Failed to Load data");
                },
                error: function (response) {
                    alert("Something went wrong!!! Try Again after sometime");
                }
            });
        }
        function OnSuccess(response) {
            alertify.success('New Records Loaded!!! Scroll Down to View');

            $.each(response, function (key, value) {
                //$("#allrecords").append("<div class='col-md-6 isotope-item popular'><div class='box_grid'><figure><a href='/viewservice'><img src='/vendorimages/" + value.image + "' class='img-fluid' alt='' width='800' height='533'> </a> </figure> <div class='wrapper'> <h3><a href='/viewservice'>" + value.BusinessName + "</a></h3> <div class='panel panel-default'> <div class='ui segment'> <p> Veg price per plate starts from &emsp;₹ " + value.cost1 + " </p> <p> Non-Veg price per plate starts from &emsp;₹ " + value.cost2 + " </p> </div> </div> </div> <ul> <li><div class='score'><span>BOOK NOW</span></div></li> </ul> </div> </div>");

                $('#allrecords').append("<div class='col-md-6 isotope-item popular'><div class='box_grid'><figure><a href='#'><img src='/vendorimages/" + value.image + "' class='img-fluid' alt='' width='800' height='533'> </a> </figure> <div class='wrapper'> <h3> <a href='#'>" + value.BusinessName + "</a><a class='ui violet label'>" + value.subtype + "</a> <span><br><p class='p_0'>" + value.Landmark + "," + value.City + "</p></span></h3><div class='panel panel-default'><div class='ui segment'><p>Veg price/plate <span> &emsp;₹ <strong>" + value.cost1 + "</strong></span><br> starts from</p><p> Non-Veg price/plate <span> &emsp;₹ <strong>" + value.cost2 + "</strong></span><br> starts from</p></div></div></div><ul><li><div class='score'><span>BOOK NOW</span></div></li></ul></div></div>")
            });
            $('#loadresults').empty();
        }
    </script>

    <script>
        // Records Filter
        $('.iCheck-helper').click(function () {
            var value = $(this).parents("label").text().trim();
            if ($(this).parents("label").find("input[type='checkbox']").is(':checked')) {
                var url = "results/Loadmore?count=1&&type=" + value;
                $('#presults').empty().load(url);
            }
            // Working Code
            $(" ul.allservices > li").each(function () {
                if ($(this).find("input[type='checkbox']").is(':checked')) {
                    var checkText = value;
                    $("#selectedservices").append(checkText + ", ");
                }
            });
        });
    </script>
}