<div class="row">
    <input type="hidden" id="rcount" value="@ViewBag.count" />
    @foreach (var item in ViewBag.venues)
    {
        <div class="col-md-6 isotope-item popular">
            <div class="box_grid">
                <figure>
                    <a href="#0" class="wish_bt"></a>
                    <a href="#">
                        @if (item.logo != null)
                        {
                            <img src="~/vendorimages/@item.logo" class="img-fluid" alt="" width="800" height="533">
                        }
                        else if (item.image != null)
                        {
                            <img src="~/vendorimages/@item.image" class="img-fluid" alt="" width="800" height="533">
                        }
                        else
                        {
                            <img src="~/noimages.png" class="img-fluid" alt="" width="800" height="533">
                        }
                        <div class="read_more"><span>Read more</span></div>
                    </a>
                    @*<small>Historic</small>*@
                </figure>
                <div class="wrapper">
                    <h3><a href="#">@item.BusinessName</a></h3>
                    <p>@item.Description</p>
                    <span class="price">From <strong>@item.cost1</strong> /per person</span>
                </div>
                @*<ul>
                        <li><i class="icon_clock_alt"></i> 1h 30min</li>
                        <li><div class="score"><span>Superb<em>350 Reviews</em></span><strong>8.9</strong></div></li>
                    </ul>*@
            </div>
        </div>
    }

    <!-- /box_grid -->
</div>

