body{
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Arial", Gadget, sans-serif;
	font-size: 12px;}
.header-simple-phone{
	text-align: right;}
.header-simple-phone p{
	margin-bottom: 0;}
.form-headding{
	margin-top: 15px;
	margin-bottom: 15px;}
.form-headding i{
	padding-right: 10px;}
.upload-file{
	border: 5px dashed #ccc;
	min-height: 120px;}
.thumb-img{
	width: 120px;
	height: 120px;
	margin: auto;}
.legend-count{border-radius:50%;
display:inline-block;
vertical-align:middle;
*display:inline;
zoom:1;
font-size:13px;
font-family:Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
color:#d41b26;
margin-right:6px;
padding:2px 2px 0px;
min-width:16px;
text-align:center;
line-height:14px;
border:1px solid #d41b26;}
.discount-radio{}
.discount-text{
	padding: 8px;
	font-size: 18px;}

/*======= Common Styles ==============*/
img{
	max-width: 100%;}
.border-default{
	border: 1px solid #e1e1e1;}
.border-default-top{
	border-top: 1px solid #e1e1e1;}
.border-default-bottom{
	border-bottom: 1px solid #e1e1e1;}
.red{
	color: #d41b26;}
.red-bg{
	background: #d41b26;}
.white{
	color: #fff;}
.grey{
	color: #9c9c9c;}
.light-sky-blue-bg{
	background: #E8F3F8;}
.border-radius-5{
	border-radius: 5px;}
.font-size-14{
	font-size: 14px;}
p > small,
label > small{
	font-size: 100%;
	line-height: 20px;}
.bold{
	font-weight: bold;}
.opacity-0{
	opacity: 0;}
.padding-0{
	padding: 0;}
.padding-left-0{
	padding-left: 0;}
.padding-right-0{
	padding-right: 0;}
.margin-top{
	margin-top: 10px;}
.margin-top-0{
	margin-top: 0;}
.margin-bottom{
	margin-bottom: 10px;}
.margin-bottom-0{
	margin-bottom: 0;}
.margin-bottom-30{
	margin-bottom: 30px;}
.margin-bottom-100{
	margin-bottom: 100px;}
.margin-top-30{
	margin-top: 30px;}
.margin-top-100{
	margin-top: 100px;}
.margin-left{
	margin-left: 10px;}
.margin-left-0{
	margin-left: 0;}
.margin-right{
	margin-right: 10px;}
.margin-right-0{
	margin-right: 0;}
.padding-top-10{
	padding-top: 10px;}
.padding-top-50{
	padding-top: 50px;}
.padding-left-10{
	padding-left: 10px;}
.padding-right-10{
	padding-right: 10px;}
.padding-right-5{
	padding-right: 5px;}
.padding-bottom-10{
	padding-bottom: 10px;}
.padding-bottom-50{
	padding-bottom: 50px;}
.hr-line{
	margin-top: 10px;
	margin-bottom: 15px;
	clear: both;}
.clear-both{
	clear: both;}
.form-group-1{
	margin-bottom: 15px;
	position: relative;}
.form-group-1 i{
	position: absolute;
	left: 10px;
	bottom: 5px;
	color: #9c9c9c;
	z-index: 1;}
.form-control1{
  padding: 6px 12px 6px 38px;}
.form-control{
	 padding: 6px 12px;}
.form-control1,
.form-control1 {
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.form-control1:focus,
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.form-control1::-moz-placeholder,
.form-control::-moz-placeholder {
  color: #9c9c9c;
  opacity: 1;
}
.form-control1:-ms-input-placeholder,
.form-control:-ms-input-placeholder {
  color: #9c9c9c;
}
.form-control1::-webkit-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #9c9c9c;
}
.form-control1::-ms-expand,
.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}
.radio label,
.checkbox label{
	font-size: 14px;}
.radio + .radio,
.checkbox + .checkbox{
	margin-top: 10px;}
.relative{
	position: relative;}
.absolute{
	position: absolute;}
	
/*========================== Index Page ===================*/
.top-menu{
	border-top: 2px solid #fe4f3a;}
.top-menu ul{
	background-color: #fff;
	padding-left: 0;
	display: inline-block;
	float: right;
	margin-bottom: 0;}
.top-menu ul li{
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;}
.top-menu ul li i{
	padding-right: 10px;
	color: #fe4f3a;}
.top-menu ul li a{
	text-decoration: none;
	color: #000;}

.navbar-brand{
	height: auto;
	padding: 0 15px 0 0;}
.navbar{
	border: none;
	border-radius: 0;
	margin-bottom: 0;}
.navbar-default{
	background-color: #fe4f3a;}
.navbar-default .navbar-nav > li > a{
	padding: 19px 19px 20px;
	color: #fff;
	font-size: 14px;}
.navbar-default .navbar-nav > li > a:hover{
	background-color: #fff;
	color: #fe4f3a;}
video{    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -100;}

article {
    /*position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;*/}
h1 {
    position: absolute;
    padding: 10px 80px 10px 80px !important;
    top: 25%;
    width: 100%;
    font-size: 26px !important;
    letter-spacing: 3px;
    color: #fff !important;
    font-family: Oswald, sans-serif;
	background: rgba(0,0,0,.5);
    text-align: center;}
select {
    background: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px dashed #ececec;
    appearance: none;
    -o-appearance: none;
    -ms-apperance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    font-size: 26px;
    margin-bottom: 20px !important;
    cursor: pointer;
	outline: none;}
select > option {
    color: #000;
    font-size: 18px;
    background: #fff;
    padding: 10px;
    outline: none;}
.carousel-area{
	background: url(../images/banner-carousle.jpg) no-repeat;
	background-size: cover;
	height: calc(100vh - 10vh);
}
.how-it-work{
	color: #565654;
	font-family: 'Lato';}
.how-it-work h3{
	font-weight: bold;
	font-size: 26px;
	color: #3c3c3b;}
.how-it-work h5{
	font-size: 17px;
	font-weight: bold;}
.how-it-work p{
	font-size: 14px;
	font-weight: 700;
	line-height: 17px;}
.how-it-work p a,
.how-it-work p .text-primary{
	color:  #fe4f3a;}
.how-it-work .block:after{
	content: "\f105";
    font-family: FontAwesome;
    position: absolute;
    right: 0;
    top: 30%;
    font-size: 35px;
	color: #bcbcba;}
.fa-stack{
	width: 100px;
	height: 100px;}
.fa-stack i.fa-circle{
	position: absolute;
	left: 8px;
	top: 0px;
	font-size: 90px;
	color: #fe4f3a;}
.fa-stack i.fa-circle + i{
	position: absolute;
	top: 25px;
	left: 25px;
	font-size: 45px;}
.fa-stack i.fa-circle + i.fa-map-marker{
	left: 35px;}
.gallery{
	height: 100%;}
.gallery .gallery-left{
	padding-left: 0;
    padding-right: 0;
    height: inherit;
	/*background: url(../images/wedding-banner.jpg) no-repeat 0 0;
	height: 100vh;
	background-size: cover;
    background-position: center;*/}
.gallery .gallery-left img{
	width: 100%;
	height: inherit;}
.gallery .gallery-right div{
	position: relative;
	transform: scale(1,1);
	transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;}
.gallery .gallery-right div:hover{
	transform: scale(0.9,0.9);
	transition: 1s ease;
	-o-transition: 1s ease;
	-ms-transition: 1s ease;
	-moz-transition: 1s ease;
	-webkit-transition: 1s ease;}
.gallery .gallery-right div img{
	width: 100%;
	height: inherit;}
.gallery .gallery-right div h5{
	position: absolute;
	text-align: center;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	font-weight: bold;
	color: #fff;
	font-size: 17px;
	text-transform: uppercase;}

/*====================== Thank You Page ======================*/

.thankyou {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	font-family: 'lato';
	}
.thankyou h3 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
	}
.thankyou i {
    font-size: 85px;
    margin-bottom: 20px;
    border: 3px solid #fb6e14;
    padding: 33px 25px;
    border-radius: 50%;
	color: #fb6e14;
	animation: anima 1s;
	-o-animation: anima 1s;
	-ms-animation: anima 1s;
	-moz-animation: anima 1s;
	-webkit-animation: anima 1s;
	}
.thankyou p {
    font-size: 24px;
    line-height: 35px;
	color: #fb6e14;
	}
@keyframes anima{
	0%{
		transform: scale(0,0);
		}
	25%{
		transform: scale(0.6,0.6);
		}
	50%{
		transform: scale(0.3,0.3);
		}
	75%{
		transform: scale(1.3,1.3);
		}
	100%{
		transform: scale(1,1);
		}
	}
@-webkit-keyframes anima{
	0%{
		transform: scale(0,0);
		}
	25%{
		transform: scale(0.6,0.6);
		}
	50%{
		transform: scale(0.3,0.3);
		}
	75%{
		transform: scale(1.3,1.3);
		}
	100%{
		transform: scale(1,1);
		}
	}


/*========================== Index Page Media Quries ===================*/
@media only screen and (max-width: 480px){
	.navbar-brand{
		padding-right: 0;}
	article > form > h1{
		padding: 5px !important;
		margin-top: 0;
		top: 20%;
		font-size: 20px !important;}
	article > form > h1 > select{
		font-size: 20px !important;}
	article > form > h1 > select > option{
		font-size: 10px;}
	.how-it-work .block{
		margin-bottom: 30px;}
	.gallery{
		height: auto;
		max-height: 800px;}
	}


/*========================== MY Styles ===================*/

/*-------------- Progress Bar Area ----------------*/
.progress-area{
	padding: 20px 15px;}
.progress-ui{
	display: inline-block;
    vertical-align: middle;
    zoom: 1;
    text-align: center;
    margin: 0 auto;
    position: relative;
    overflow: hidden;}
.progress-ui:after{
	content:'';
	width: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	z-index: 1;}
.progress-ui div{
	padding: 10px 40px;
	float: left;
	box-shadow: inset 0 24px 0 0 #e1e1e1;}
.progress-ui div:first-child{
	padding: 10px 40px 10px 0;}
.progress-ui div:last-child{
	padding: 10px 0px 10px 40px;}
.progress-ui div span{
	border: 3px solid #e1e1e1;
	border-radius: 50%;
	padding: 7px 12px;
	font-size: 16px;
	font-weight: 600;
	color: #e1e1e1;
	background: #fff;
	position: relative;
	z-index: 2;}
.progress-ui div.complete{
	box-shadow: inset 0 24px 0 0 #fb1b26;}
.progress-ui div.complete span{
	border: 3px solid #fb1b26;
	color: #fb1b26;}
.progress-content{
	display: block;}
.progress-content div{
	width: 120px;
	display: inline-block;
	vertical-align: middle;
	color: #9c9c9c;
	margin-top: 10px;
	line-height: 16px;}

/*-------------- Progress Bar Area ----------------*/
.blocks{
	transition: .5s ease;
	-o-transition: .5s ease;
	-ms-transition: .5s ease;
	-moz-transition: .5s ease;
	-webkit-transition: .5s ease;
	opacity: 1;}
p.red > small{
	cursor: pointer;}
.upload-file input[type = 'file'],
.upload-file button{
	position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 60%;
    width: 90px;
    height: 35px;
	cursor: pointer;}
.upload-file input[type = 'file']{
	z-index: 1;}

/*============ Vendor page ===============*/
.inner-page-banner{
	width: 100%;
	height: auto;
	position: relative;
}
.inner-page-banner img{
	width: inherit;
	height: inherit;
}
.inner-page-banner > .content{
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
	background: rgba(255,255,255, .8);
	padding: 20px 10px;
	color: #333;
	border-radius: 5px;
	font-family: 'Lato';
}
.inner-page-banner > .content > h3{
   font-weight: bold;
   margin-bottom: 20px;
}
.inner-page-banner > .content > p{
	font-size: 16px;
	line-height: 18px;
	margin: 0 15px 20px;
	color: #333;
}
.inner-page-banner > .content > a{
	background-color: #fe4f3a;
	padding: 5px 15px;
	color: #fff;
	font-size: 14px;
	border-radius: 3px;
	text-decoration: none;
	display: inline-block;
}
.inner-page-banner > .content > a:hover{
	background-color: #333;
	color: #fff;
}
.vendor-row{
	font-family: 'lato';
	color: #474747;
}
.vendor-row .vendor-content{
	padding-left: 40px;
}
.vendor-row .vendor-row-content{
	margin-bottom: 30px;
}
.vendor-row .vendor-content h3,
.vendor-row .vendor-row-content h3{
	font-size: 24px;
}
.vendor-row .vendor-content p,
.vendor-row .vendor-row-content p{
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px;
}
.vendor-row figure{
	position: relative;
	border-top: 1px solid #ececec;
	cursor: pointer;
}
.vendor-row figure img{
	background: #ececec;
	width: 100%;
}
.vendor-row figure figcaption{
	text-align: center;
	background: #e3e6e8;
	color: #575757;
	font-size: 18px;
	padding: 10px 0;
}
.vendor-row figure:hover{
	border-top: 1px solid #fe4f3a;
}
.vendor-row figure:hover figcaption{
	color: #fff;
	background: #fe4f3a;
}
.vendor-row figure:hover img{
	background: #fff;
}
.vendor-row-fig{
	padding-left:0;
	padding-right: 0;
	border: 1px solid #e9e9e9;}
.vendor-row-fig,
.vendor-row-content{
	float: none;
	vertical-align: middle;
	display: table-cell;
}
footer > .row{
	font-family: 'Lato';
	font-size: 16px;
	background: #fe4f3a;
	padding: 10px 0;
	color: #fff;
	text-align: center;}
	
	
::selection{
	color: #fff;
	background: #fe4f3a;}
::-moz-selection{
	color: #fff;
	background: #fe4f3a;}


/* This toggle style shows a winking "eye-con" (nyuk, nyuk).
   * Open eye means "show," closed eye means "hide."
   */
  .hideShowPassword-toggle {
    background-image:url(../images/wink.svg);
    background-position: 0 center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 100%;
    overflow: hidden;
    text-indent: -9999em;
    width: 44px;
  }
  .hideShowPassword-toggle-hide {
    background-position: -44px center;
  }
  /*
   * Because our input elements have a z-index so that
   * their borders will overlap on focus, we'll give ours
   * a higher one to make sure they're always visible.
   */
  .hideShowPassword-toggle,
  .my-toggle-class {
    z-index: 3;
  }
  
  /*
   * Add this if you want to disable IE10's implementation
   * of the winking eye in favor of your own.
   * Alternatively, you could set the 'innerToggle' option to
   * false for that browser only.
   */
  ::-ms-reveal {
    display:none !important;
  }
  
/*============ Media Quries ===========*/

@media only screen and (min-width: 320px) and (max-width: 480px){
	
	.vendor-row .vendor-content{
	padding-left: 0px;
}
}