
<div class="col-md-2-3">
    
    <div class="h4-1">Add Banquet hall
        <button type="button" class="btn btn-danger" style="border-radius:1px;">
            Preview
        </button>
    </div>

@foreach (var item in ViewBag.images)
{
    @*<img src="http://design.maa-aahwanam.com/panagea/images/banner3.jpg" style="width: 645px;">*@
    <img style="width: 645px;"src="~/vendorimages/@item.ImageName" alt="@item.ImageName" />
}
   @if (@ViewBag.service == "")
   {
    <h6 class="h6-1"><input type="text" value="" id="venuetype1" name="venuetype1" placeholder="Venue type" /><label style="float:right;">Inactive</label></h6>
   }
   else
   {
    <div class="h6-1"><input type="text" value="@ViewBag.service.VenueType" id="venuetype1" name="venuetype1" placeholder="Venue type" />@ViewBag.service.Status</div>


   }
</div>
<div class="col-md-2-8">
    <form>
        <input type="file" name="pic" accept="image/*" style="padding-top: 43px;padding-left: 40px;">
        <input type="file" name="pic" accept="image/*">

    </form>
</div>
<div class="col-md-2-9">
    
    <form>

        &emsp;&emsp;&emsp;<input type="text" id="fname" name="fname" value="John">

        <input type="text" id="lname" name="lname" value="Doe">
    </form>
    
    <table>

        <tr>
            <th>Peak days</th>
            <th>Normal Days</th>
            <th>Holidays</th>
            <th>Choice days</th>
        </tr>
        <tr>
            <td>$000000</td>
            <td>$000000</td>
            <td>$000000</td>
            <td>$000000</td>
        </tr>
    </table>

</div>
<div class="col-md-2-10">
    
    <button class="button">Mocktails(2)</button>
    <button class="button">soup(2)</button>
    <button class="button">salad(2)</button>
    <button class="button">mains(2)</button>
    <button class="button">rice&curd(2)</button>
    <button class="button">Rajasthani(2)</button>
    <button class="button">deserts(2)</button>
    <button class="button">Add item</button><br><br>
    <a href="#" style="padding-left: 17px;margin-top: 3px; color:#dc3545;float:right">Duplicate</a><a href="#" style="padding-left:17px;margin-top:3px; color:#dc3545;float:right">Publish</a>
</div>
@*<div class="">
    <h5 class="h5-amenties">Search for amenties</h5>

    <div class="box-row&quot;" style="padding-left: 73px;">

        <p style="color: #222;font-size: 14px;">&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/wifi.png" style="/* padding-top: 22px; */"><br>&emsp;&emsp;&emsp;WIFI</p>
        <p style="color: #222; font-size: 14px;">&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/wifi.png"><br>&emsp;&emsp;DECORS</p>


    </div>
    <div class="box-row1&quot;" style=" padding-left 151px;margin-top -198px;">
        <p style="color: #222;font-size: 14px;">&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/wifi.png"><br>&emsp;&emsp;&emsp;AC</p>
        <p style="color: #222;font-size: 14px;">&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/wifi.png"><br>&emsp;&emsp;&emsp;AC</p>
    </div>
    <div class="box-row2&quot;" style="padding-left: 226px;margin-top: -198px;">

        <p style="color: #222;font-size: 14px;">&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/wifi.png"><br>&emsp;&emsp;&emsp;AC</p>
        <p style="color: #222;font-size: 14px;">&emsp;<img src="http://design.maa-aahwanam.com/panagea/images/wifi.png"><br>&emsp;&emsp;&emsp;AC</p>
    </div>



</div>*@
<div class="col-md-2-4 row">
    <h6 class="uk-h6-1">AMENTIES</h6>
    @*<div class="row-2" overflow="visible">
      
        <p class="caption">
            <img src="/newdesignstyles/VenueIcons/AC.png" title="AC">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/TV.png" title="TV">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Parking_Facility.png" title="Parking_Facility">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Lift_or_Elevator.png" title="Lift_or_Elevator">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Banquet_Hall.png" title="Banquet_Hall">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Laundry.png" title="Laundry">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Swimming_Pool.png" title="Swimming_Pool">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Bar.png" title="Bar">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Power_Backup.png" title="Power_Backup">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Mini_Fridge.png" title="Mini_Fridge">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Hair_Dryer.png" title="Hair_Dryer">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Electricity.png" title="Electricity">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Netflix.png" title="Netflix">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Sofa_Set.png" title="Sofa_Set">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Full_Length_Mirrror.png" title="Full_Length_Mirrror">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/King_Bed.png" title="King_Bed">
        </p>                                      <p class="caption">
            <img src="/newdesignstyles/VenueIcons/Single_Bed.png" title="Single_Bed">
        </p>
    </div>*@
    <div class="grid-container">
        <div class="grid-item"><p class="caption">
    <img src="/newdesignstyles/VenueIcons/AC.png" title="AC">AC
</p>
</div>
        <div class="grid-item"><p class="caption">
    <img src="/newdesignstyles/VenueIcons/TV.png" title="TV">TV
</p>                                   </div>
        <div class="grid-item"><p class="caption">
    <img src="/newdesignstyles/VenueIcons/Parking_Facility.png" title="Parking_Facility">Parking_Facility
</p>                                    </div>
        <div class="grid-item">4</div>
        <div class="grid-item">5</div>
        <div class="grid-item">6</div>
        <div class="grid-item">7</div>
        <div class="grid-item">8</div>
        <div class="grid-item">9</div>


        <div class="grid-item">9</div>
    </div>
</div>
<div class="col-md-2-5">
    <h5 class="h5-1">HALL DETAILS</h5>
    <div class="ui equal width form">
        <div class="fields">
            <div class="four-field">
                <label></label>
                <input type="text" placeholder="Area Type">
            </div>

        </div>
        <div class="fields">
            <div class="four-field">
                <label></label>
                <input type="text" placeholder="Area Dimensions(in sft)">
            </div>

        </div>

        <div class="fields">
            <div class="field-1">
                <label></label>
                <input type="text" placeholder="Max Capacity">
            </div>

            <div class="field-1">
                <label></label>
                <input type="text" placeholder="Max Capacity">
            </div>
        </div>
    </div>
    <br>

</div>

<div class="col-md-2-11">
    <h5 class="h5-1">Add Description</h5>
    <div class="ui equal width form">
        <div class="fields">
            <div class="four-field">
                <label></label>
                <input type="text" placeholder="Description" style="height: 109px;">
            </div>
        </div>
        <h5 class="h5-1">Address</h5><br>
        <div class="ui equal width form">
            <div class="fields">
                <div class="eight field">
                    <label></label>
                    <input type="text" placeholder="H.no/flat/plot">
                </div>

            </div>
            <div class="fields">
                <div class="field">
                    <label></label>
                    <input type="text" placeholder="Street Name">
                </div>

                <div class="field">
                    <label></label>
                    <input type="text" placeholder="Area Name">
                </div>
            </div>
            <div class="eight field">
                <label></label>
                <input type="text" placeholder="Pincode">
            </div>
            <div class="fields">
                <div class="field">
                    <label></label>
                    <input type="text" placeholder="City">
                </div>

                <div class="field">
                    <label></label>
                    <input type="text" placeholder="State">
                </div>
            </div>
        </div>
    </div>


</div>