
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Panagea - Premium site template for travel agencies, hotels and restaurant listing.">
    <meta name="author" content="Ansonika">
    <title></title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="img\favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="img\apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img\apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114" href="img\apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144" href="img\apple-touch-icon-144x144-precomposed.png">


    <!-- BASE CSS -->
    <link href="~/newdesignstyles/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/newdesignstyles/css/style.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/vendors.css" rel="stylesheet">
    <link href="~/newdesignstyles/css/all_icons.min.css" rel="stylesheet">


    <!-- SPECIFIC CSS -->
    <link href="css\daterangepicker.css" rel="stylesheet">

    <!-- ALTERNATIVE COLORS CSS -->
    <link href="#" id="colors" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- YOUR CUSTOM CSS -->
    <link href="http://design.maa-aahwanam.com/panagea/css/custom1.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:700" rel="stylesheet">
    <!-- semantic -->
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.css" type="text/css">
    <link rel="stylesheet" href="~/newdesignstyles/css/semantic.min.css" type="text/css">
    <style type="text/css">
        .button {
            background-color: #fff;
            border: none;
            color: black;
            padding: 6px 3px 15px 2px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            margin: 8px 0px 3px 6px;
            cursor: pointer;
            border-radius: 16px;
        }

        .button {
            height: 27px;
            width: 112px;
        }

        table, th, td {
            border: 0px;
            padding-left: 61px;
            padding-top: 24px;
            margin-top: -16px;
            font-size: 16px;
        }

        input[type=text] {
            width: 39%;
            padding: 12px 26px;
            margin: 5px 15px;
            box-sizing: border-box;
            border: none;
            background-color: #fff;
            color: white;
        }

        p.caption {
            margin: 0 30px 0px 0;
            background-color: yellow;
        }

        .caption {
            font-size: 10px;
            font-family: lato;
            color: #000;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            border-radius: 30px;
            height: 60px;
            width: 60px;
            grid-gap: 30px 30px;
        }

        .grid-item {
            background-color: yellow;
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
            border-radius: 30px;
            height: 60px;
            width: 60px;
        }

        .saveamenities {
            margin-left: 300px;
            margin-top: -33px;
            width: 75px;
            background-color: #5829bb;
            color: white;
        }
        .sliderdiv {
        border:4px grey solid;
        border-style:dashed;
        height:124px;
        width:124px;
        margin-top:25px;
        }
    </style>

</head>
<body>
    <div id="page">
        <header class="header menu_fixed">
            <div id="preloader"><div data-loader="circle-side"></div></div><!-- /Page Preload -->
            <div id="logo">
                <a href="/home">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_sticky">
                    <img src="~/newdesignstyles/img/logo.png" width="40" height="36" data-retina="true" alt="" class="logo_normal">
                </a>
            </div>

            <ul id="top_menu"></ul>
            <!-- /top_menu -->
            <a href="#menu" class="btn_mobile">
                <div class="hamburger hamburger--spin" id="hamburger">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="menu" class="main-menu">
                <ul>
                    <li><span><a href="#0">Add Manager</a></span>
                    <li><span><a href="#0">Add service</a></span>
                    <li>
                        <span><a href="#0">Settings</a></span>
                    </li>
                </ul>


            </nav>

        </header>
        <!-- /header -->
        <main>
            <div id="error_page">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="ui-cards">
                                <div class="card">
                                    <div class="content">
                                        <div class="header-1">
                                            <img src="http://design.maa-aahwanam.com/panagea/images/banquet1.jpg" style="height: 126px; width :231px;">
                                        </div>
                                        <div class="meta"></div>
                                        <div class="description">

                                        </div>
                                    </div>
                                    <div class="card-1">
                                        <div class="content">
                                            <h5 class="h5-1" style="padding-top :4px;">
                                                TAJ BANJARA <a class="ui violet label">HOTEL</a>
                                            </h5><br>
                                            <a href="#" style="padding-left: 17px;margin-top: 3px; color:#dc3545;">View profile&nbsp;&nbsp;&nbsp;|</a><a href="#" style="padding-left:17px;margin-top: 3px;color:#dc3545;">logout</a>
                                            <div class="meta"></div>
                                            <div class="description">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2-2">
                                    <BR>
                                    <h6 class="h6-in">Dashboard	></h6>
                                    <h6 class="h6-in">Manage Orders	></h6>
                                    <h6 class="h6-in">Services	></h6>
                                    <h6 class="h6-in">untitled	></h6>
                                </div>
                                <button type="button" class="btn btn-1" style="border-radius:1px;width:230px;color:#fff;background-color:red;font-size:14px;">
                                    Add Service
                                </button>

                                <div class="col-md-2-3">
                                    <h6 class="h4-1">
                                        ADD NEW BANQUETHALL <button type="button" class="btn btn-danger" style="border-radius:1px;float:right">Preview</button>
                                    </h6>
                                    <img src="http://design.maa-aahwanam.com/panagea/images/banner3.jpg" style="width: 645px;">
                                    <div align="center">
                                        <div style="float:left"><input type="text" style="width:100%" placeholder="YOUR HALL NAME" /></div>
                                        <div style="float:right;margin-top:17px"><input type="checkbox" class="icheck" /><span style="color:black">InActive</span></div>
                                    </div>
                                </div>
                                <div class="col-md-2-8">
                                    <form style="padding-left: 50px;">
                                        <input type="file" name="image" id="image" style="display:none;">
                                        @*<img src="http://design.maa-aahwanam.com/panagea/images/catering.jpg" style="padding-left: -8px;padding-top: 25px;height: 113px;width: 104px;">*@
                                        @*<img src="http://design.maa-aahwanam.com/panagea/images/select.jpg" style="padding-left: 17px;padding-top: 25px;height: 124px;">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/select.jpg" style="padding-left: 17px;padding-top: 25px;height: 124px;">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/select.jpg" style="padding-left: 17px;padding-top: 25px;height: 124px;">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/select.jpg" style="padding-left: 17px;padding-top: 25px;height: 124px;">*@
                                        <div class="sliderdiv" style="border:dashed solid;height:124px;width:124px">
                                            <img src="~/newdesignstyles/img/plus.png" />
                                        </div>
                                    </form>
                                </div>
                                <h5 class="h5-1-1">
                                    FoodPackages<button type="button" class="btn btn-danger" style="border-radius: 1px;margin-top: -47px;margin-left: 402px;background-color: #f4f5f7;border: 1px #f4f5f7;color: #222;">Plan Calender</button>
                                    <button type="button" class="btn btn-danger" style="border-radius: 1px;margin-top: -84px;margin-left: 520px;color: #fff;border: 1px #f4f5f7;background-color: red;">Add Package</button>
                                </h5>

                                <div class="col-md-2-9">
                                    <br>
                                    <form>
                                        <input type="text" id="fname" name="fname" value="John">
                                        <input type="text" id="lname" name="lname" value="Doe">
                                    </form>
                                    <table>
                                        <tr>
                                            <th>Peak days</th>
                                            <th>Normal Days</th>
                                            <th>Holidays</th>
                                            <th>Choice days</th>
                                        </tr>
                                        <tr>
                                            <td>$000000</td>
                                            <td>$000000</td>
                                            <td>$000000</td>
                                            <td>$000000</td>
                                        </tr>
                                    </table>

                                </div>
                                <div class="col-md-2-10">
                                    <br>
                                    <button class="button">Mocktails(2)</button>
                                    <button class="button">soup(2)</button>
                                    <button class="button">salad(2)</button>
                                    <button class="button">mains(2)</button>
                                    <button class="button">rice&curd(2)</button>
                                    <button class="button">Rajasthani(2)</button>
                                    <button class="button">deserts(2)</button>
                                    <button class="button">Add item</button><br><br>
                                    <a href="#" style="padding-left: 17px;margin-top: 3px; color:#dc3545;">Duplicate</a><a href="#" style="">Publish</a><br><br>
                                    <div class="row-gallery" style="padding-top: 13px;">
                                        <img src="http://design.maa-aahwanam.com/panagea/images/caterer.png" />
                                        <img src="http://design.maa-aahwanam.com/panagea/images/caterer.png" />
                                        <img src="http://design.maa-aahwanam.com/panagea/images/caterer.png" />
                                        <img src="http://design.maa-aahwanam.com/panagea/images/caterer.png" />
                                    </div>
                                    <div class="row-calender">
                                        <h5 class="h5-1">Availability calender</h5><br>
                                        <img src="http://design.maa-aahwanam.com/panagea/images/calendar.jpg" />
                                    </div>
                                </div>
                                <div class="col-md-2-4 row" style="overflow-y: auto;padding:20px" id="exampleTabsLeftTwo">

                                    <div>
                                        @*<center>*@
                                        <h6 class="h4-11">AMENTIES </h6><button type="button" class="btn btn-block saveamenities" onclick="updatedetails('two')">ADD</button>
                                        @*<h6 class="h4-1">
                                                ADD NEW BANQUETHALL <button type="button" class="btn btn-danger" style="border-radius:1px;float:right">Preview</button>
                                            </h6>*@
                                        @*</center>*@
                                        <div class="box-row" style="padding-top:20px;">

                                            <div class="grid-container">
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="/newdesignstyles/VenueIcons/AC.png" title="AC">
                                                        <input type="checkbox" id="AC" style="display:none" value="AC" />
                                                    </p>

                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Balcony.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Balcony" style="display:none" value="Balcony" />
                                                    </p>

                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Banquet_Hall.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Banquet Hall" style="display:none" value="Banquet_Hall" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Bar.png" />


                                                        <input type="checkbox" id="Bar" class="cartcheckbox" style="display:none" value="Bar" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Bath_Tub.png" />
                                                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Bath Tub" value="Bath Tub" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Card_Payment.png" />
                                                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Card Payment" value="Card Payment" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/CCTV_Cameras.png" />

                                                        <input type="checkbox" class="cartcheckbox" style="display:none" id="CCTV Cameras" value="CCTV Cameras" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Coffee_Tea_Maker.png" />
                                                        <input type="checkbox" class="cartcheckbox" style="display:none" value="Coffee_Tea_Maker" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Complimentary_Breakfast.png" />
                                                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Complimentary Breakfast" value="Complimentary Breakfast" />
                                                    </p>
                                                </div>


                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Conference_Room.png" />
                                                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Conference Room" value="Conference Room" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Dining_Area.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Dining Area" style="display:none" value="Dining Area" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Electricity.png" />
                                                        <input type="checkbox" class="cartcheckbox" style="display:none" id="Electricity" value="Electricity" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Full_Length_Mirrror.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Full Length Mirrror" style="display:none" value="Full Length Mirrror" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Geyser.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Geyser" style="display:none" value="Geyser" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Gym.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Gym" style="display:none" value="Gym" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Hair_Dryer.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Hair Dryer" style="display:none" value="Hair Dryer" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/HDTV.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="HDTV" style="display:none" value="HDTV" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/In_house_Restaurant.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="In-house Restaurant" style="display:none" value="In-house Restaurant" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/In_Room_Safe.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="In-Room Safe" style="display:none" value="In-Room Safe" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Intercom.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Intercom" style="display:none" value="Intercom" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Jacuzzi.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Jacuzzi" style="display:none" value="Jacuzzi" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Kindle.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Kindle" style="display:none" value="Kindle" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/King_Bed.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="King Bed" style="display:none" value="King Bed" />

                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Kitchen.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Kitchen" style="display:none" value="Kitchen" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Laundry.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Laundry" style="display:none" value="Laundry" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Lift_or_Elevator.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Lift/Elevator" style="display:none" value="Lift/Elevator" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Mini_Fridge.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Mini Fridge" style="display:none" value="Mini Fridge" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Netflix.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Netflix" style="display:none" value="Netflix" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Parking_Facility.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Pet Friendly" style="display:none" value="Pet Friendly" />
                                                    </p>
                                                </div>

                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Pet_Friendly.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="ParkingFacility" style="display:none" value="ParkingFacility" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Power_Backup.png" />

                                                        <input type="checkbox" class="cartcheckbox" id="Power Backup" style="display:none" value="Power Backup" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Queen_Bed.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Queen Bed" style="display:none" value="Queen Bed" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Room_Heater.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Room Heater" style="display:none" value="Room Heater" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Single_Bed.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Single Bed" style="display:none" value="Single Bed" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Sofa_Set.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Sofa Set" style="display:none" value="Sofa Set" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Spa.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Spa" style="display:none" value="Spa" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Sufficient_Room_Size.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Sufficient Room Size" style="display:none" value="Sufficient Room Size" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Sufficient_Washroom.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Sufficient Washroom" style="display:none" value="Sufficient Washroom" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Swimming_Pool.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Swimming Pool" style="display:none" value="Swimming Pool" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/TV.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="TV" style="display:none" value="TV" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">

                                                        <img src="~/newdesignstyles/VenueIcons/Wellness_Center.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Wheelchair Accessible" style="display:none" value="Wheelchair Accessible" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/Wheelchair_Accessible.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Wellness Center" style="display:none" value="Wellness Center" />
                                                    </p>
                                                </div>
                                                <div class="grid-item">
                                                    <p class="caption">
                                                        <img src="~/newdesignstyles/VenueIcons/wifi.png" />
                                                        <input type="checkbox" class="cartcheckbox" id="Wifi" style="display:none" value="Wifi" />
                                                    </p>
                                                </div>


                                            </div>



                                        </div>

                                    </div>

                                </div>
                                <div class="col-md-2-5">
                                    <h5 class="h5-1">HALL DETAILS</h5>
                                    <div class="ui equal width form" style="margin-left: 49px;">
                                        <div class="fields">
                                            <div class="four-field">
                                                <label></label>
                                                <input type="text" placeholder="Area Type" autocomplete="off">
                                            </div>

                                        </div>
                                        <div class="fields">
                                            <div class="four-field">
                                                <label></label>
                                                <input type="text" placeholder="Area Dimensions(in sft)">
                                            </div>

                                        </div>

                                        <div class="fields">
                                            <div class="field-1">
                                                <label></label>
                                                <input type="text" placeholder="Max Capacity">
                                            </div>

                                            <div class="field-1">
                                                <label></label>
                                                <input type="text" placeholder="Max Capacity">
                                            </div>
                                        </div>
                                    </div>
                                    <br>

                                </div>

                                <div class="col-md-2-11">
                                    <h5 class="h5-1">Add Description</h5>
                                    <div class="ui equal width form">
                                        <div class="fields">
                                            <div class="four-field">
                                                <label></label>
                                                <input type="text" placeholder="Description" style="height: 109px;width: 340px;" autocomplete="off">
                                            </div>
                                        </div>
                                        <h5 class="h5-1">Address</h5><br>
                                        <div class="ui equal width form">
                                            <div class="fields">
                                                <div class="eight field">
                                                    <label></label>
                                                    <input type="text" placeholder="H.no/flat/plot">
                                                </div>
                                            </div>
                                            <div class="fields">
                                                <div class="field">
                                                    <label></label>
                                                    <input type="text" placeholder="Street Name">
                                                </div>

                                                <div class="field">
                                                    <label></label>
                                                    <input type="text" placeholder="Area Name">
                                                </div>
                                            </div>
                                            <div class="eight field">
                                                <label></label>
                                                <input type="text" placeholder="Pincode">
                                            </div>
                                            <div class="fields">
                                                <div class="field">
                                                    <label></label>
                                                    <input type="text" placeholder="City">
                                                </div>

                                                <div class="field">
                                                    <label></label>
                                                    <input type="text" placeholder="State">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /container -->
                    </div>
                </div>
            </div>
            <!-- /error_page -->
        </main>
        <!--/main-->
        <div id="toTop"></div><!-- Back to top button -->
    </div>
    <!-- COMMON SCRIPTS -->
    <script src="~/newdesignstyles/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/newdesignstyles/Scripts/common_scripts.js"></script>
    <script src="~/newdesignstyles/Scripts/main.js"></script>
    <script src="http://design.maa-aahwanam.com/panagea/assets/validate.js"></script>
    <!-- DATEPICKER  -->
    <script src="~/newdesignstyles/Scripts/moment.min.js"></script>
    <script src="~/newdesignstyles/Scripts/daterangepicker.js"></script>
    <!-- INPUT QUANTITY  -->
    <script src="http://design.maa-aahwanam.com/panagea/js/input_qty.js"></script>
    <!-- semantic -->
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.js"></script>
    <script type="text/javascript" src="~/newdesignstyles/Scripts/semantic.min.js"></script>
    <!-- custom -->
    <script type="text/javascript" src="http://design.maa-aahwanam.com/panagea/js/custom.js"></script>

    <script>
        $(function () {
            'use strict';
            $('input[name="dates"]').daterangepicker({
                autoUpdateInput: false,
                locale: {
                    cancelLabel: 'Clear'
                }
            });
            $('input[name="dates"]').on('apply.daterangepicker', function (ev, picker) {
                $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
            });
            $('input[name="dates"]').on('cancel.daterangepicker', function (ev, picker) {
                $(this).val('');
            });
        });
    </script>
</body>
</html>