
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<title>:: Dash Board ::</title>
<link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
<link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
<link rel="stylesheet" type="text/css" href="~/newdesign/css/latofonts.css">

<!-- BX Slider -->
<link rel="stylesheet" type="text/css" href="~/newdesign/css/jquery.bxslider.css"/>
</head>
<body class="dashboard">
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 logo">
      <a href="/Homepage"><img src="~/newdesign/images/logo.png" alt="Logo"></a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 top-right-menu">
      <div class="logged-box">
        <i class="fa fa-suitcase" aria-hidden="true"></i>
        <p>Venue</p>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
      </div>
      <div class="admin-tel">
        <i class="fa fa-phone" aria-hidden="true"></i>
        <div class="admin-tel-info">
          <small>Customer service</small>
          <p>22 7127 9220</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid main-menu">
  <div class="container">
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#"><i class="fa fa-home" aria-hidden="true"></i>Home <span class="sr-only">(current)</span></a></li>
        <li><a href="#"><i class="fa fa-building-o" aria-hidden="true"></i>Store Front</a></li>
        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i></i>Enquiries</a></li>
        <li><a href="#"><i class="fa fa-star-o" aria-hidden="true"></i>Reviews</a></li>
        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i>My Account</a></li>
      </ul>
      <a href="/availableservices">
    <div class="progress-info">
        <p>Complete your store front<small>25%</small></p>
        <span class="percent-bar">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </span>
        <span class="progress-success"></span>
    </div>
</a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  </div>
</div>
<div class="container-fluid admin-home">
  <div class="container">
    <div class="row blocks">
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 col-md-offset-1 col-lg-offset-1 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>1</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>2</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>3</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>4</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 text-center">
        <div class="item-count">
          <i class="fa fa-envelope-o" aria-hidden="true"></i>
          <span>5</span>
        </div>
        <div class="item-description">
          <p><strong>Received enquiries</strong>the last 12 months</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container admin-main margin-top-100 margin-bottom-100">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-7 col-lg-7">
      <div class="inside-info">
        <p>Your business information is being verified</p>
        <p>Once your storefront has at least 8 photos and our Content Team has verified your information, your storefront will be live. Telephone: 22 000 0000 Email: <a href="mailto:info@ahwanam.in">info@ahwanam.in</a></p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">
      <div class="progress-status">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <strong>Complete your storefront</strong>
          <p>You are just 7 steps away from completing your WeddingWire.in storefront</p>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <a href="/availableservices">
                <div class="progress-info">
                    <p>Complete your store front<small>25%</small></p>
                    <span class="percent-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="progress-success"></span>
                </div>
                </a>
</div>
      </div>
    </div>
  </div>
</div>
<footer class="container-fluid margin-top-30">
  <div class="row">&copy;&nbsp;Ahwanam 2017. All right reserved.</div>
</footer>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    </script>
</body>
</html>

