
@{
    ViewBag.Title = ":: Available Vendors ::";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

<div class="container margin-top-100">
    <div class="row">
        <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Available @Request.QueryString["service"] Vendors</h3>
    </div>
    <div class="row">
        @foreach (var item in ViewBag.records)
        {
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="venue-details">
                    <a href="#">
                        @if (item.image != null && item.image != "")
                        {<img src="~/vendorimages/@item.image" alt="@item.image">}
                        else
                        { <img src="~/noimages.png" alt="No Image Available">}
                    </a>
                    <div class="venue-footer">
                        <div class="venue-info">
                            <div class="card-title">
                                <a href="#"><h4>@item.businessname</h4></a>
                                <div class="venue-score">
                                    <div class="star-rating">
                                        <div class="bg"></div>
                                        <div class="score" style="width:68%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content text-center">
                                <div class="content">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                    <div class="count">
                                        <p>N/A</p>
                                        <span>Guests</span>
                                    </div>
                                </div>
                                <div class="content">
                                    <div class="count">
                                        <p>@item.cost<i class="fa fa-check" aria-hidden="true"></i></p>
                                        <span>Price Per Plate</span>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                    </div>
                </div>
            </div>
        }
        
        @*<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/minerwagrand.jpg" alt="Minerwa Grand Secundrabad">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Minerwa Grand Secundrabad</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:75%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/alankritaresorts.jpg" alt="Alankrita Resorts">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Alankrita Resorts</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:74%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/celebrityclubresorts.jpg" alt="Celebrity Club Resorts">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Celebrity Club Resorts</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:70%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/palmexotica.jpg" alt="Palm Exotica">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Palm Exotica</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:75%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/tridenthotels.jpg" alt="Trident Hotels">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Trident Hotels</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/radissionblue.jpg" alt="Radission Blue">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Radission Blue</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/greenpark.jpg" alt="Green Park">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Green Park</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/marrigold.jpg" alt="Marri Gold">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Marri Gold</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/parkhyatt.jpg" alt="Park Hyatt">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Park Hyatt</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/thepark.jpg" alt="The Park">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>The Park</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/MansaroverFern.jpg" alt="Mansarover Fern">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Mansarover Fern</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="images/LeoniaResorts.jpg" alt="Leonia Resorts">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Leonia Resorts</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:90%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>N/A</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>*@
    </div>
</div>
<div class="container-fluid" id="topicon">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>


