
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}


@if (new string[] { "Venue","Hotel","Resort","Convetion" }.Contains(Request.QueryString["servicetype"]))
{
<div class="container-fluid questionery">
    <div class="row innerPagesBg py-2 justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>1</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                           Select Food Type ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="checkbox" value="Veg">
                                        <span></span>
                                        <p class="mb-0">Veg</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="checkbox" value="Non-Veg">
                                        <span></span>
                                        <p class="mb-0">Non-Veg</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>2</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            CockTails ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="CockTailOpt">
                                        <span></span>
                                        <p class="mb-0">Yes</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="CockTailOpt">
                                        <span></span>
                                        <p class="mb-0">No</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>3</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Rooms ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="RoomOpt">
                                        <span></span>
                                        <p class="mb-0">Yes</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="RoomOpt">
                                        <span></span>
                                        <p class="mb-0">No</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>4</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Guests Count ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="GuestsOpt">
                                        <span></span>
                                        <p class="mb-0">Yes</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="GuestsOpt">
                                        <span></span>
                                        <p class="mb-0">No</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>5</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Your Event Budget ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="BudgetOpt" value="100000">
                                        <span></span>
                                        <p class="mb-0">50000 - 100000</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="BudgetOpt" value="150000">
                                        <span></span>
                                        <p class="mb-0">100000 - 150000</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="BudgetOpt" value="250000">
                                        <span></span>
                                        <p class="mb-0">150000 - 250000</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="BudgetOpt" value="1000000">
                                        <span></span>
                                        <p class="mb-0">250000 - 1000000</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>6</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Decoration Allowed ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="DecorationOpt">
                                        <span></span>
                                        <p class="mb-0">Yes</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="DecorationOpt">
                                        <span></span>
                                        <p class="mb-0">No</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>7</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Hall Type ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="checkbox" value="AC">
                                        <span></span>
                                        <p class="mb-0">AC</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="checkbox" value="Non-AC">
                                        <span></span>
                                        <p class="mb-0">Non-AC</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>8</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Wi-Fi Available ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="WifiOpt">
                                        <span></span>
                                        <p class="mb-0">Yes</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="WifiOpt">
                                        <span></span>
                                        <p class="mb-0">No</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>9</span> / <span>9</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Live Cooking Station ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="CookingOpt">
                                        <span></span>
                                        <p class="mb-0">Yes</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="CookingOpt">
                                        <span></span>
                                        <p class="mb-0">No</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
