
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}


@if (new string[] { "Venue", "Hotel", "Resort", "Convetion" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>1</span> / <span>9</span>
                    </div><input type="hidden" id="f1" name="f1" value="" />
                    <div class="w-100 mb-3 f1">
                        <div class="mb-2">
                            <div class="question">
                                Select Food Type ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="checkbox" value="Veg">
                                            <span></span>
                                            <p class="mb-0">Veg</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="checkbox" value="Non-Veg">
                                            <span></span>
                                            <p class="mb-0">Non-Veg</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>2</span> / <span>9</span>
                    </div><input type="hidden" id="f2" />
                    <div class="w-100 mb-3 f2">
                        <div class="mb-2">
                            <div class="question">
                                CockTails ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f2">  @*id="f2" value="Yes"*@
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f2">  @*id="f2" value="Yes"*@
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>3</span> / <span>9</span>
                    </div><input type="hidden" id="f3" />
                    <div class="w-100 mb-3 f3">
                        <div class="mb-2">
                            <div class="question">
                                Rooms ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f3"> @* id="f3" value="Yes"*@
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f3"> @* id="f3" value="No"*@
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>4</span> / <span>9</span>
                    </div><input type="hidden" id="f4" />
                    <div class="w-100 mb-3 f4">
                        <div class="mb-2">
                            <div class="question">
                                Guests Count ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <input type="text" id="f4" name="f4" />
                                        @*<label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f4">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>*@
                                    </li>
                                    @*<li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f4">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>*@
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>5</span> / <span>9</span>
                    </div><input type="hidden" id="f5" />
                    <div class="w-100 mb-3 f5">
                        <div class="mb-2">
                            <div class="question">
                                Your Event Budget ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f5">
                                            <span></span>
                                            <p class="mb-0">50000 - 100000</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f5">
                                            <span></span>
                                            <p class="mb-0">100000 - 150000</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f5">
                                            <span></span>
                                            <p class="mb-0">150000 - 250000</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f5">
                                            <span></span>
                                            <p class="mb-0">250000 - 1000000</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>6</span> / <span>9</span>
                    </div><input type="hidden" id="f6" />
                    <div class="w-100 mb-3 f6">
                        <div class="mb-2">
                            <div class="question">
                                Decoration Allowed ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f6">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f6">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>7</span> / <span>9</span>
                    </div><input type="hidden" id="f7" name="f7" value="" />
                    <div class="w-100 mb-3 f7">
                        <div class="mb-2">
                            <div class="question">
                                Hall Type ?
                            </div>
                            <div class="options ">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="checkbox" value="AC">
                                            <span></span>
                                            <p class="mb-0">AC</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="checkbox" value="Non-AC">
                                            <span></span>
                                            <p class="mb-0">Non-AC</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>8</span> / <span>9</span>
                    </div><input type="hidden" id="f8" />
                    <div class="w-100 mb-3 f8">
                        <div class="mb-2">
                            <div class="question">
                                Wi-Fi Available ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f8">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f8">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>9</span> / <span>9</span>
                    </div><input type="hidden" id="f9" />
                    <div class="w-100 mb-3 f9">
                        <div class="mb-2">
                            <div class="question">
                                Live Cooking Station ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f9">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f9">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white" onclick="redirect()">Next</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (new string[] { "Catering" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>1</span> / <span>4</span>
                    </div><input type="hidden" id="f2" />
                    <div class="w-100 mb-3 f2">
                        <div class="mb-2">
                            <div class="question">
                                Your Event Budget ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f2">
                                            <span></span>
                                            <p class="mb-0">50000 - 100000</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f2">
                                            <span></span>
                                            <p class="mb-0">100000 - 150000</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f2">
                                            <span></span>
                                            <p class="mb-0">150000 - 250000</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f2">
                                            <span></span>
                                            <p class="mb-0">250000 - 1000000</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>2</span> / <span>4</span>
                    </div><input type="hidden" id="f3" name="f3" value="" />
                    <div class="w-100 mb-3 f3">
                        <div class="mb-2">
                            <div class="question">
                                Mineral Water Included ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="checkbox" value="Yes">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="checkbox" value="No">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>3</span> / <span>4</span>
                    </div><input type="hidden" id="f5" />
                    <div class="w-100 mb-3 f5">
                        <div class="mb-2">
                            <div class="question">
                                Transport Included ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f5">  @*id="f2" value="Yes"*@
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f5">  @*id="f2" value="Yes"*@
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>4</span> / <span>4</span>
                    </div><input type="hidden" id="f6" />
                    <div class="w-100 mb-3 f6">
                        <div class="mb-2">
                            <div class="question">
                                Live Cooking Station ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f6">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" name="f6">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white" onclick="redirect()">Next</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (new string[] { "Photography" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>1</span> / <span>3</span>
                    </div><input type="hidden" id="f2" />
                    <div class="w-100 mb-3 f2">
                        <div class="mb-2">
                            <div class="question">
                                Pre-Wedding Shoot ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" value="Yes" name="f2">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" value="No" name="f2">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>2</span> / <span>3</span>
                    </div><input type="hidden" id="f3" name="f3" value="" />
                    <div class="w-100 mb-3 f3">
                        <div class="mb-2">
                            <div class="question">
                                Destination Photography ?
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" value="Yes" name="f3">
                                            <span></span>
                                            <p class="mb-0">Yes</p>
                                        </label>
                                    </li>
                                    <li>
                                        <label class="d-inline-flex align-items-center">
                                            <input type="radio" value="No" name="f3">
                                            <span></span>
                                            <p class="mb-0">No</p>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row p-4">
                    <div class="d-inline ml-auto">
                        <span>3</span> / <span>3</span>
                    </div><input type="hidden" id="f4" />
                    <div class="w-100 mb-3 f4">
                        <div class="mb-2">
                            <div class="question">
                                Prior Booking Days 
                            </div>
                            <div class="options">
                                <ul>
                                    <li>
                                        <input type="text" id="f4" name="f4" />
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white" onclick="redirect()">Next</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
<script>

    //Hall Type checkBoxes
    $(".f7 input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".f7 input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text().trim();
        });
        //f7 = arr;
        $('#f7').val(arr);
    });

    //Food Type checkBoxes
    $(".f1 input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".f1 input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text().trim();
        });
        //f1 = arr;
        $('#f1').val(arr);
    });

    $(".f2 input[type='radio']").change(function () {
        $(".f2 input[type='radio']:checked").each(function () {
            $('#f2').val($(this).parent("label").text().trim());
        });
    });
    $(".f3 input[type='radio']").change(function () {
        $(".f3 input[type='radio']:checked").each(function () {
            $('#f3').val($(this).parent("label").text().trim());
        });
    });
    $(".f4 input[type='text']").change(function () {
        $(".f4 input[type='text']").each(function () {
            $('#f4').val($(this).val().trim());
        });
    });
    $(".f5 input[type='radio']").change(function () {
        $(".f5 input[type='radio']:checked").each(function () {
            $('#f5').val($(this).parent("label").text().trim());
        });
    });
    $(".f6 input[type='radio']").change(function () {
        $(".f6 input[type='radio']:checked").each(function () {
            $('#f6').val($(this).parent("label").text().trim());
        });
    });
    $(".f8 input[type='radio']").change(function () {
        $(".f8 input[type='radio']:checked").each(function () {
            $('#f8').val($(this).parent("label").text().trim());
        });
    });
    $(".f9 input[type='radio']").change(function () {
        $(".f9 input[type='radio']:checked").each(function () {
            $('#f9').val($(this).parent("label").text().trim());
        });
    });


    function redirect() {
        var f1 = $('#f1').val();
        var f2 = $('#f2').val();
        var f3 = $('#f3').val();
        var f4 = $('#f4').val();
        var f5 = $('#f5').val();
        var f6 = $('#f6').val();
        var f7 = $('#f7').val();
        var f8 = $('#f8').val();
        var f9 = $('#f9').val();
        var type = '@Request.QueryString["servicetype"]';
        window.location.href = '/NResults?type=' + type + '&&f1=' + f1 + '&&f2=' + f2 + '&&f3=' + f3 + '&&f4=' + f4 + '&&f5=' + f5 + '&&f6=' + f6 + '&&f7=' + f7 + '&&f8=' + f8 + '&&f9=' + f9;
        //alert('/NResults?f1=' + f1 + '&&f2=' + f2 + '&&f3=' + f3 + '&&f4=' + f4 + '&&f5=' + f5 + '&&f6=' + f6 + '&&f7=' + f7 + '&&f8=' + f8 + '&&f9=' + f9);
    }
</script>