
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}


@if (new string[] { "Venue", "Hotel", "Resort", "Convetion" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto questionsCount">
                        <span>1</span> / <span></span>
                    </div><input type="hidden" id="f1" name="f1" value="" />
                    <div class="w-100 filteredQuestions">

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <div class="question">
                                    Which type of Food you prefer ?
                                </div>
                                <div class="options f1">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="checkbox" value="Veg">
                                                <span></span>
                                                <p class="mb-0">Veg</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="checkbox" value="Non-Veg">
                                                <span></span>
                                                <p class="mb-0">Non-Veg</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <input type="hidden" id="f2" />
                            <div class="mb-2">
                                <div class="question">
                                    Do you like to have CockTails ?
                                </div>
                                <div class="options f2">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">  @*id="f2" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">  @*id="f2" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f3" name="f3" value="" />
                                <div class="question">
                                    Would you like to have Rooms at Venue?
                                </div>
                                <div class="options f3">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f3"> @* id="f3" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f3"> @* id="f3" value="No"*@
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f4" name="f4" value="" />
                                <div class="question">
                                    What is the expected Guests Count ?
                                </div>
                                <div class="options f4">
                                    <ul>
                                        <li>
                                            <input type="text" id="f4" name="f4" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f5" name="f5" value="" />
                                <div class="question">
                                    What is Your Event Budget ?
                                </div>
                                <div class="options f5">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">50000 - 100000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">100000 - 150000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">150000 - 250000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">250000 - 1000000</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f6" name="f6" value="" />
                                <div class="question">
                                    Would you like to choose Decoration option ?
                                </div>
                                <div class="options f6">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f6">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f6">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f7" name="f7" value="" />
                                <div class="question">
                                    Which Type of Hall do you prefer ?
                                </div>
                                <div class="options f7">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="checkbox" value="AC">
                                                <span></span>
                                                <p class="mb-0">AC</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="checkbox" value="Non-AC">
                                                <span></span>
                                                <p class="mb-0">Non-AC</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f8" />
                                <div class="question">
                                    Would you like to prefer Wi-Fi access at Venue ?
                                </div>
                                <div class="options f8">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f8">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f8">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f9" />
                                <div class="question">
                                    Would you like to prefer your own caterer ?
                                </div>
                                <div class="options f9">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f9">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f9">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn">Continue</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (new string[] { "Catering" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto questionsCount">
                        <span>1</span> / <span></span>
                    </div>
                    <div class="w-100 filteredQuestions">

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <div class="question">
                                    What is Your Budget ?
                                </div><input type="hidden" id="f2" />
                                <div class="options f2">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">
                                                <span></span>
                                                <p class="mb-0">50000 - 100000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">
                                                <span></span>
                                                <p class="mb-0">100000 - 150000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">
                                                <span></span>
                                                <p class="mb-0">150000 - 250000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">
                                                <span></span>
                                                <p class="mb-0">250000 - 1000000</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f3" name="f3" value="" />
                                <div class="question">
                                    Would you like to have mineral water included in catering?
                                </div>
                                <div class="options f3">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="checkbox" value="Yes">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="checkbox" value="No">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f5" />
                                <div class="question">
                                    Would you like to pay for transporting cooked items?
                                </div>
                                <div class="options f5">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">  @*id="f2" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">  @*id="f2" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f6" />
                                <div class="question">
                                    Would you like to prefer your own caterer ?
                                </div>
                                <div class="options f6">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f6">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f6">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn">Continue</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (new string[] { "Photography" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto questionsCount">
                        <span>1</span> / <span></span>
                    </div>
                    <div class="w-100 filteredQuestions">

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f2" />
                                <div class="question">
                                    Would you like to have a Pre-Wedding Shoot ?
                                </div>
                                <div class="options f2">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" value="Yes" name="f2">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" value="No" name="f2">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f3" name="f3" value="" />
                                <div class="question">
                                    Destination Photography ?
                                </div>
                                <div class="options f3">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" value="Yes" name="f3">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" value="No" name="f3">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f4" />
                                <div class="question">
                                    By how many days in advance would you like to book a photographer?
                                </div>
                                <div class="options f4">
                                    <ul>
                                        <li>
                                            <input type="text" id="f4" name="f4" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn">Continue</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (new string[] { "Decorator" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">

                <div class="row p-4">
                    <div class="d-inline ml-auto questionsCount">
                        <span>1</span> / <span></span>
                    </div>
                    <div class="w-100 filteredQuestions">

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f2" />
                                <div class="question">
                                    Would you like decorator to decorate Mandap ?
                                </div>
                                <div class="options f2">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">  @*id="f2" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f2">  @*id="f2" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f3" />
                                <div class="question">
                                    Would you like use decorator Mehendi service?
                                </div>
                                <div class="options f3">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f3"> @* id="f3" value="Yes"*@
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f3"> @* id="f3" value="No"*@
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f4" />
                                <div class="question">
                                    By how many days in advance would you like to book a decorator?
                                </div>
                                <div class="options f4">
                                    <ul>
                                        <li>
                                            <input type="text" id="f4" name="f4" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f5" />
                                <div class="question">
                                    Would you like to have Sangeet ?
                                </div>
                                <div class="options f5">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f6" />
                                <div class="question">
                                    Would you like decorator to do Lighting in hall?
                                </div>
                                <div class="options f6">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f6">
                                                <span></span>
                                                <p class="mb-0">Yes</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f6">
                                                <span></span>
                                                <p class="mb-0">No</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn">Continue</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@if (new string[] { "Mehendi", "Pandit" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
                <div class="row p-4">
                    <div class="d-inline ml-auto questionsCount">
                        <span>1</span> / <span></span>
                    </div>
                    <div class="w-100 filteredQuestions">

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f5" />
                                <div class="question">
                                    What is Your Budget ?
                                </div>
                                <div class="options f5">
                                    <ul>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">50000 - 100000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">100000 - 150000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">150000 - 250000</p>
                                            </label>
                                        </li>
                                        <li>
                                            <label class="d-inline-flex align-items-center">
                                                <input type="radio" name="f5">
                                                <span></span>
                                                <p class="mb-0">250000 - 1000000</p>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                <input type="hidden" id="f4" />
                                <div class="question f4">
                                    By how many days in advance would you like to book a @Request.QueryString["servicetype"]?
                                </div>
                                <div class="options">
                                    <ul>
                                        <li>
                                            <input type="text" id="f4" name="f4" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn">Continue</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


@if (new string[] { "Wedding", "Party", "Corporate", "BabyFunction", "Birthday", "Engagement" }.Contains(Request.QueryString["servicetype"]))
{
    <div class="container-fluid questionery">
        <div class="row innerPagesBg py-2 justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">

                <div class="row p-4">
                    <div class="d-inline ml-auto questionsCount">
                        <span>1</span> / <span></span>
                    </div>
                    <div class="w-100 filteredQuestions">

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                @*<input type="hidden" id="eventlocation" />*@
                                <div class="question">
                                    Please Enter Location
                                </div>
                                <div class="options eventlocation">
                                    <ul>
                                        <li>
                                            <input type="text" id="eventlocation" name="eventlocation" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                @*<input type="hidden" id="eventdate" />*@
                                <div class="question">
                                    Please Select Event Date
                                </div>
                                <div class="options eventdate">
                                    <ul>
                                        <li>
                                            <input type="text" id="eventdate" name="eventdate" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                @*<input type="hidden" id="eventbudget" />*@
                                <div class="question">
                                    Please Enter your Event Budget
                                </div>
                                <div class="options eventbudget">
                                    <ul>
                                        <li>
                                            <input type="text" id="eventbudget" name="eventbudget" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="w-100 mb-3 questions">
                            <div class="mb-2">
                                @*<input type="hidden" id="eventguestscount" />*@
                                <div class="question">
                                    Please enter the number of guests
                                </div>
                                <div class="options eventguestscount">
                                    <ul>
                                        <li>
                                            <input type="text" id="eventguestscount" name="eventguestscount" />
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="w-100 prevNext">
                        <div class="ml-auto">
                            <div class="d-inline-flex backQues">
                                <span class="btnSecondary">Back</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white nextQues">Next</span>
                            </div>
                            <div class="d-inline-flex">
                                <span class="themeBgColorPrimary btnSecondary text-white continueBtn1" id="btnsubmit">Continue</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}


<script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.cookie/1.3.1/jquery.cookie.js"></script>
<script>

    //Hall Type checkBoxes
    $(".f7 input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".f7 input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text().trim();
        });
        //f7 = arr;
        $('#f7').val(arr);
    });

    //Food Type checkBoxes
    $(".f1 input[type='checkbox']").change(function () {
        var arr = [], i = 0;
        $(".f1 input[type='checkbox']:checked").each(function () {
            arr[i++] = $(this).parent("label").text().trim();
        });
        //f1 = arr;
        $('#f1').val(arr);
    });

    $(".f2 input[type='radio']").change(function () {
        $(".f2 input[type='radio']:checked").each(function () {
            $('#f2').val($(this).parent("label").text().trim());
        });
    });
    $(".f3 input[type='radio']").change(function () {
        $(".f3 input[type='radio']:checked").each(function () {
            $('#f3').val($(this).parent("label").text().trim());
        });
    });
    $(".f4 input[type='text']").change(function () {
        $(".f4 input[type='text']").each(function () {
            $('#f4').val($(this).val().trim());
        });
    });
    $(".f5 input[type='radio']").change(function () {
        $(".f5 input[type='radio']:checked").each(function () {
            $('#f5').val($(this).parent("label").text().trim());
        });
    });
    $(".f6 input[type='radio']").change(function () {
        $(".f6 input[type='radio']:checked").each(function () {
            $('#f6').val($(this).parent("label").text().trim());
        });
    });
    $(".f8 input[type='radio']").change(function () {
        $(".f8 input[type='radio']:checked").each(function () {
            $('#f8').val($(this).parent("label").text().trim());
        });
    });
    $(".f9 input[type='radio']").change(function () {
        $(".f9 input[type='radio']:checked").each(function () {
            $('#f9').val($(this).parent("label").text().trim());
        });
    });


    function redirect() {
        var f1 = $('#f1').val();
        var f2 = $('#f2').val();
        var f3 = $('#f3').val();
        var f4 = $('#f4').val();
        var f5 = $('#f5').val();
        var f6 = $('#f6').val();
        var f7 = $('#f7').val();
        var f8 = $('#f8').val();
        var f9 = $('#f9').val();
        var type = '@Request.QueryString["servicetype"]';
        var loc = '@Request.QueryString["location"]';
        window.location.href = '/NResults?type=' + type + '&&f1=' + f1 + '&&f2=' + f2 + '&&f3=' + f3 + '&&f4=' + f4 + '&&f5=' + f5 + '&&f6=' + f6 + '&&f7=' + f7 + '&&f8=' + f8 + '&&f9=' + f9+'&&loc='+loc;
        //alert('/NResults?f1=' + f1 + '&&f2=' + f2 + '&&f3=' + f3 + '&&f4=' + f4 + '&&f5=' + f5 + '&&f6=' + f6 + '&&f7=' + f7 + '&&f8=' + f8 + '&&f9=' + f9);
    }
</script>

<script type="text/javascript">

    $.cookie("url", document.URL);

    $(document).ready(function () {
        var questions = $(".filteredQuestions > .questions");
        var questionsLen = $(".filteredQuestions > .questions").length;
        var questionMin = $(".questionsCount > span:first-child");
        var questionMinCount = parseInt($(".questionsCount > span:first-child").text());
        var questionMax = $(".questionsCount > span:last-child");
        $(questionMax).empty().append(questionsLen);
        $(".prevNext .backQues").css("visibility", "hidden");
        $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");

        $(".prevNext .backQues").click(function () {
            questionMinCount--;
            if (questionMinCount > 1) {
                $(questionMin).empty().append(questionMinCount);
                $(".filteredQuestions").children().css("display", "none");
                $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                $(".prevNext .nextQues").css("display", "block");
                $(".prevNext .continueBtn").css("display", "none");
            } else if (questionMinCount == 1) {
                $(questionMin).empty().append(questionMinCount);
                $(".filteredQuestions").children().css("display", "none");
                $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                $(this).css("visibility", "visible");
                $(".prevNext .nextQues").css("display", "block");
                $(".prevNext .continueBtn").css("display", "none");
            }
        });

        $(".prevNext .nextQues").click(function () {
            questionMinCount++;
            if (questionMinCount < questionsLen) {
                $(questionMin).empty().append(questionMinCount);
                $(".filteredQuestions").children().css("display", "none");
                $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                $(".prevNext .backQues").css("visibility", "visible");
            } else if (questionMinCount == questionsLen) {
                $(questionMin).empty().append(questionMinCount);
                $(".filteredQuestions").children().css("display", "none");
                $(".filteredQuestions").children().eq(questionMinCount - 1).css("display", "block");
                $(this).css("display", "none");
                $(".prevNext .backQues").css("visibility", "visible");
                $(".prevNext .continueBtn").css("display", "block");
            }
        });

        $(".prevNext .continueBtn").click(function () {
            redirect();
        });

    });

    $('#btnsubmit').click(function () {
        var eventlocation = $('#eventlocation').val();
        var eventdate = $('#eventdate').val();
        var eventbudget = $('#eventbudget').val();
        var eventguestscount = $('#eventguestscount').val();
        var type = '@Request.QueryString["servicetype"]';
        window.location.href = '/NResults?type=' + type + '&&f1='+eventlocation+'&&f2='+eventdate+'&&f4=' + eventguestscount + '&&f5=' + eventbudget;
    });
</script>