
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid questionery">
    <div class="row innerPagesBg py-2 justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-6 bgWhite boxShadow margin-top-50 margin-bottom-50">
            <div class="row p-4">
                <div class="d-inline ml-auto">
                    <span>1</span> / <span>5</span>
                </div>
                <div class="w-100 mb-3">
                    <div class="mb-2">
                        <div class="question">
                            Your event budget ?
                        </div>
                        <div class="options">
                            <ul>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="selOpt">
                                        <span></span>
                                        <p class="mb-0">50000 - 100000</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="selOpt">
                                        <span></span>
                                        <p class="mb-0">100000 - 150000</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="selOpt">
                                        <span></span>
                                        <p class="mb-0">150000 - 250000</p>
                                    </label>
                                </li>
                                <li>
                                    <label class="d-inline-flex align-items-center">
                                        <input type="radio" name="selOpt">
                                        <span></span>
                                        <p class="mb-0">250000 - 1000000</p>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="w-100 prevNext">
                    <div class="ml-auto">
                        <div class="d-inline-flex">
                            <span class="btnSecondary">Back</span>
                        </div>
                        <div class="d-inline-flex">
                            <span class="themeBgColorPrimary btnSecondary text-white">Next</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

