@model MaaAahwanam.Models.ManageUser
@{
    ViewBag.Title = ":: Users ::";
    Layout = "~/Views/SharedWeb/vmp.cshtml";
}

@section css{
<link rel="stylesheet" type="text/css" href="https://tympanus.net/Development/TextInputEffects/css/set1.css" />
    <style>
        #addcustomermodel input[type=text], #addcustomermodel input[type="email"], #addcustomermodel input[type="tel"], #addcustomermodel input[type="number"] {
            width: 101%;
            padding:  13px 0px 2px 10px;
            margin: 15px 5px 15px 0px;
            box-sizing: border-box;
            background-color: #fff;
            color: black;
        }

        table.dataTable thead th, table.dataTable tfoot th {
            white-space: nowrap;
        }
        table.dataTable, table.dataTable th, table.dataTable td {
            white-space: nowrap;
             border:none;
        }
        table  td{
            border:none;
        }

    .input__field {
        position: relative;
        display: block;
        float: right;
        padding: 0.8em;
        width: 60%;
        border: none;
        border-radius: 0;
        background: #f0f0f0;
        color: #aaa;
        font-weight: normal;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        -webkit-appearance: none;
    }

    .input__label--hoshi {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5.7em 0.25em;
        width: 100%;
        height: calc(100% - 1em);
        text-align: left;
        pointer-events: none;
    }

    .kscfont {
        font-size: 15px;
        font-weight: 900;
    }

    .addcutomerpopup, .cutomtblpopup {
        position: relative;
    }
       .txtd {
        margin-top: -5%;
    }
</style>
    }

<div class="col-md-10">
    <div class="container-fluid">
        @{Html.RenderAction("orderdetails", "ManageUser"); }
        <div class="content" id="userslist" style="padding:10px;">
            @{Html.RenderAction("mnguserdetails", "ManageUser"); }
        </div>

        <div class="ui addcutomerpopup coupled modal" id="addcustomermodel">
            <div align="center" class="header" style="text-transform:uppercase">Add/Edit Customer</div>
            <input type="hidden" id="usedid" name="usedid" value="" />
            <input type="hidden" id="vpbookdetails" name="vpbookdetails" value="" />
            <input type="hidden" id="vendorId" name="vendorId" value="@ViewBag.masterid" />
            <div class="col-12 col-sm-12 col-md-12">
                <div class="row">
                    <input type="hidden" id="id" name="id" value="" />
                    <div class="col-12 col-sm-4 col-md-4">
                        <label class="input input--hoshi" style="font-weight:bold">Customer Type</label>
                        <span class="form-check" style="display:inline">
                            <input class="form-check-input" name="type" type="radio" id="radio1" value="Individual" required>
                            <label class="form-check-label" for="radio1">Individual</label>
                        </span>
                        <span class="form-check" style="display:inline">
                            <input class="form-check-input" name="type" type="radio" id="radio2" value="Corporate" checked required>
                            <label class="form-check-label" for="radio2">Corporate</label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4" id="company" style="display:block;">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" pattern="^[a-zA-Z]+$+" title="Please enter on alphabets only" id="Businessname" name="Businessname" value="" />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="Businessname">
                                <span class="input__label-content input__label-content--hoshi">Company Name</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi">
                            <input class="input__field input__field--hoshi" type="text" pattern="[a-zA-Z]+" title="Please enter on alphabets only" id="firstname" name="firstname" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="firstname">
                                <span class="input__label-content input__label-content--hoshi">First Name</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" pattern="[a-zA-Z]+" title="Please enter on alphabets only" id="lastname" name="lastname" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="lastname">
                                <span class="input__label-content input__label-content--hoshi">Last Name</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4 ">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="email" id="email" name="email" value="" onchange="checkEmail(this.value)" pattern="^[a-zA-Z0-9._+-]+@(" @")[a-zA-Z0-9.-]+\.[a-zA-Z]{2,9}$+" title="Please enter valid email" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="email">
                                <span class="input__label-content input__label-content--hoshi">Email</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="number" id="phoneno" name="phoneno" minlength="10+" maxlength="10" pattern="[0-9]+" title="Enter Numbers and 10 digits only" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="phoneno">
                                <span class="input__label-content input__label-content--hoshi">Phone Number</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="adress1" name="adress1" pattern="[a-zA-Z0-9\s]+" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="adress1">
                                <span class="input__label-content input__label-content--hoshi"> Flat No/Street</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="adress2" name="adress2" pattern="[a-zA-Z0-9\s]+" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="adress2">
                                <span class="input__label-content input__label-content--hoshi">Locality</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="pincode" minlength="6+(!000000)+" title="Enter Numbers and 6 digits only" maxlength="6" name="pincode" value="" pattern="[0-9]+" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="pincode">
                                <span class="input__label-content input__label-content--hoshi">PinCode</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="city" name="city" pattern="[a-zA-Z]+" title="Please enter on alphabets only" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="city">
                                <span class="input__label-content input__label-content--hoshi">City</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="state" name="state" pattern="[a-zA-Z]+" title="Please enter on alphabets only" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="state">
                                <span class="input__label-content input__label-content--hoshi">State</span>
                            </label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="country" name="country" pattern="[a-zA-Z]+" title="Please enter on alphabets only" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="country">
                                <span class="input__label-content input__label-content--hoshi">Country</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-4 col-md-4">
                        <label class="input input--hoshi txtd" style="font-weight:bold">Status</label>
                        <span class="form-check" style="display:inline">
                            <input class="form-check-input" name="Status" type="radio" id="Status1" value="Active" checked required>
                            <label class="form-check-label" for="Status1">Active</label>
                        </span>
                        <span class="form-check" style="display:inline">
                            <input class="form-check-input" name="Status" type="radio" id="Status2" value="InActive" required>
                            <label class="form-check-label" for="Status2">InActive</label>
                        </span>
                    </div>
                    <div class="col-12 col-sm-4 col-md-4">
                        <span class="input input--hoshi txtd">
                            <input class="input__field input__field--hoshi" type="text" id="MemberNumber" name="MemberNumber" value="" required />
                            <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="MemberNumber">
                                <span class="input__label-content input__label-content--hoshi">Member Number</span>
                            </label>
                        </span>
                    </div>

                </div>
            </div>
            <div class="actions">
                <div class="row" align="center">
                    <div class="col-md-4">
                        <button id="booknow" type="submit" name="command" value="Save" class="btn btn-success" style="float:right"> Book Now</button>
                        @*<button id="booknowss" type="submit" name="command" value="Save" class="btn btn-success" style="float:right">Save and Book Now</button>*@
                        <button id="booknowss" type="submit" name="command" value="Save" class="btn btn-success" style="float:right">save and Book Now</button>

                    </div>
                    <div class="col-md-4">
                        <button id="SaveUser" type="submit" name="command" value="Save" class="btn btn-success" style="display:block">Save</button>
                        <button id="EditUser" type="submit" name="command" value="Update" class="btn btn-success" style="display:none">Update</button>
                    </div>
                    <div class="col-md-4">
                        <div class="ui negative button" style="float:left;height:35px;">Cancel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/mnguser.js"></script>
}
s