@using MaaAahwanam.Web.Models
@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-6 bgWhite my-4 authenticationBlocks">
            <div class="login p-5">
                <div class="row mx-0 margin">
                    <h4>
                        Login
                        <div class="blackBorder"></div>
                    </h4>
                </div>
                <div class="row mx-0 fontSize-18 my-2">
                    <p class="mb-0">Are you a new user ? <span class="themeColor cursorPointer registerBtn">Register</span></p>
                </div>
                @using (Html.BeginForm("Index", "NUserRegistration", FormMethod.Post))
                {
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="text" class="form-control" placeholder="User Name" name="Item1.UserName" id="Item1_UserName" required />
                            @*<input type="text" class="form-control" name="" placeholder="User Name">*@
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="password" class="form-control" placeholder="Password" name="Item1.Password" id="Item1_Password" required />
                            @*<input type="password" class="form-control" name="" placeholder="Password">*@
                        </div>
                    </div>
                    <div class="row mx-0 align-items-center">
                        <button type="submit" class="themeBgColorPrimary btnSecondary text-white text-center"  value="Login" name="command" onclick="testlogin()">Login</button>
                        @*<span class="themeBgColorPrimary btnSecondary text-white text-center">Login</span>*@
                        <span class="themeColor ml-3 fontSize-18 forgotPasswordBtn"> Forgot Password</span>
                    </div>
                }
                <div class="row mx-0 align-items-center my-4">
                    <input type="hidden" id="auth-logoutlink">
                    <span class="fbBg btnSecondary text-white text-center" onclick="fbLogin()"><i class="fa fa-facebook mr-2" aria-hidden="true"></i> Facebook</span>
                    <span class="gmailBg btnSecondary text-white ml-3 fontSize-18" id="GoogleLogin" onclick="login()"><i class="fa fa-google mr-2" aria-hidden="true"></i> Gmail</span>
                </div>
            </div>

            <div class="register p-5">
                <div class="row mx-0 margin">
                    <h4>
                        Register
                        <div class="blackBorder"></div>
                    </h4>
                </div>
                <div class="row mx-0 fontSize-18 my-2">
                    <p class="mb-0">Already have an Account ? <span class="themeColor cursorPointer loginBtn">Login</span></p>
                </div>
                @using (Html.BeginForm("Index", "NUserRegistration", FormMethod.Post))
                {
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            @*<input type="text" class="form-control" name="" placeholder="Name">*@
                            <input type="text" class="form-control" placeholder="Name" name="Item2.FirstName" id="Item2_FirstName" required />
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="email" class="form-control" placeholder="E-mail" name="Item1.UserName" id="Item1_UserName" required />
                            @*<input type="email" class="form-control" name="" placeholder="E Mail">*@
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="text" class="form-control" placeholder="Mobile Number" name="Item2.UserPhone" id="Item2_UserPhone" required />
                            @*<input type="number" class="form-control" name="" placeholder="Mobile Number">*@
                        </div>
                    </div>
                    <div class="row mx-0 my-2">
                        <div class="form-group w-100">
                            <input type="password" class="form-control" placeholder="Password" name="Item1.Password" id="Item1_Password" required />
                            @*<input type="text" class="form-control" name="" placeholder="Password">*@
                        </div>
                    </div>
                    <div class="row mx-0 align-items-center">
                        <button type="submit" class="themeBgColorPrimary btnSecondary text-white text-center" value="UserReg" name="command">Register</button>

                        @*<span class="themeBgColorPrimary btnSecondary text-white text-center">Register</span>*@
                    </div>
                }
            </div>

            <div class="forgotPassword p-5">
                <div class="row mx-0 margin">
                    <h4>
                        Forgot Password
                        <div class="blackBorder"></div>
                    </h4>
                </div>
@using (Html.BeginForm("Index", "NUserRegistration", FormMethod.Post))
{
                <div class="row mx-0 my-2">
                    <div class="form-group w-100">
                        <input type="text" class="form-control" placeholder="User Name" name="Item1.UserName" id="Item1_UserName" required />
                    </div>
                </div>
                <div class="row mx-0 align-items-center">
                    <button type="submit" class="themeBgColorPrimary btnSecondary text-white text-center" name ="command" value="forgotpassword">Click</button>
                    <span class="themeColor ml-3 fontSize-18 loginBtn"> Login</span>
                </div>
}
            </div>

        

        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').attr("id", "userAuthentication");
        });
        $('.container').hide();
        $('.search').hide();
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('body').attr("id", "userAuthentication");
        });
        var regClick = $(".registerBtn"), loginClick = $(".loginBtn"), forgotClick = $(".forgotPasswordBtn"),
            loginBlock = $(".login"), regBlock = $(".register"), forgotBlock = $(".forgotPassword");
        $(regClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(regBlock).css("display", "block");
        });

        $(loginClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(loginBlock).css("display", "block");
        });

        $(forgotClick).click(function () {
            $(".authenticationBlocks > div").css("display", "none");
            $(forgotBlock).css("display", "block");
        });
    </script>

    <script>
        function testlogin() {
            var url = document.referrer;
            //alert(url.split('://')[1].split('/')[1].split('?')[0]);
            if (url != '') {
                var p = url.split('://')[1].split('/')[1].split('?')[0];
                if (p == 'NParticularVendor' || p == 'NViewDeal') { $.post("/NUserRegistration/assignreturnurl", { ReturnUrl: url }, function (data) { }); }
            }
            //$.post("/NUserRegistration/assignreturnurl", { ReturnUrl: url }, function (data) { });
        }
    </script>
    <script src="~/Scripts/gauth.js"></script>
    <script src="~/Scripts/fauth.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>

}