
@{
    ViewBag.Title = "test";
    //Layout = "~/Views/SharedWeb/DashBoardMaster.cshtml";
}

<h2>test</h2>



@*<link rel="stylesheet" type="text/css" href="/jquery.datetimepicker.css"/ >
<script src="/jquery.js"></script>
<script src="/build/jquery.datetimepicker.full.min.js"></script>*@
<link href="~/CSSWeb/css/jquery.datetimepicker.css" rel="stylesheet" />
<script src="~/CSSWeb/js/jquery-1.9.1.js"></script>
<script src="~/CSSWeb/js/jquery.datetimepicker.js"></script>

<input id="datetimepicker" type="text">

<script>
    jQuery('#datetimepicker4').datetimepicker({
        format: 'd.m.Y H:i',
        lang: 'ru'
    });

    jQuery('#datetimepicker').click(function () {
        jQuery('#datetimepicker').datetimepicker('show'); //support hide,show and destroy command
    });
</script>