
@{
    ViewBag.Title = ":: Store Front ::";
    Layout = "~/Views/SharedWeb/VendorMasterPage.cshtml";
    var i = 0;
}


    <div class="container margin-top-100 margin-bottom-100 selectblock">
        <div class="row">
            @foreach (var item in ViewBag.services)
            {
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                    <div class="block">
                        <div class="pic">
                            <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                            <input type="file">
                        </div>
                        <p><span>@item</span></p>
                        <a href="/VendorSignUp2?id=@Request.QueryString["id"]&&vid=@ViewBag.vid.Split(',')[i]"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                        @if (item == "Venue")
                        {<a href="/VendorSignUp3?id=@Request.QueryString["id"]&&vid=@ViewBag.vid.Split(',')[i]"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>}
                        @if (item == "Catering")
                        { <a href="/CateringFAQ?id=@Request.QueryString["id"]&&vid=@ViewBag.vid.Split(',')[i]"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>}
                    </div>
                </div>
                @(++i)
            }
            
            @*<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                <div class="block">
                    <div class="pic">
                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <input type="file">
                    </div>
                    <p><span>Decoration</span></p>
                    <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                    <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                <div class="block">
                    <div class="pic">
                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <input type="file">
                    </div>
                    <p><span>Catering</span></p>
                    <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                    <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                <div class="block">
                    <div class="pic">
                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <input type="file">
                    </div>
                    <p><span>Photography</span></p>
                    <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                    <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                <div class="block">
                    <div class="pic">
                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <input type="file">
                    </div>
                    <p><span>Lighting</span></p>
                    <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                    <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 blocks">
                <div class="block">
                    <div class="pic">
                        <span><i class="fa fa-camera" aria-hidden="true"></i></span>
                        <input type="file">
                    </div>
                    <p><span>Music</span></p>
                    <a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>Upload Photos</a>
                    <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"></i>FAQ'S</a>
                </div>
            </div>*@
        </div>
    </div>

<script type="text/javascript" language="javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" language="javascript" src="~/newdesign/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(e) {
	  //$(".selectblock .blocks:first-of-type").css("opacity","1");
	  $(".selectblock .blocks").each(function(){
		  $(this).css({"opacity":"1"});
		  });
	  });
</script>
