
@{
    ViewBag.Title = "confirmation";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

<div class="breads">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3 class="greentext">Your order is successfull</h3>
            </div>
            @*<h3>Order No : 135a6724</h3>*@
        </div>
    </div>
</div>
