
@{
    ViewBag.Title = "confirmation";
    Layout = "~/Views/SharedWeb/MainMaster.cshtml";
}

<div class="breads" align="center">
    <div class="breads_inner">
        <div class="pageWidth">
            <div class="title">
                <h3 class="greentext">Your order is successfull</h3>
            </div>
            
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
