@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/NmasterPage.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div class="row">
            <div class="col-sm-5 col-md-6"><label>Start date</label><input type="date" /></div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6"><label>End date</label><input type="date" /></div>
        </div>
        <div class="row">

            <div class="col-sm-5 col-md-6">
                <label>Catogery</label>


                <select required id="selectevent" name="selectevent" onchange="showfield(this.options[this.selectedIndex].value)">
                    <option value="" disabled>Select Event</option>
                    <option value="venue">venue</option>
                    <option value="Photography">Photography</option>
                    <option value="Catering">Catering</option>
                    <option value="Decorators">Decorators</option>
                    <option value="Pandits">Pandits</option>
                    <option value="Mahandi">Mahandi</option>
                 </select>

               
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5 col-md-6">
                <label>Sub Catogery</label>
                <select required id="selectevent" name="selectevent" onchange="showfield(this.options[this.selectedIndex].value)">
                    <option value="" disabled>Select Event</option>
                    <option value="venue">venue</option>
                    <option value="Photography">Photography</option>
                    <option value="Catering">Catering</option>
                    <option value="Decorators">Decorators</option>
                    <option value="Pandits">Pandits</option>
                    <option value="Mahandi">Mahandi</option>
                </select>

            </div>
        </div>

        <div>
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td style="width: 1%;margin: 0;">
                           <span class="span-package2"> Sale price type</span>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <span class="span-package2"> Sale price type</span>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <span class="span-package2"> Sale price type</span>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <span class="span-package2"> Sale price type</span>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <span class="span-package2"> Sale price type</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                         <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                       </td>
                     </tr>
                    <tr>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                    </tr>
                    <tr>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                        <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                        <td style="width: 1%;margin: 0;">
                            <label style="color: black;font-family: lato;">commission ₹</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
