@using MaaAahwanam.Web.Models
@model Tuple<MaaAahwanam.Models.UserLogin, MaaAahwanam.Models.UserDetail>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

<h2>User Registration</h2>

<form method="post">
    <table class="table table-bordered table-responsive" style="width:50%" align="center">
        <tr>
            <td>Enter First Name</td>
            <td><input type="text" class="form-control" placeholder="First Name" name="Item2.FirstName" id="Item2_FirstName" required/></td>
        </tr>
        <tr>
            <td>Enter Last Name</td>
            <td><input type="text" class="form-control" placeholder="Last Name" name="Item2.LastName" id="Item2_LastName" required /></td>
        </tr>
        <tr>
            <td>Enter Email ID</td>
            <td><input type="text" class="form-control" placeholder="Email ID" name="Item1.UserName" id="Item1_UserName" required/></td>
        </tr>
        <tr>
            <td>Enter Password</td>
            <td><input type="password" class="form-control" placeholder="Password" name="Item1.Password" id="Item1_Password" required/></td>
        </tr>
        <tr>
            <td>Enter Mobile Number</td>
            <td><input type="tel" class="form-control" placeholder="Mobile Number" name="Item2.UserPhone" id="Item2_UserPhone" required/></td>
        </tr>
        <tr>
            <td>
                @*<input type="submit" class="btn btn-block btn-success" value="SignIn" />*@
                <button type="submit" class="btn btn-block btn-success" value="UserReg" name="command">SignIn</button>
            </td>
            <td>
                <input type="submit" class="btn btn-block btn-danger" value="Cancel" formaction="/HomePage"/>
            </td>
        </tr>
        <tr>
            <td>
                @*<input type="button" class="btn btn-block" value="SignIn With Facebook" formaction="/UserRegistration/FacebookLogin"/>*@
                @*<a href="/UserRegistration/FacebookLogin" class="btn btn-block">SignIn With Facebook</a>*@
                <input type="submit" class="btn btn-block" value="facebook login" onclick="location.href='@Url.Action("FacebookAuthentication", "UserRegistration")'" />
            </td>
            <td>
                <input type="button" class="btn btn-block btn-default" value="SignIn With Google" />
                @*@Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })*@
            </td>
        </tr>
    </table>
</form>