@if (ViewBag.Photography != null)
{
    foreach (var item in ViewBag.Photography)
    {
        <div class="row mx-0 my-4">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 productBlock">
                <div class="w-100">
                    @if (item.logo != null && item.logo != "")
                    {<img src="~/vendorimages/@item.logo" alt="@item.logo" class="img-fluid">}
                    else if (item.image != null && item.image != "")
                    {<img src="~/vendorimages/@item.image" alt="@item.image" class="img-fluid">}
                    else
                    { <img src="~/noimages.png" alt="No Image Available" class="img-fluid">}
                </div>
                <div class="w-100">
                    <div class="row mx-0 my-2 px-2 d-flex align-items-center">
                        <p class="productName mb-0">@item.businessname</p>
                        <span class="ml-auto"><i class="fa fa-plus addCartIcn" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="w-100">
                    <div class="row px-2 d-flex align-items-center">
                        
                        <div class="col-6 col-md-6">
                            <div class="starRating">
                                <div class="emptyStar"></div>
                                <div class="scoreStar yellowFont" style="width:51%"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-100 d-inline-block">
                    <div class="d-inline float-right yellowFont pr-2 totalReviewCount"> (<span>162</span>) </div>
                </div>
            </div>
        </div>
    }
}



<div class="row mx-0 my-4">
    <div class="mx-auto d-inline-flex">
        <span class="themeBgColorPrimary btnSecondary text-white">
            <i class="fa fa-plus mr-1" aria-hidden="true"></i>More
        </span>
    </div>
</div>