
<div class="row mx-0 mt-4">
    <div class="row block w-100">
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 topVenueBlockImg">
            <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue" />
        </div>
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 px-xl-0 topVenueDetails">
            <p class="mb-0">Taj Banjara</p>
            <div class="w-100">
                <p class="productMinPrice mb-0 themeColor d-inline"> <span>15</span> <small>k</small> - </p>
                <p class="productMaxPrice mb-0 themeColor d-inline"> <span>133</span> <small>k</small> </p>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-12 col-lg-12 col-xl-8 pr-xl-0 pl-0">
                    <div class="starRating pl-0">
                        <div class="emptyStar"></div>
                        <div class="scoreStar yellowFont" style="width:51%"></div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-4 pr-xl-0 pl-0">
                    <div class="d-inline float-left yellowFont pr-xl-0 pr-2 totalReviewCount"> (<span>162</span>) </div>
                </div>
            </div>
            <div class="row mx-0 d-block float-right">
                <i class="fa fa-plus addCartIcn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row block w-100">
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 topVenueBlockImg">
            <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue" />
        </div>
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 px-xl-0 topVenueDetails">
            <p class="mb-0">Taj Banjara</p>
            <div class="w-100">
                <p class="productMinPrice mb-0 themeColor d-inline"> <span>15</span> <small>k</small> - </p>
                <p class="productMaxPrice mb-0 themeColor d-inline"> <span>133</span> <small>k</small> </p>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-12 col-lg-12 col-xl-8 pr-xl-0 pl-0">
                    <div class="starRating pl-0">
                        <div class="emptyStar"></div>
                        <div class="scoreStar yellowFont" style="width:51%"></div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-4 pr-xl-0 pl-0">
                    <div class="d-inline float-left yellowFont pr-xl-0 pr-2 totalReviewCount"> (<span>162</span>) </div>
                </div>
            </div>
            <div class="row mx-0 d-block float-right">
                <i class="fa fa-plus addCartIcn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row block w-100">
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 topVenueBlockImg">
            <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue" />
        </div>
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 px-xl-0 topVenueDetails">
            <p class="mb-0">Taj Banjara</p>
            <div class="w-100">
                <p class="productMinPrice mb-0 themeColor d-inline"> <span>15</span> <small>k</small> - </p>
                <p class="productMaxPrice mb-0 themeColor d-inline"> <span>133</span> <small>k</small> </p>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-12 col-lg-12 col-xl-8 pr-xl-0 pl-0">
                    <div class="starRating pl-0">
                        <div class="emptyStar"></div>
                        <div class="scoreStar yellowFont" style="width:51%"></div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-4 pr-xl-0 pl-0">
                    <div class="d-inline float-left yellowFont pr-xl-0 pr-2 totalReviewCount"> (<span>162</span>) </div>
                </div>
            </div>
            <div class="row mx-0 d-block float-right">
                <i class="fa fa-plus addCartIcn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row block w-100">
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 topVenueBlockImg">
            <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue" />
        </div>
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 px-xl-0 topVenueDetails">
            <p class="mb-0">Taj Banjara</p>
            <div class="w-100">
                <p class="productMinPrice mb-0 themeColor d-inline"> <span>15</span> <small>k</small> - </p>
                <p class="productMaxPrice mb-0 themeColor d-inline"> <span>133</span> <small>k</small> </p>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-12 col-lg-12 col-xl-8 pr-xl-0 pl-0">
                    <div class="starRating pl-0">
                        <div class="emptyStar"></div>
                        <div class="scoreStar yellowFont" style="width:51%"></div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-4 pr-xl-0 pl-0">
                    <div class="d-inline float-left yellowFont pr-xl-0 pr-2 totalReviewCount"> (<span>162</span>) </div>
                </div>
            </div>
            <div class="row mx-0 d-block float-right">
                <i class="fa fa-plus addCartIcn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="row block w-100">
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 topVenueBlockImg">
            <img src="~/newdesign/images/makeup-artist-bg.png" class="img-fluid" alt="Top Venue" />
        </div>
        <div class="col-6 col-sm-6 col-md-12 col-lg-12 col-xl-6 px-xl-0 topVenueDetails">
            <p class="mb-0">Taj Banjara</p>
            <div class="w-100">
                <p class="productMinPrice mb-0 themeColor d-inline"> <span>15</span> <small>k</small> - </p>
                <p class="productMaxPrice mb-0 themeColor d-inline"> <span>133</span> <small>k</small> </p>
            </div>
            <div class="row mx-0">
                <div class="col-12 col-md-12 col-lg-12 col-xl-8 pr-xl-0 pl-0">
                    <div class="starRating pl-0">
                        <div class="emptyStar"></div>
                        <div class="scoreStar yellowFont" style="width:51%"></div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-12 col-xl-4 pr-xl-0 pl-0">
                    <div class="d-inline float-left yellowFont pr-xl-0 pr-2 totalReviewCount"> (<span>162</span>) </div>
                </div>
            </div>
            <div class="row mx-0 d-block float-right">
                <i class="fa fa-plus addCartIcn" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 my-4">
    <div class="mx-auto d-inline-flex">
        <span class="themeBgColorPrimary btnSecondary text-white">
            <i class="fa fa-plus mr-1" aria-hidden="true"></i>More
        </span>
    </div>
</div>