@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/SharedWeb/NMasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row innerPagesBg py-2">
        <div class="col-12 col-sm-8 col-md-8 col-lg-9 mb-2 mb-sm-0 mb-md-0" id="dealssection">
            @{Html.RenderAction("Loadmore", "NLiveDeals"); }
            @*@{Html.RenderPartial("deallist", "NLiveDeals");}*@
            <input type="hidden" id="dealcount" value="@ViewBag.dealcount" />


        </div>
        <div class="col-12 col-sm-4 col-md-4 col-lg-3 pl-md-0 topVenus">
            <div class="px-15">
                <div class="row bgWhite mb-3">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <h3 class="noteWorthybold">
                                Top Venues
                                <div class="blackBorder"></div>
                            </h3>
                        </div>
                        <div class="row mx-0 my-4">
                            @if (ViewBag.records != "")
                            {
                                foreach (var item in ViewBag.records)
                                {
                                    <div class="w-100 block">
                                        <div class="topVenueBlockImg d-inline-block">
                                            <img src="~/vendorimages/@item.image" class="img-fluid" alt="Top Venue" />
                                        </div>
                                        <div class="w-100 topVenueDetails d-inline-block ml-2">
                                            <p class="mb-0">@item.businessname</p>
                                            <a href="#" class="mb-0 themeColor">Profile</a>
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="row bgWhite trendingEvents">
                    <div class="w-100 px-4 py-3">
                        <div class="row mx-0">
                            <h4 class="noteWorthybold">
                                Trending Events
                                <div class="blackBorder"></div>
                            </h4>
                        </div>
                        <div class="row mx-0 my-4">
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <img src="~/newdesign/images/choreographer-bg.png" class="img-fluid" alt="Trending Events" />
                                <div class="d-block mt-2 text-center">
                                    <a href="#" class="themeColor">Wedding</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <img src="~/newdesign/images/choreographer-bg.png" class="img-fluid" alt="Trending Events" />
                                <div class="d-block mt-2 text-center">
                                    <a href="#" class="themeColor">Wedding</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <img src="~/newdesign/images/choreographer-bg.png" class="img-fluid" alt="Trending Events" />
                                <div class="d-block mt-2 text-center">
                                    <a href="#" class="themeColor">Wedding</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <img src="~/newdesign/images/choreographer-bg.png" class="img-fluid" alt="Trending Events" />
                                <div class="d-block mt-2 text-center">
                                    <a href="#" class="themeColor">Wedding</a>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-md-4 block mt-2">
                                <img src="~/newdesign/images/choreographer-bg.png" class="img-fluid" alt="Trending Events" />
                                <div class="d-block mt-2 text-center">
                                    <a href="#" class="themeColor">Wedding</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="margin-top-50">
        <div class="row mx-0">
            <h3 class="noteWorthybold">
                What's Trending
                <div class="blackBorder"></div>
            </h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="owl-carousel owl-theme mt-3">
                    <a href="/NQuestionNaire?servicetype=Hotel" class="item">
                        <img src="~/newdesign/images/hotels-bg.png" alt="Hotels" />
                        <span class="d-block mt-2 themeFontColor">Hotels</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Function Hall" class="item">
                        <img src="~/newdesign/images/functionhalls-bg.png" alt="Function Halls" />
                        <span class="d-block mt-2 themeFontColor">Function Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 themeFontColor">Banquet Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Convention Hall" class="item">
                        <img src="~/newdesign/images/convention-bg.png" alt="Convention Halls" />
                        <span class="d-block mt-2 themeFontColor">Convention Halls</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Resort" class="item">
                        <img src="~/newdesign/images/resort-bg.png" alt="Resort" />
                        <span class="d-block mt-2 themeFontColor">Resort</span>
                    </a>
                    <a href="/NQuestionNaire?servicetype=Banquet Hall" class="item">
                        <img src="~/newdesign/images/banquet-bg.png" alt="Banquet Halls" />
                        <span class="d-block mt-2 themeFontColor">Banquet Halls</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
            $(document).ready(function () {
                var owl = $('.owl-carousel');
                owl.owlCarousel({
                    margin: 10,
                    nav: true,
                    loop: true,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                })
            })
    </script>

    <!------ Auto Complete ---------->

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
            $(function () {
                var availableTags = [
                  "Hyderabad",
                  "Secundrabad",
                  "Vizag",
                  "Mumbai",
                  "Guntur",
                  "Hyderabad",
                  "Secundrabad",
                  "Vizag",
                  "Mumbai",
                  "Guntur",
                  "Hyderabad",
                  "Secundrabad",
                  "Vizag",
                  "Mumbai",
                  "Guntur",
                  "Hyderabad",
                  "Secundrabad",
                  "Vizag",
                  "Mumbai",
                  "Guntur"
                ];
                $("#tags, #tags1").autocomplete({
                    source: availableTags
                });
            });
    </script>

    <script>
    <!--//---- Top Section Area Search ---------->
	  var areaSpan = $(".topSearchArea").find("span:last-child"),
	      topThisUiWidget = $(".topSearchArea").next(".ui-widget");
  $(".topSearchArea").click(function(event){
	  $(areaSpan).css({"display":"none"});
	  $(topThisUiWidget).css({"display":"block"});
	  $(topThisUiWidget).find("input").focus();
	  });
	//    <!------ Top Section Area Search ---------->

	//<!------ Venue Area Search ---------->
	  var venueSearch = $(".venueSearch").find("span"),
	      venueSearchSpan = $(".venueSearch").find("span:first-of-type"),
	      venueUiWidge = $(".venueSearch").find(".ui-widget");
		  $(venueSearch).click(function(){
			  $(venueSearchSpan).css({"display":"none"});
			  $(venueUiWidge).css({"display":"block"});
	          $(venueUiWidge).find("input").focus();
			  });
	//<!------ Venue Area Search ---------->

	//<!------ Category Select ---------->
	var catgSearch = $(".categorySearch > span"),
	    catgSearchSpanFirst = $(".categorySearch > span:first-child"),
	    catResults = $(".categorySearch .categoryResults")
	$(catgSearch).click(function(){
		$(catResults).css("display","block");
		});
	$(catResults).find('li').click(function(){
		var catResultsText = $(this).text();
		$(catgSearchSpanFirst).empty().append(catResultsText);
		$(catResults).css("display","none");
		});
	//<!------ Category Select ---------->

    </script>

    <script>
    function load(typ) {
        var lastrecord;
        if (typ == 'deals') {
            lastrecord = document.getElementById("dealLastRecord").value;
            dealcount = document.getElementById("dealcount").value;
            dealevent = document.getElementById("dealevent").value;

           // alert(dealevent);
        }
        var url = '/NLiveDeals/Loadmore?lastrecord=' + lastrecord + '&eve=' + dealevent;
        $("#dealssection").empty().load(url);

      }


    </script>
}
