
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>:: Vendor Sign Up 2 ::</title>
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="~/newdesign/css/customstyles.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6 logo">
                <img src="~/newdesign/images/logo.png" alt="Logo">
            </div>
            <div class="col-xs-12 col-xs-offset-0 col-md-2 col-md-offset-4 header-simple-phone">
                <p>Customer Service</p>
                <span class="red"><i class="fa fa-phone" aria-hidden="true"></i> 1800 180 180</span>
            </div>
        </div>
    </div>
    <div class="container border-default">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top">
                <h4>Create a Free Maa Aahwanam account</h4>
            </div>
        </div>
        <div class="row progress-area text-center">
            <div class="progress-ui">
                <div class="complete"><span>1</span></div>
                <div class="complete"><span>2</span></div>
                <div><span>3</span></div>
                <div><span>4</span></div>
            </div>
            <div class="progress-content">
                <div>General Information</div>
                <div>Photo Gallery</div>
                <div>Frequently Asked Questions</div>
                <div>Promotions</div>
            </div>
        </div>
        <form>
            <div class="block">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 form-headding border-default-top border-default-bottom">
                        <h4><i class="fa fa-picture-o" aria-hidden="true"></i> Photo Gallery</h4>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-10 col-sm-10 col-md-10 margin-left margin-right padding-top-10 light-sky-blue-bg">
                        <p class="grey">
                            <small>8 photos are required</small><br>
                            <b>Showcase your work by adding high-quality photos of your business and the wedding services or products you offer.</b>
                        </p>
                    </div>
                </div>
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p class="font-size-14"> <i class="fa fa-thumbs-up red padding-right-10" aria-hidden="true"></i>You must add a minimum of one logo and 8 photos </p>
                        <p class="font-size-14 bold"> <i class="fa fa-thumbs-up red padding-right-10" aria-hidden="true"></i>Click and drag images to reorder them </p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="row margin-bottom">
                    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2 text-center upload-file padding-top-10 padding-bottom-10">
                        <h4 class="grey">Select Below</h4>
                        <input type="file" class="opacity-0">
                        <button class="btn btn-default red-bg white">Click Here</button>
                    </div>
                </div>
            </div>
            <div class="block margin-top-30">
                <div class="row margin-top margin-bottom">
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb7.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb1.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb2.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb3.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb4.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb5.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
                        <div class="block thumbnail">
                            <div class="row thumb-img">
                                <img src="~/newdesign/images/thumb6.jpg" alt="Thumb">
                            </div>
                            <div class="row margin-top">
                                <div class="form-group-1 col-xs-12 col-sm-12 col-md-12">
                                    <input type="text" class="form-control" placeholder="Descrption:">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Logo
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optradio">
                                            Photo
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line border-default-bottom"></div>
                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <p class="red"><small><i class="fa fa-times padding-right-5 grey" aria-hidden="true"></i>Remove Photo</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 padding-left-0 padding-right-0 border-default-bottom hr-line"></div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <a href="/VendorSignUp3" class="btn btn-default red-bg white">Next</a>
                </div>
            </div>
        </form>
    </div>
    <script type="text/javascript" src="~/newdesign/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/newdesign/js/bootstrap.js"></script>
</body>
</html>
