
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Contests</title>
</head>
<body>
    <div> 
        <h2>All Contests</h2>
        <a href="/ParticularContest" class="btn btn-primary">Participate Now</a>
        @*<button class="btn btn-primary" formaction="/ParticularContest">Participate Now</button>*@
    </div>
</body>
</html>
