@{
    Layout = "~/Views/SharedWeb/ContestMaster.cshtml";
}

   <div class="container margin-top-50">
        <div class="row">
            @foreach (var item in ViewBag.contests)
            {
                <div class="col-12 col-sm-4 col-md-4 block">
                    <figure> <img src="http://design.maa-aahwanam.com/contest/images/fathers-day-square-image.png" alt="Father's Day" class="img-fluid"> </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">@item.ContestName</h3>
                    <p class="text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="themeRedBgColor text-center py-2"> <a href="/ParticularContest?id=@item.ContentMasterID" class="text-white">Participate Now</a> </div>
                </div>
            }
            @*<div class="col-12 col-sm-4 col-md-4 block">
                    <figure> <img src="http://design.maa-aahwanam.com/contest/images/plainimg.jpg" alt="Father's Day" class="img-fluid"> </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">???</h3>
                    <p class="text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="themeRedBgColor text-center py-2"> <a href="#" class="text-white">Participate Now</a> </div>
                </div>
                <div class="col-12 col-sm-4 col-md-4 block">
                    <figure> <img src="http://design.maa-aahwanam.com/contest/images/plainimg.jpg" alt="Father's Day" class="img-fluid"> </figure>
                    <h3 class="primaryFont secondaryTextColor text-center">???</h3>
                    <p class="text-center"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <div class="themeRedBgColor text-center py-2"> <a href="#" class="text-white">Participate Now</a> </div>
                </div>*@
        </div>
    </div>
    