/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.button{
	height:50px;
}


.imgicon{
	height:35px;
}

.img{
	    height: 25px;
}


.clients-slider a{ 

position: relative; 

}



a.boxed_list h4 {
    
    padding-top: 29px;
}
a.boxed_list {
    text-align: center ;
    padding: 8px;
    border: 1px solid #ededed;
    display: inline-flex;
    -webkit-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 25px;
}


.box_grid figure small {
    position: absolute;
    background-color: #f90303;
    left: -33px;
    top: 10px;
    text-transform: uppercase;
    color: #f9f5f5;
    font-weight: 600;
    border-radius: 0px;
    padding: 11px 42px 17px;
}

.small, small {
    font-size: 90%;
    font-weight: 400;
}
.numberCircle {
    border-radius: 50%;
    
    width: 85px;
    height: 76px;
    padding: 0px;
    background: #532ee1;
    border: 2px solid #fdfbfb;
    color: #f3eeee;
    text-align: center;
    font: 55px open sans, sans-serif;
}

.dot {
    height: 70px;
    width: 70px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.box_grid figure small1 {
    position: absolute;
    background-color: #f90303;
    right: -33px;
    top: 10px;
    text-transform: uppercase;
    color: #f9f5f5;
    font-weight: 600;
    border-radius: 0px;
    padding: 11px 42px 17px;
}

.ui form fields {
margin-left: 125px;
padding-top: 25px;
color: #b7b7b7;
}