@model MaaAahwanam.Models.Availabledates
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/VendorMaster.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.js"></script>
    @*<link rel="stylesheet" type="text/css" href="/css/result-light.css">*@
    <script type="text/javascript" src="http://saumurbikehire.com/booking/datetime/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="http://saumurbikehire.com/booking/datetime/jquery.datetimepicker.css">
    <script src="http://multidatespickr.sourceforge.net/jquery-ui.multidatespicker.js"></script>

    <style type="text/css">
        .ui-datepicker {
            width: 40em;
            padding: .2em .2em 0;
            display: none;
            background-color: white;
        }

            .ui-datepicker table {
                width: 100%;
                font-size: .7em;
                border-collapse: collapse;
                margin: 0 0 .4em;
            }

        .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
            background: #ffffff;
        }

        .ui-datepicker td span, .ui-datepicker td a {
            padding: 20px 15px !important;
            background-color: white;
        }

        .ui-datepicker td.ui-state-disabled > span {
            background: green;
            font-size: large;
            color: black;
        }

        .ui-datepicker td.ui-state-disabled {
            opacity: 70;
        }

        .ui-datepicker-prev ui-corner-all ui-state-hover ui-datepicker-prev-hover {
            background-image: url(/CSSWeb/images/left_arrow.png);
        }

        .ui-state-default ui-state-active > a {
            background: green;
        }

        /*.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
            border: 2px solid #e21212;
        }*/

        .ui-datepicker-today.ui-datepicker-current-day a.ui-state-highlight,.ui-state-default ui-state-highlight a.ui-state-active {
            border-color:  #ffffff;
            border: 1px solid #d3d3d3;
            /*background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
            color: #212121;*/
        }
    </style>
    <title></title>

    @*<script type='text/javascript'>
            $(function () {
                var setMinTime = "";
                var today = new Date();
                var lastDate = new Date(today.getFullYear(), today.getMonth(0) + 1, 31);
                $('#products_delivery').datetimepicker({
                    inline: true,
                    lang: 'en',
                    startDate: '-1m',
                    endDate: lastDate,
                    timepicker: false,
                    format: 'Y/m/d',
                    formatDate: 'Y/m/d',
                });
            });
        </script>*@
</head>

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Invitation</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../Index/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="index.html">Services</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Invitation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<body>
    @using (Html.BeginForm("Index", "AvailableDates", FormMethod.Post, new { @class = "form-signin", @id = "register_form", @autocomplete = "off", @enctype = "multipart/form-data" }))
    {
        @*@Html.TextAreaFor(m => m.availabledate, new { @id = "products_delivery", @name = "products_delivery", @class = "some_class", required = "required" })*@

        <div id="products_delivery" align="center"></div>

        <br /><br />
        <div align="center"><button type="submit" class="btn btn-big btn-green">Save Date<i class="ti-angle-double-right"></i></button></div>

        @Html.HiddenFor(m => m.availabledate,new { @style = "width: 500px;" })
    }

    <script>
        $(function () {
            getdates();
        });

        var unavailableDates;
        function getdates() {
            $.ajax({
                type: "POST",
                url: "/AvailableDates/GetDates",
                data: '',
                success: function (data) {
                    debugger;
                    unavailableDates = data; var today = new Date();
                    $('#products_delivery').multiDatesPicker({
                        altField: '#availabledate',
                        dateFormat: 'dd/mm/yyyy', inline: true, selectMultiple: true,//minDate: 0,maxDate: 30,
                        beforeShowDay: function (date) {
                            var dmy = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
                            debugger;
                            if ($.inArray(dmy, unavailableDates) == -1) {
                                return [true, ""];
                            } else {
                                return [false, "myclass", "Unavailable"];
                            }
                        }
                    });
                },
                dataType: "json",
                traditional: true
            });
        }
    </script>
    <script>
        $('.ui-state-default ui-state-active').click(function () { alert("hi") });
    </script>
</body>
</html>