@model MaaAahwanam.Models.Availabledates
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/SharedWeb/VendorMaster.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.8.3.js"></script>
    @*<link rel="stylesheet" type="text/css" href="/css/result-light.css">*@
    @*<script type="text/javascript" src="http://saumurbikehire.com/booking/datetime/jquery.datetimepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="http://saumurbikehire.com/booking/datetime/jquery.datetimepicker.css">*@
    <script src="http://multidatespickr.sourceforge.net/jquery-ui.multidatespicker.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link href="~/CSSWeb/dates.css" rel="stylesheet" />
       
    <title></title>

    @*<script type='text/javascript'>
            $(function () {
                var setMinTime = "";
                var today = new Date();
                var lastDate = new Date(today.getFullYear(), today.getMonth(0) + 1, 31);
                $('#products_delivery').datetimepicker({
                    inline: true,
                    lang: 'en',
                    startDate: '-1m',
                    endDate: lastDate,
                    timepicker: false,
                    format: 'Y/m/d',
                    formatDate: 'Y/m/d',
                });
            });
        </script>*@
</head>

@section Navigation
{
    <div class="breads">
        <div class="breads_inner">
            <div class="pageWidth">
                <div class="title">
                    <h3>Invitation</h3>
                </div>
                <div class="breadcrumbs">
                    <ul>
                        <li><a href="../Index/index">Home</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li><a href="index.html">Services</a></li>
                        <li><i class="breads_arrow"></i></li>
                        <li>Invitation</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
<body>
    @using (Html.BeginForm("Index", "AvailableDates", FormMethod.Post, new { @class = "form-signin", @id = "register_form", @autocomplete = "off", @enctype = "multipart/form-data" }))
    {
        @*@Html.TextAreaFor(m => m.availabledate, new { @id = "products_delivery", @name = "products_delivery", @class = "some_class", required = "required" })*@

        <div id="products_delivery" align="center"></div>

        <br /><br />
        <div align="center">
            <button type="submit" name="command" value="save" class="btn btn-big btn-green">Save Date<i class="ti-angle-double-right"></i></button>
            <button type="submit" name="command" value="remove" class="btn btn-big btn-red">Remove Selected<i class="ti-trash"></i></button>
        </div>

        @Html.HiddenFor(m => m.availabledate, new { @style = "width: 500px;" })

        <input type="hidden" id="removedates" />
    }

    <script>
        $(function () {
            getdates();
        });

        var unavailableDates='';
        function getdates() {
            $.ajax({
                type: "POST",
                url: "/AvailableDates/GetDates",
                data: '',
                success: function (data) {
                    debugger;
                    var final = '';
                    for (var i = 0; i < data.length; i++) {
                        var dateslist = data[i].split('/');
                        if (dateslist[0] < 10 && dateslist[1] < 10) {
                            var datepart = dateslist[0].slice(-1, 2) + '/' + dateslist[1].slice(-1, 2) + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else if (dateslist[0] < 10 && dateslist[1] > 10) {
                            var datepart = dateslist[0].slice(-1, 2) + '/' + dateslist[1] + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else if (dateslist[0] > 10 && dateslist[1] < 10) {
                            var datepart = dateslist[0] + '/' + dateslist[1].slice(-1, 2) + '/' + dateslist[2];
                            final = final + datepart + ",";
                        }
                        else {
                            final = final + data[i] + ",";
                        }
                        unavailableDates =  final.slice(0, -1).split(',') ;
                    }
                    var today = new Date();
                    
                    $('#products_delivery').multiDatesPicker({
                        altField: '#availabledate', minDate:today, minDate: '-1m', maxDate: '+1m',
                        dateFormat: 'dd/mm/yyyy', //addDisabledDates: [unavailableDates.split(',')],
                        beforeShowDay: function (date) {
                            var dmy = date.getDate() + "/" + (date.getMonth() + 1) + "/" + date.getFullYear(); 
                            debugger;
                            if ($.inArray(dmy, unavailableDates) == -1) {
                                return [true, ""];
                            } else {
                                return [false, "myclass", "Unavailable"];
                                
                            }
                        }
                    });
                },
                dataType: "json",
                traditional: true
            });
        }
    </script>
    <script>
        $("body").on('click', ".ui-datepicker td.myclass > span", function () {
            var date = new Date();
            var today = new Date().getDate() + 1;
            var value = $(this).html();
            var removeddates = $('#removedates').val();
            var date = value + "/" + (date.getMonth() + 1) + "/" + date.getFullYear();
            if (value > today) {
                $(this).css('background', 'red');
                $('#removedates').val(date);
                appendWords(date,this);
            }
            else {
                alert("Cannot Select This Date");
            }
            
        });

        function appendWords(d,t) {
            var flag = true;
            var resultObj = $("#availabledate");
            var outputObj = $("#removedates");
            var testing = resultObj.val().split(",");
            for (var i = 0; i < testing.length; i++) {
                if (testing[i] == outputObj.val()) {
                    flag = false;
                    $(t).css('background', 'green');
                    var index = testing[i].indexOf(outputObj.val());
                    if (index > -1) {
                        testing.splice(i, 1);
                        var stringToAppend = testing ;
                        resultObj.val(stringToAppend + '');
                        var appended = $("#availabledate").val();
                    }
                }
            }
            
            if (flag) {
                var stringToAppend = resultObj.val().length > 0 ? resultObj.val() + "," : "";
                resultObj.val(stringToAppend + outputObj.val());
                 var appended = $("#availabledate").val();
            }
        }        
    </script>

    <script>
        $("body").on('click', "ui-state-default > a", function () { alert("hi") });
    </script>
</body>
</html>

@*//$("#availabledate").each(function () {
    //    if (testing == outputObj.val()) {
    //        flag = false;
    //        alert("duplicate");
    //    }
    //});*@

@*//function appendWords(d) {
        //    var resultObj = $("#availabledate");
        //    var outputObj = $("#removedates");
        //    var stringToAppend = resultObj.val().length > 0 ? resultObj.val() + "," : "";
        //    resultObj.val(stringToAppend + outputObj.val());
        //    var appended = $("#availabledate").val();
        //}
        //function appendWords(d) {
        //    var resultObj = $("#availabledate");
        //    var outputObj = $("#removedates");
        //    var match_found = 0;
        //    if (outputObj.length > 0) {
        //        match_found = match(outputObj.val());
        //    }
        //    if (match_found == 0) {
        //        var stringToAppend = resultObj.val().length > 0 ? resultObj.val() + "," : "";
        //        resultObj.val(stringToAppend + outputObj.val());
        //        var appended = $("#availabledate").val();
        //    }
        //}

        //function match(str) {
        //    var retval = 0;
        //    $("#availabledate").each(function () {
        //        if (str == $(this).text()) {
        //            retval = 1;
        //            return false;
        //        }
        //    });
        //    return retval;
        //}*@