
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}
<div class="container-fluid login-popup">
    <div class="login-form">
        <div class="form-group">
            <label>User Name</label>
            <input name="UserName" id="UserName" type="text" class="form-control" placeholder="" value="">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input name="Password" id="Password" type="password" class="form-control" placeholder="">
        </div>
        <div class="form-group text-center">
            <button class="btn btn-primary" type="submit" value="Login">Sign in</button>
        </div>
        <div class="form-group text-center">
            <a href="#">Forgot Password ?</a>
        </div>
        <i class="fa fa-times" aria-hidden="true"></i>
    </div>
</div>
<div class="container-fluid">
    <div class="row" style="position: relative;">
        <article>

            <!-- Search box Start -->

            <form>
                <h1>
                    I am a
                    <select id="mark" name="mark">
                        <!--<option value="">Dummy</option>-->
                        <option value="host">Host</option>
                        <option value="vendor">Vendor</option>
                    </select>
                    I want to
                    <select id="series" name="series">
                        <!--<option value="">Dummy</option>-->

                        <option value="register" data-chained="vendor">Register as a Vendor</option>
                        <option value="explore" data-chained="vendor">Explore the Portal</option>
                        <option value="account" data-chained="vendor">Go to My Account</option>

                        <option value="partners" data-chained="host">Explore Packages/Services/Partners</option>
                        <option value="portalwebsite" data-chained="host">Explore the Portal Website</option>
                    </select>

                    I need / I am a
                    <select id="model" name="model">
                        <!--<option value="">Dummy</option>-->

                        <option value="eventmanager" data-chained="account">Event manager</option>
                        <option value="groomingspecialists" data-chained="register">Grooming specialists</option>
                        <option value="performersartists" data-chained="register">Performers and Artists</option>
                        <option value="venuefood" data-chained="register">Venue/Food/Event Decor/Tents</option>
                        <option value="photographer" data-chained="explore">Photographer/Videographer/Website developer</option>
                        <option value="dj" data-chained="explore">DJ/Band and Dhol/Audio visual support</option>
                        <option value="invitationcards" data-chained="explore">Invitation cards supplier/Gifts supplier</option>
                        <option value="travel" data-chained="account">Travel and ticketing service</option>

                        <option value="eventmanager" data-chained="partners">Event manager</option>
                        <option value="groomingspecialists" data-chained="portalwebsite">Grooming specialists</option>
                        <option value="performersartists" data-chained="portalwebsite">Performers and artists</option>
                        <option value="venuefood" data-chained="portalwebsite">Venue/Food/Event Decor/Tents</option>
                        <option value="photographer" data-chained="portalwebsite">Photographer/Videographer/Website developer</option>
                        <option value="dj" data-chained="partners">DJ/Band and Dhol/Audio visual support</option>
                        <option value="invitationcards" data-chained="partners">Invitation cards supplier/Gifts supplier</option>
                        <option value="travel" data-chained="partners">Travel and ticketing service</option>
                    </select>
                    <br>
                    <div class="btn-group">
                        <button type="button" id="btnSearch" class="btn btn-primary btn-outline">Go <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </h1>
            </form>
        </article>
        <!--<video poster="images/slider-1.jpg" playsinline="" autoplay muted="" loop>
          <source src="images/6580310.mp4" type="video/mp4">
        </video>-->
        <div class="carousel-area">
        </div>
    </div>
</div>
<div class="container-fluid steps-bg">
    <div class="how-it-work margin-top-100">
        <div class="row margin-bottom">
            <h3 class="text-center margin-top-0 margin-bottom-30">Plan Your Event in 3 Simple Steps</h3>
        </div>
        <div class="row steps margin-top">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <ul class="tabs">
                    <li class="tab1 tab-shadow">Step 1</li>
                    <li class="tab2">Step 2</li>
                    <li class="tab3">Step 3</li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
                <ul class="tab-content">
                    <li>
                        <h5>Discover and Select Categories</h5>
                        <span class="fa-stack"> <i class="fa fa-circle"></i> <i class="fa fa-list fa-inverse"></i> </span>
                        <p>Choose categories of products/services based on your event</p>
                    </li>
                    <li>
                        <h5>Explore and Shortlist</h5>
                        <span class="fa-stack"> <i class="fa fa-circle"></i> <i class="fa fa-thumbs-up fa-inverse"></i> </span>
                        <p>Browse through various profiles and choose the ones that suit your needs</p>
                    </li>
                    <li>
                        <h5>Confirm and Connect</h5>
                        <span class="fa-stack"> <i class="fa fa-circle"></i> <i class="fa fa-map-marker fa-inverse"></i> </span>
                        <p>Send messages to the chosen profiles to discuss your requirements and confirm your booking only when you are convinced</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row margin-bottom-30">
            <div class="venue-quote-btn text-center">
                <a href="#">Start Planing</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row gallery">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0 gallery-right">
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/caterer.jpg" alt="Catrers">
                <h5>Cateres</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/Venues.jpg" alt="Venues" />
                <h5>Venues</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/photographer.jpg" alt="Photographer" />
                <h5>Photographers</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/invitation.jpg" alt="invitation" />
                <h5>Invitation</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/makeup.jpg" alt="Makeup Artist" />
                <h5>Makeup Artist</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/wedding-planner.jpg" alt="Wedding Planner" />
                <h5>Wedding Planner</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/wedding-decor.jpg" alt="Wedding-Decor" />
                <h5>Wedding Decor</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/mehendi.jpg" alt="Mehendi Artist" />
                <h5>Mehendi Artist</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/beautynwellness.jpg" alt="Beauty &and; Wellness" />
                <h5>Beauty & Wellness</h5>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 gallery-left">
            <img src="~/newdesign/images/wedding-banner.jpg" alt="Wedding-Banner">
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30">Popular Wedding Vendors</h3>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/ashoka.jpg" alt="Ashoka">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Title One Dummy</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:10%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>350 - 650</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>700 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/tajkrishna.jpg" alt="Taj">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Taj Krishna</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:25%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>120 - 3000</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>850 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/gkvhb.jpg" alt="gkvhb">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Goteti Kalyana Vedika, L.B. Nagar</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:10%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>300 - 2500</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/Westina.jpg" alt="Westina">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>The Westin, Madhapur</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>700 - 800</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>1400 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/ashiana.jpg" alt="ashiana">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Ashiana, Banjara Hills</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:25%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>450 - 700</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/arasn.jpg" alt="arasn">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Aalankrita, Shamirpet</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:70%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>350 - 600</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>800 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/abodee.jpg" alt="abodee">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Abode Hotel, Lakdikapul</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:40%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>400</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>550 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/amcc.jpg" alt="amcc">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Amrutha Castle, Saifabad</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:55%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>100 - 200</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>750 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/cpha.jpg" alt="cpha">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Chowmahalla Palace, Khilwat</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:60%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>700</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/fpvhb.jpg" alt="fpvhb">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Fortune Park Vallabha, Banjara Hills</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:20%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>150</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>750 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/ashiana.jpg" alt="ashiana">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>Ashiana, Banjara Hills</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:25%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>450 - 700</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>N/A <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <div class="venue-details">
                <a href="#">
                    <img src="~/newdesign/images/Westina.jpg" alt="Westina">
                </a>
                <div class="venue-footer">
                    <div class="venue-info">
                        <div class="card-title">
                            <a href="#"><h4>The Westin, Madhapur</h4></a>
                            <div class="venue-score">
                                <div class="star-rating">
                                    <div class="bg"></div>
                                    <div class="score" style="width:50%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content text-center">
                            <div class="content">
                                <i class="fa fa-user" aria-hidden="true"></i>
                                <div class="count">
                                    <p>700 - 800</p>
                                    <span>Guests</span>
                                </div>
                            </div>
                            <div class="content">
                                <div class="count">
                                    <p>1400 <i class="fa fa-check" aria-hidden="true"></i></p>
                                    <span>Price Per Plate</span>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="venue-quote-btn text-center"><a href="#">Get Quote</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <a href="#" class="more-btn">More Wedding Vendors</a>
    </div>
    <div class="row margin-top-100">
        <h3 class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-0 margin-bottom-30 text-center">Photos</h3>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="slider1">
                <div class="slide"><img src="~/newdesign/images/thumb4.jpg" alt="Photography"></div>
                <div class="slide"><img src="~/newdesign/images/thumb1.jpg" alt="Photography"></div>
                <div class="slide"><img src="~/newdesign/images/thumb3.jpg" alt="Photography"></div>
                <div class="slide"><img src="~/newdesign/images/thumb5.jpg" alt="Photography"></div>
                <div class="slide"><img src="~/newdesign/images/thumb7.jpg" alt="Photography"></div>
                <div class="slide"><img src="~/newdesign/images/thumb2.jpg" alt="Photography"></div>
            </div>
        </div>
    </div>
    <div class="row margin-top-30">
        <div class="col-md-12 more-updates text-center">
            <div class="text-center">
                <h4>For More Updates</h4>
            </div>
            <div class="more-updates-left">
                <p>CALL US FROM ANY CITY</p>
                <p>9006278561</p>
            </div>
            <div class="more-updates-middle">OR</div>
            <div class="more-updates-right">
                <p>HAVE US CALL YOU</p>
                <p>WE WILL GET BACK SOON</p>
            </div>
        </div>
    </div>
</div>
<footer class="container-fluid margin-top-30">
    <div class="row">&copy;&nbsp;Ahwanam 2017. All right reserved.</div>
</footer>
@section scripts{
    <script type="text/javascript">
        /*-------- Popular Vendors slides --------*/
        $(document).ready(function () {
            $('.slider1').bxSlider({
                slideWidth: 300,
                minSlides: 2,
                maxSlides: 6,
                slideMargin: 10
            });
        });
        /*-------- Popular Vendors slides --------*/
/*-------- Chained Jquery --------*/
$(function() {

    /* For jquery.chained.js */
    $("#series").chained("#mark");
    $("#model").chained("#series");
  });
/*-------- Chained Jquery --------*/

/*-------- Equal Heights --------*/
$(document).ready(function(){
	if(screen.width <  481){
		$(".gallery-left").height();
		}else{
			$(".gallery-left").height($(".gallery-right").height());
			}
	});
/*-------- Equal Heights --------*/
/*-------- Steps Tabs --------*/
$(".steps ul.tabs li:first-of-type").click(function () {
    $(".steps ul.tab-content").css("transform", "translateY(0%)");
    $(this).addClass(" tab-shadow");
    $(this).nextAll("li").removeClass(" tab-shadow");
    $(this).prevAll("li").removeClass(" tab-shadow");
});
$(".steps ul.tabs li:nth-of-type(2)").click(function () {
    $(".steps ul.tab-content").css("transform", "translateY(-33.333%)");
    $(this).addClass(" tab-shadow");
    $(this).nextAll("li").removeClass(" tab-shadow");
    $(this).prevAll("li").removeClass(" tab-shadow");
});
$(".steps ul.tabs li:last-of-type").click(function () {
    $(".steps ul.tab-content").css("transform", "translateY(-66.666%)");
    $(this).addClass(" tab-shadow");
    $(this).nextAll("li").removeClass(" tab-shadow");
    $(this).prevAll("li").removeClass(" tab-shadow");
});
/*-------- Steps Tabs --------*///<!----- Login Pop Up --------->
$("a.login-popup-display").click(function () {
    $(".login-popup").css("display", "block");
});
$(".login-popup .login-form i").click(function () {
    $(this).parents(".login-popup").css("display", "none");
});
//<!----- Login Pop Up --------->
</script>
    }

