
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/SharedWeb/MasterPage.cshtml";
}

<div class="container-fluid">
    <div class="row" style="position: relative;">
        <article>

            <!-- Search box Start -->

            <form>
                <h1>
                    I am a
                    <select id="mark" name="mark">
                        <!--<option value="">Dummy</option>-->
                        <option value="host">Host</option>
                        <option value="vendor">Vendor</option>
                    </select>
                    I want to
                    <select id="series" name="series">
                        <!--<option value="">Dummy</option>-->

                        <option value="register" data-chained="vendor">Register as a Vendor</option>
                        <option value="explore" data-chained="vendor">Explore the portal</option>
                        <option value="account" data-chained="vendor">Go to my Account</option>

                        <option value="partners" data-chained="host">Explore packages/services/partners</option>
                        <option value="portalwebsite" data-chained="host">Explore the portalwebsite</option>
                    </select>

                    I need / I am a
                    <select id="model" name="model">
                        <!--<option value="">Dummy</option>-->

                        <option value="eventmanager" data-chained="account">Event manager</option>
                        <option value="groomingspecialists" data-chained="register">Grooming specialists</option>
                        <option value="performersartists" data-chained="register">Performers and artists</option>
                        <option value="venuefood" data-chained="register">Venue/Food/Event Decor/Tents</option>
                        <option value="photographer" data-chained="explore">Photographer/Videographer/Website developer</option>
                        <option value="dj" data-chained="explore">DJ/Band and Dhol/Audio visual support</option>
                        <option value="invitationcards" data-chained="explore">Invitation cards supplier/Gifts supplier</option>
                        <option value="travel" data-chained="account">Travel and ticketing service</option>

                        <option value="eventmanager" data-chained="partners">Event manager</option>
                        <option value="groomingspecialists" data-chained="portalwebsite">Grooming specialists</option>
                        <option value="performersartists" data-chained="portalwebsite">Performers and artists</option>
                        <option value="venuefood" data-chained="portalwebsite">Venue/Food/Event Decor/Tents</option>
                        <option value="photographer" data-chained="portalwebsite">Photographer/Videographer/Website developer</option>
                        <option value="dj" data-chained="partners">DJ/Band and Dhol/Audio visual support</option>
                        <option value="invitationcards" data-chained="partners">Invitation cards supplier/Gifts supplier</option>
                        <option value="travel" data-chained="partners">Travel and ticketing service</option>
                    </select>
                    <br>
                    <div class="btn-group">
                        <button type="button" id="btnSearch" class="btn btn-primary btn-outline">Go <span class="glyphicon glyphicon-arrow-right"></span></button>
                    </div>
                </h1>
            </form>
        </article>
        <!--<video poster="images/slider-1.jpg" playsinline="" autoplay muted="" loop>
          <source src="images/6580310.mp4" type="video/mp4">
        </video>-->
        <div class="carousel-area">
        </div>
    </div>
</div>
<div class="container">
    <div class="how-it-work margin-top-100">
        <div class="row margin-bottom">
            <h3 class="text-center margin-top-0 margin-bottom-0">How it work</h3>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 block text-center">
                <h5>Discover & Shortlist</h5>
                <span class="fa-stack">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-list fa-inverse"></i>
                </span>
                <p>Browse <a href="#">Venues</a> &amp; <a href="#">Vendors</a> <br>to create your shortlist</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 block text-center">
                <h5>Guided Visits</h5>
                <span class="fa-stack">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-thumbs-up fa-inverse"></i>
                </span>
                <p>Schedule guided tours of your shortlisted venues & meetings with your shortlisted vendors</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
                <h5>Book</h5>
                <span class="fa-stack">
                    <i class="fa fa-circle"></i>
                    <i class="fa fa-map-marker fa-inverse"></i>
                </span>
                <p>Like a venue or vendor? <br>Get Weddingz final quotes &amp; <br>book at our <span class="text-primary">Guaranteed Best <br>Prices</span> upto 30% off</p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row gallery">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 gallery-left">
            <img src="~/newdesign/images/wedding-banner.jpg" alt="Wedding-Banner">
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 padding-left-0 padding-right-0 gallery-right">
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/caterer.jpg" alt="Catrers">
                <h5>Cateres</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/Venues.jpg" alt="Venues" />
                <h5>Venues</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/photographer.jpg" alt="Photographer" />
                <h5>Photographers</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/invitation.jpg" alt="invitation" />
                <h5>Invitation</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/makeup.jpg" alt="Makeup Artist" />
                <h5>Makeup Artist</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/wedding-planner.jpg" alt="Wedding Planner" />
                <h5>Wedding Planner</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/wedding-decor.jpg" alt="Wedding-Decor" />
                <h5>Wedding Decor</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/mehendi.jpg" alt="Mehendi Artist" />
                <h5>Mehendi Artist</h5>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-4 col-lg-4 padding-left-0 padding-right-0">
                <img src="~/newdesign/images/beautynwellness.jpg" alt="Beauty &and; Wellness" />
                <h5>Beauty & Wellness</h5>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

/*-------- Chained Jquery --------*/
$(function() {

    /* For jquery.chained.js */
    $("#series").chained("#mark");
    $("#model").chained("#series");
  });
/*-------- Chained Jquery --------*/

/*-------- Equal Heights --------*/
$(document).ready(function(){
	if(screen.width <  481){
		$(".gallery-left").height();
		}else{
			$(".gallery-left").height($(".gallery-right").height());
			}
	});
/*-------- Equal Heights --------*/

</script>
    }

